interactions:
- request:
    body: '{"children": [{"object": "block", "type": "heading_2", "heading_2": {"text":
      [{"type": "text", "text": {"content": "Lacinato kale"}}]}}, {"object": "block",
      "type": "paragraph", "paragraph": {"text": [{"type": "text", "text": {"content":
      "Lacinato kale is a variety of kale with a long tradition in Italian cuisine,
      especially that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur
      kale, kale, flat back kale, palm tree kale, or black Tuscan palm.", "link":
      {"url": "https://en.wikipedia.org/wiki/Lacinato_kale"}}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/77897eca-aae1-4e6a-906f-e01e5a3c2385/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"b2d2ca05-1e48-43e0-90d6-61c9bc45fd53","created_time":"2022-02-26T04:00:00.000Z","last_edited_time":"2022-02-26T04:00:00.000Z","created_by":{"object":"user","id":"b804c1af-b5ba-45b3-977b-e9f2f05b437d"},"last_edited_by":{"object":"user","id":"b804c1af-b5ba-45b3-977b-e9f2f05b437d"},"has_children":false,"archived":false,"type":"heading_2","heading_2":{"text":[{"type":"text","text":{"content":"Lacinato
      kale","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lacinato
      kale","href":null}]}},{"object":"block","id":"7a08bfd1-4626-4fcf-8308-f604c5ac6d81","created_time":"2022-02-26T04:00:00.000Z","last_edited_time":"2022-02-26T04:00:00.000Z","created_by":{"object":"user","id":"b804c1af-b5ba-45b3-977b-e9f2f05b437d"},"last_edited_by":{"object":"user","id":"b804c1af-b5ba-45b3-977b-e9f2f05b437d"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"text":[{"type":"text","text":{"content":"Lacinato
      kale is a variety of kale with a long tradition in Italian cuisine, especially
      that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale,
      kale, flat back kale, palm tree kale, or black Tuscan palm.","link":{"url":"https://en.wikipedia.org/wiki/Lacinato_kale"}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lacinato
      kale is a variety of kale with a long tradition in Italian cuisine, especially
      that of Tuscany. It is also known as Tuscan kale, Italian kale, dinosaur kale,
      kale, flat back kale, palm tree kale, or black Tuscan palm.","href":"https://en.wikipedia.org/wiki/Lacinato_kale"}]}}],"next_cursor":null,"has_more":false}'
    headers: {}
    status_code: 200
version: 1
