interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2021-08-16'
    method: GET
    uri: https://api.notion.com/v1/blocks/b8624a96-0a9e-4b14-8ef8-464aae13f9b9
  response:
    content: '{"object":"block","id":"b8624a96-0a9e-4b14-8ef8-464aae13f9b9","created_time":"2022-02-25T16:22:00.000Z","last_edited_time":"2022-02-25T16:38:00.000Z","created_by":{"object":"user","id":"490a7c39-6a77-467d-a04f-8a1a0983fdfc"},"last_edited_by":{"object":"user","id":"490a7c39-6a77-467d-a04f-8a1a0983fdfc"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"text":[{"type":"text","text":{"content":"TEST_BLOCK","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"TEST_BLOCK","href":null}]}}'
    headers: {}
    status_code: 200
version: 1
