interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2021-08-16'
    method: GET
    uri: https://api.notion.com/v1/blocks/69bf5c26-ff31-4d18-a331-c6d1746dec26/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"ab8405b1-a7f7-42ef-a673-75f319838351","created_time":"2022-02-26T04:14:00.000Z","last_edited_time":"2022-02-26T04:14:00.000Z","created_by":{"object":"user","id":"490a7c39-6a77-467d-a04f-8a1a0983fdfc"},"last_edited_by":{"object":"user","id":"490a7c39-6a77-467d-a04f-8a1a0983fdfc"},"has_children":false,"archived":false,"type":"bulleted_list_item","bulleted_list_item":{"text":[{"type":"text","text":{"content":"1st
      element","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"1st
      element","href":null}]}},{"object":"block","id":"db1a418f-493b-40f9-85a1-5261d2ed2b83","created_time":"2022-02-26T04:14:00.000Z","last_edited_time":"2022-02-26T04:14:00.000Z","created_by":{"object":"user","id":"490a7c39-6a77-467d-a04f-8a1a0983fdfc"},"last_edited_by":{"object":"user","id":"490a7c39-6a77-467d-a04f-8a1a0983fdfc"},"has_children":false,"archived":false,"type":"bulleted_list_item","bulleted_list_item":{"text":[{"type":"text","text":{"content":"2nd
      element","link":null},"annotations":{"bold":fal[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2021-08-16'
    method: GET
    uri: https://api.notion.com/v1/blocks/69bf5c26-ff31-4d18-a331-c6d1746dec26/children?page_size=2
  response:
    content: '{"object":"list","results":[{"object":"block","id":"ab8405b1-a7f7-42ef-a673-75f319838351","created_time":"2022-02-26T04:14:00.000Z","last_edited_time":"2022-02-26T04:14:00.000Z","created_by":{"object":"user","id":"490a7c39-6a77-467d-a04f-[...]
