interactions:
- request:
    body: '{"to_do": {"text": [{"type": "text", "text": {"content": "Lacinato kale"}}],
      "checked": false}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/0f06f246-1250-4da8-9100-f8fe0a537433
  response:
    content: '{"object":"block","id":"0f06f246-1250-4da8-9100-f8fe0a537433","created_time":"2022-02-25T17:36:00.000Z","last_edited_time":"2022-02-25T17:36:00.000Z","created_by":{"object":"user","id":"490a7c39-6a77-467d-a04f-8a1a0983fdfc"},"last_edited_by":{"object":"user","id":"b804c1af-b5ba-45b3-977b-e9f2f05b437d"},"has_children":false,"archived":false,"type":"to_do","to_do":{"checked":false,"text":[{"type":"text","text":{"content":"Lacinato
      kale","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Lacinato
      kale","href":null}]}}'
    headers: {}
    status_code: 200
version: 1
