interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2021-08-16'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3940db22-35c6-4b39-9db4-615f7485aa34
  response:
    content: '{"object":"block","id":"3940db22-35c6-4b39-9db4-615f7485aa34","created_time":"2022-02-26T03:48:00.000Z","last_edited_time":"2022-02-26T03:51:00.000Z","created_by":{"object":"user","id":"490a7c39-6a77-467d-a04f-8a1a0983fdfc"},"last_edited_by":{"object":"user","id":"b804c1af-b5ba-45b3-977b-e9f2f05b437d"},"has_children":false,"archived":true,"type":"paragraph","paragraph":{"text":[{"type":"text","text":{"content":"TEST_BLOCK_DELETE","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"TEST_BLOCK_DELETE","href":null}]}}'
    headers: {}
    status_code: 200
version: 1
