interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "08a6286e3aaf4adcbee89ba2537d1954"},
      "title": [{"type": "text", "text": {"content": "test9"}}], "properties": {"Name":
      {"title": {}}, "Description": {"rich_text": {}}, "In stock": {"checkbox": {}},
      "Food group": {"select": {"options": [{"name": "\ud83e\udd66 Vegetable", "color":
      "green"}, {"name": "\ud83c\udf4e Fruit", "color": "red"}, {"name": "\ud83d\udcaa
      Protein", "color": "yellow"}]}}, "Price": {"number": {"format": "dollar"}},
      "Last ordered": {"date": {}}, "Store availability": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Duc Loi Market", "color": "blue"}, {"name":
      "Rainbow Grocery", "color": "gray"}, {"name": "Nijiya Market", "color": "purple"},
      {"name": "Gus''s Community Market", "color": "yellow"}]}}, "+1": {"people":
      {}}, "Photo": {"files": {}}}, "icon": {"type": "emoji", "emoji": "\ud83c\udf89"}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: "{\"object\":\"database\",\"id\":\"6bcede63-a533-4f7e-9a79-26850862ad7d\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F389\"},\"created_time\":\"2021-10-15T15:20:00.000Z\",\"last_edited_time\":\"2021-10-15T15:20:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"test9\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"test9\",\"href\":null}],\"properties\":{\"Description\":{\"id\":\"%3C%5CrU\",\"name\":\"Description\",\"type\":\"rich_text\",\"rich_text\":{}},\"Last
      ordered\":{\"id\":\"JH%5E%3B\",\"name\":\"Last ordered\",\"type\":\"date\",\"date\":{}},\"Food
      group\":{\"id\":\"JRPI\",\"name\":\"Food group\",\"type\":\"select\",\"select\":{\"options\":[{\"id\":\"d6c38f94-58ea-4cdc-a330-fb542ddb05a0\",\"name\":\"\U0001F966
      Vegetable\",\"color\":\"green\"},{\"id\":\"c2a01337-489a-457f-a1d2-b7dc12f86079\",\"name\[...]
