interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-09-15 21:10:28.988714"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"fb6b4fbe-832b-455f-ba38-6799b81aca57","created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-09-15 21:10:28.988714","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-09-15 21:10:28.988714","href":null}]}},"url":"https://www.notion.so/Test-2023-09-15-21-10-28-988714-fb6b4fbe832b455fba386799b81aca57","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "fb6b4fbe-832b-455f-ba38-6799b81aca57"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-09-15 21:10:29.944287"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"30345622-3fa3-4ef8-99e9-b639840d8ea9","cover":null,"icon":null,"created_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-09-15T19:10:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-09-15 21:10:29.944287","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-09-15 21:10:29.944287","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"fb6b4fbe-832b-455f-ba38-6799b81aca57"},"url":"https://www.notion.so/303456223fa34ef899e9b639840d8ea9","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/30345622-3fa3-4ef8-99e9-b639840d8ea9
  response:
    content: '{"object":"database","id":"30345622-3fa3-4ef8-99e9-b639840d8ea9","cover":null,"icon":null,"created_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-09-15T19:10:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-09-15 21:10:29.944287","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-09-15 21:10:29.944287","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"fb6b4fbe-832b-455f-ba38-6799b81aca57"},"url":"https://www.notion.so/303456223fa34ef899e9b639840d8ea9","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/30345622-3fa3-4ef8-99e9-b639840d8ea9
  response:
    content: '{"object":"block","id":"30345622-3fa3-4ef8-99e9-b639840d8ea9","parent":{"type":"page_id","page_id":"fb6b4fbe-832b-455f-ba38-6799b81aca57"},"created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-09-15 21:10:29.944287"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/fb6b4fbe-832b-455f-ba38-6799b81aca57
  response:
    content: '{"object":"block","id":"fb6b4fbe-832b-455f-ba38-6799b81aca57","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-09-15 21:10:28.988714"}}'
    headers: {}
    status_code: 200
version: 1
