interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-05 18:55:11.226908"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"28399f72-bada-81ca-8bf8-f4fcce9dcd2b","created_time":"2025-10-05T10:55:00.000Z","last_edited_time":"2025-10-05T10:55:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-05 18:55:11.226908","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-05 18:55:11.226908","href":null}]}},"url":"https://www.notion.so/Test-2025-10-05-18-55-11-226908-28399f72bada81ca8bf8f4fcce9dcd2b","public_url":null,"request_id":"36024a4c-bd4d-47ad-a757-363b6003ce15"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"rich_text":[{"text":{"content":"This is a test comment."}}],"parent":{"page_id":"28399f72-bada-81ca-8bf8-f4fcce9dcd2b"}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    body:
      string: '{"object":"comment","id":"28399f72-bada-813b-80f8-001dd59170dd","parent":{"type":"page_id","page_id":"28399f72-bada-81ca-8bf8-f4fcce9dcd2b"},"discussion_id":"28399f72-bada-818a-9972-001cbb9af9fb","created_time":"2025-10-05T10:55:00.000Z","last_edited_time":"2025-10-05T10:55:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"New_API_Test"},"request_id":"ac5f54f5-47cb-4a63-85f5-80659f3eaa85"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/28399f72-bada-81ca-8bf8-f4fcce9dcd2b
  response:
    body:
      string: '{"object":"block","id":"28399f72-bada-81ca-8bf8-f4fcce9dcd2b","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-05T10:55:00.000Z","last_edited_time":"2025-10-05T10:55:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-05 18:55:11.226908"},"request_id":"5cdfedaf-98e2-48a8-9bba-71efd49e5a76"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
