interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-10-19 19:16:27.582427"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"6bc86dd5-179f-4708-a51f-7a77acabe532","created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-10-19 19:16:27.582427","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-10-19 19:16:27.582427","href":null}]}},"url":"https://www.notion.so/Test-2023-10-19-19-16-27-582427-6bc86dd5179f4708a51f7a77acabe532","public_url":null,"request_id":"5a1fc19b-4a89-4cef-b789-28aa5ab8d379"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "6bc86dd5-179f-4708-a51f-7a77acabe532"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-10-19 19:16:27.970661"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c28f7caa-dbd6-4e10-afd0-e5f7829c0ed2","cover":null,"icon":null,"created_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-10-19T17:16:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-10-19 19:16:27.970661","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-10-19 19:16:27.970661","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"6bc86dd5-179f-4708-a51f-7a77acabe532"},"url":"https://www.notion.so/c28f7caadbd64e10afd0e5f7829c0ed2","public_url":null,"archived":false,"request_id":"d99c0f94-a331-491b-94cb-34c6c97d0be7"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/6bc86dd5-179f-4708-a51f-7a77acabe532
  response:
    content: '{"object":"page","id":"6bc86dd5-179f-4708-a51f-7a77acabe532","created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-10-19 19:16:27.582427","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-10-19 19:16:27.582427","href":null}]}},"url":"https://www.notion.so/Test-2023-10-19-19-16-27-582427-6bc86dd5179f4708a51f7a77acabe532","public_url":null,"request_id":"ba845cc4-65ee-4a56-9ae3-9b2fd59b18c4"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/c28f7caa-dbd6-4e10-afd0-e5f7829c0ed2
  response:
    content: '{"object":"database","id":"c28f7caa-dbd6-4e10-afd0-e5f7829c0ed2","cover":null,"icon":null,"created_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-10-19T17:16:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-10-19 19:16:27.970661","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-10-19 19:16:27.970661","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"6bc86dd5-179f-4708-a51f-7a77acabe532"},"url":"https://www.notion.so/c28f7caadbd64e10afd0e5f7829c0ed2","public_url":null,"archived":false,"request_id":"e297d50a-aa1c-4bcd-bcc8-db058583670e"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c28f7caa-dbd6-4e10-afd0-e5f7829c0ed2
  response:
    content: '{"object":"block","id":"c28f7caa-dbd6-4e10-afd0-e5f7829c0ed2","parent":{"type":"page_id","page_id":"6bc86dd5-179f-4708-a51f-7a77acabe532"},"created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-10-19 19:16:27.970661"},"request_id":"5a1508f2-2f25-4024-8b15-5aa102e94ce6"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6bc86dd5-179f-4708-a51f-7a77acabe532
  response:
    content: '{"object":"block","id":"6bc86dd5-179f-4708-a51f-7a77acabe532","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-10-19 19:16:27.582427"},"request_id":"6d59f2c6-8250-4749-aa2f-0dc405e64db9"}'
    headers: {}
    status_code: 200
version: 1
