interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      Page (test_async_iterate_paginated_api iteration 0)"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-81c6-a407-e463950a7752","created_time":"2024-12-30T17:10:00.000Z","last_edited_time":"2024-12-30T17:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Page (test_async_iterate_paginated_api iteration 0)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Page (test_async_iterate_paginated_api iteration 0)","href":null}]}},"url":"https://www.notion.so/Test-Page-test_async_iterate_paginated_api-iteration-0-16cabc1eedcd81c6a407e463950a7752","public_url":null,"request_id":"f157024d-a32a-4510-9e49-fbec7f1a06f0"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"query":"test_async_iterate_paginated_api","page_size":2}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"16cabc1e-edcd-8179-99ab-e736fb042793","created_time":"2024-12-30T17:10:00.000Z","last_edited_time":"2024-12-30T17:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[[...]
- request:
    body: '{"query":"test_async_iterate_paginated_api","start_cursor":"16cabc1e-edcd-8197-8b72-cf40d092fe70","page_size":2}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"16cabc1e-edcd-8197-8b72-cf40d092fe70","created_time":"2024-12-30T17:10:00.000Z","last_edited_time":"2024-12-30T17:10:00.000Z","created_by":{"object":"user","id":"7775f3[...]
- request:
    body: '{"query":"test_async_iterate_paginated_api","start_cursor":"16cabc1e-edcd-81c6-a407-e463950a7752","page_size":2}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"16cabc1e-edcd-81c6-a407-e463950a7752","created_time":"2024-12-30T17:10:00.000Z","last_edited_time":"2024-12-30T17:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Page (test_async_iterate_paginated_api iteration 0)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Page (test_async_iterate_paginated_api iteration 0)","href":null}]}},"url":"https://www.notion.so/Test-Page-test_async_iterate_paginated_api-iteration-0-16cabc1eedcd81c6a407e463950a7752","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"0a12dd79-d605-47e7-81bd-aa07f6c02fa1"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-81c6-a407-e463950a7752
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-81c6-a407-e463950a7752","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:10:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      Page (test_async_iterate_paginated_api iteration 0)"},"request_id":"4e265ea0-69f6-49b5-923f-adda05d91ed0"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"query":"test_async_iterate_paginated_api","page_size":2}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"931959b1-7448-44c6-bcbf-00dfd564ac4a"}'
    headers: {}
    status_code: 200
version: 1
