interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    body:
      string: '{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","name":"New_API_Test","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"Tsing''s
        Notion","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}},"request_id":"6abcdf97-68f1-4888-adfc-c0de628719e1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users/5b8183bd-8984-4417-b2a6-7dc8e439e679
  response:
    body:
      string: '{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","name":"New_API_Test","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"Tsing''s
        Notion","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}},"request_id":"8eb1d07f-19f4-43b8-bd3e-0e70b622937b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
