interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2025-10-23 14:39:46.903761"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"295abc1e-edcd-81cc-9036-c7a9a075ca94","created_time":"2025-10-23T12:39:00.000Z","last_edited_time":"2025-10-23T12:39:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-23 14:39:46.903761","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-23 14:39:46.903761","href":null}]}},"url":"https://www.notion.so/Test-2025-10-23-14-39-46-903761-295abc1eedcd81cc9036c7a9a075ca94","public_url":null,"request_id":"f6a3665e-871c-43ed-b6a1-a15ca241e6ab"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"295abc1e-edcd-81cc-9036-c7a9a075ca94"},"title":[{"type":"text","text":{"content":"Test
      Database - 2025-10-23 14:39:47.709139"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"cc8e462f-99fc-4c19-bad0-25a109c01b3b","title":[{"type":"text","text":{"content":"Test
        Database - 2025-10-23 14:39:47.709139","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2025-10-23 14:39:47.709139","href":null}],"description":[],"parent":{"type":"page_id","page_id":"295abc1e-edcd-81cc-9036-c7a9a075ca94"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2025-10-23T12:39:47.910+00:00","last_edited_time":"2025-10-23T12:39:47.910+00:00","data_sources":[{"id":"f7c6c34b-7315-46a9-980a-fcd7e4c83e3d","name":"Test
        Database - 2025-10-23 14:39:47.709139"}],"icon":null,"cover":null,"url":"https://www.notion.so/cc8e462f99fc4c19bad025a109c01b3b","public_url":null,"request_id":"e83249c6-14e6-46ee-8ad8-4b877f4d782c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"cc8e462f-99fc-4c19-bad0-25a109c01b3b\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2025-10-23 14:39:48.629172\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"295abc1e-edcd-8111-8e5f-000b072fb0e9\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2025-10-23T12:39:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2025-10-23T12:39:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2025-10-23 14:39:48.629172\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2025-10-23 14:39:48.629172\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"cc8e462f-99fc-4c19-bad0-25a109c01b3b\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"295abc1e-edcd-81cc-9036-c7a9a075ca94\"},\"url\":\"https://www.notion.so/cc8e462f99fc4c19bad025a109c01b3b\",\"public_url\":null,\"archived\":false,\"in_trash\":false,\"request_id\":\"383a4e96-f0c4-44e0-a021-8a749ca2584c\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/295abc1e-edcd-8111-8e5f-000b072fb0e9/templates
  response:
    body:
      string: '{"templates":[],"has_more":false,"next_cursor":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/295abc1e-edcd-8111-8e5f-000b072fb0e9
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"295abc1e-edcd-8111-8e5f-000b072fb0e9\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2025-10-23T12:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/cc8e462f-99fc-4c19-bad0-25a109c01b3b
  response:
    body:
      string: '{"object":"block","id":"cc8e462f-99fc-4c19-bad0-25a109c01b3b","parent":{"type":"page_id","page_id":"295abc1e-edcd-81cc-9036-c7a9a075ca94"},"created_time":"2025-10-23T12:39:00.000Z","last_edited_time":"2025-10-23T12:39:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2025-10-23 14:39:47.709139"},"request_id":"a405ed42-6908-4f00-aef5-dd223143ac5b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/295abc1e-edcd-81cc-9036-c7a9a075ca94
  response:
    body:
      string: '{"object":"block","id":"295abc1e-edcd-81cc-9036-c7a9a075ca94","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2025-10-23T12:39:00.000Z","last_edited_time":"2025-10-23T12:39:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-23 14:39:46.903761"},"request_id":"0d931432-2561-4690-bc3a-383a925bd507"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
