interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:11:37.697658"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8150-881c-f6b22840f4d4","created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:11:37.697658","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:11:37.697658","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-11-37-697658-16cabc1eedcd8150881cf6b22840f4d4","public_url":null,"request_id":"5fad460e-573c-4f61-8bed-c437977558e2"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8150-881c-f6b22840f4d4"},"title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:11:38.185029"}}],"properties":{"Name":{"title":{}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-81db-a0ed-f8501f80ad14","cover":null,"icon":null,"created_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:11:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:11:38.185029","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:11:38.185029","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8150-881c-f6b22840f4d4"},"url":"https://www.notion.so/16cabc1eedcd81dba0edf8501f80ad14","public_url":null,"archived":false,"in_trash":false,"request_id":"c8c067e4-102b-4c6b-bda3-a8e0954b2dde"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/16cabc1e-edcd-81db-a0ed-f8501f80ad14
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-81db-a0ed-f8501f80ad14","cover":null,"icon":null,"created_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:11:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:11:38.185029","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:11:38.185029","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8150-881c-f6b22840f4d4"},"url":"https://www.notion.so/16cabc1eedcd81dba0edf8501f80ad14","public_url":null,"archived":false,"in_trash":false,"request_id":"dec0270b-fec4-4ca4-857c-c0abbfb9ccb1"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-81db-a0ed-f8501f80ad14
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-81db-a0ed-f8501f80ad14","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8150-881c-f6b22840f4d4"},"created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
      Database - 2024-12-30 18:11:38.185029"},"request_id":"d3345fed-33e2-4f87-87c4-a268abdf41fd"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8150-881c-f6b22840f4d4
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8150-881c-f6b22840f4d4","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:11:37.697658"},"request_id":"39c0d147-543d-4949-9c66-67f8a952f3e0"}'
    headers: {}
    status_code: 200
version: 1
