interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-21 10:17:08.997326"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"29399f72-bada-817a-8f1a-c8993ed79d4f","created_time":"2025-10-21T02:17:00.000Z","last_edited_time":"2025-10-21T02:17:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-21 10:17:08.997326","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-21 10:17:08.997326","href":null}]}},"url":"https://www.notion.so/Test-2025-10-21-10-17-08-997326-29399f72bada817a8f1ac8993ed79d4f","public_url":null,"request_id":"5e4e08d3-1f0c-40d8-930b-5768897b28ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"29399f72-bada-817a-8f1a-c8993ed79d4f"},"title":[{"type":"text","text":{"content":"Test
      Database - 2025-10-21 10:17:09.358653"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"74bbc716-73ef-4a54-99e1-1e524178e409","title":[{"type":"text","text":{"content":"Test
        Database - 2025-10-21 10:17:09.358653","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2025-10-21 10:17:09.358653","href":null}],"description":[],"parent":{"type":"page_id","page_id":"29399f72-bada-817a-8f1a-c8993ed79d4f"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2025-10-21T02:17:09.751+00:00","last_edited_time":"2025-10-21T02:17:09.751+00:00","data_sources":[{"id":"7f1027bb-8f52-41ef-a6ee-baf89f150b29","name":"Test
        Database - 2025-10-21 10:17:09.358653"}],"icon":null,"cover":null,"url":"https://www.notion.so/74bbc71673ef4a5499e11e524178e409","public_url":null,"request_id":"216a2295-21a9-47a3-b4ca-ddb0ae94b861"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"74bbc716-73ef-4a54-99e1-1e524178e409\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2025-10-21 10:17:10.222298\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"29399f72-bada-81ac-9c19-000b38fea5b3\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2025-10-21T02:17:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"5b8183bd-8984-4417-b2a6-7dc8e439e679\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"5b8183bd-8984-4417-b2a6-7dc8e439e679\"},\"last_edited_time\":\"2025-10-21T02:17:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2025-10-21 10:17:10.222298\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2025-10-21 10:17:10.222298\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"74bbc716-73ef-4a54-99e1-1e524178e409\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"29399f72-bada-817a-8f1a-c8993ed79d4f\"},\"url\":\"https://www.notion.so/74bbc71673ef4a5499e11e524178e409\",\"public_url\":null,\"archived\":false,\"in_trash\":false,\"request_id\":\"801ca1f4-ef16-432c-b0f9-57ce4a9a980c\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/29399f72-bada-81ac-9c19-000b38fea5b3/query
  response:
    body:
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"6c00bfb7-f007-48f6-9f20-7430f063d151"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/29399f72-bada-81ac-9c19-000b38fea5b3
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"29399f72-bada-81ac-9c19-000b38fea5b3\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2025-10-21T02:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/74bbc716-73ef-4a54-99e1-1e524178e409
  response:
    body:
      string: '{"object":"block","id":"74bbc716-73ef-4a54-99e1-1e524178e409","parent":{"type":"page_id","page_id":"29399f72-bada-817a-8f1a-c8993ed79d4f"},"created_time":"2025-10-21T02:17:00.000Z","last_edited_time":"2025-10-21T02:17:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2025-10-21 10:17:09.358653"},"request_id":"52d34ca2-c31f-4ee8-90e7-87a6b35a0a2b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/29399f72-bada-817a-8f1a-c8993ed79d4f
  response:
    body:
      string: '{"object":"block","id":"29399f72-bada-817a-8f1a-c8993ed79d4f","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-21T02:17:00.000Z","last_edited_time":"2025-10-21T02:17:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-21 10:17:08.997326"},"request_id":"49a30838-9823-4295-b793-6d56495c082a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
