interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find page with ID: 00000000-0000-0000-0000-000000000000. Make sure the
        relevant pages and databases are shared with your integration \"notion-sdk-py\".","additional_data":{"integration_id":"7775f3a3-893f-43fa-b625-460c61094c78"},"request_id":"55e80b46-6675-426f-9eb0-1fa1456e4103"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
