interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/12144502-549d-478f-9950-ef2ab2c2909f
  response:
    content: '{"object":"database","id":"12144502-549d-478f-9950-ef2ab2c2909f","cover":null,"icon":null,"created_time":"2022-11-13T13:08:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_time":"2022-11-13T13:08:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2022-11-13 14:08:07.787615","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2022-11-13 14:08:07.787615","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"84464ae1-bef7-4c71-992b-8eaaeefb13e3"},"url":"https://www.notion.so/12144502549d478f9950ef2ab2c2909f","archived":false}'
    headers: {}
    status_code: 200
version: 1
