interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:11:23.622642"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-8137-bc49-ee507c3c70c6","created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:11:23.622642","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:11:23.622642","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-11-23-622642-393abc1eedcd8137bc49ee507c3c70c6","public_url":null,"archived":false,"request_id":"2ae59685-209e-4ff4-96b7-b2b5ff7312a5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"page_id":"393abc1e-edcd-8137-bc49-ee507c3c70c6"},"rich_text":[{"text":{"content":"This
      is a test comment."}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    body:
      string: '{"object":"comment","id":"393abc1e-edcd-813d-93f2-001d4a22f5de","parent":{"type":"page_id","page_id":"393abc1e-edcd-8137-bc49-ee507c3c70c6"},"discussion_id":"393abc1e-edcd-81c5-9286-001c039f0a74","created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"notion-sdk-py"},"request_id":"d3960910-c617-41f6-9a5a-50e61fbe97ee"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=393abc1e-edcd-8137-bc49-ee507c3c70c6
  response:
    body:
      string: '{"object":"list","results":[{"object":"comment","id":"393abc1e-edcd-813d-93f2-001d4a22f5de","parent":{"type":"page_id","page_id":"393abc1e-edcd-8137-bc49-ee507c3c70c6"},"discussion_id":"393abc1e-edcd-81c5-9286-001c039f0a74","created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"notion-sdk-py"}}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"9e7e08bb-2864-4750-8346-4c243b3e82e4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-8137-bc49-ee507c3c70c6
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-8137-bc49-ee507c3c70c6","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:11:23.622642"},"archived":true,"request_id":"733b755f-ddad-42fe-989a-72de437b9728"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
