interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-12-25 22:50:21.769098"}}]}, "children":
      [], "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"6b55add0-869f-4848-bedc-9421260b24b7","created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:50:21.769098","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:50:21.769098","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-50-21-769098-6b55add0869f4848bedc9421260b24b7","public_url":null,"request_id":"edb1fcfa-fd95-4ecf-aae4-0ff3b016ee18"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/6b55add0-869f-4848-bedc-9421260b24b7?filter_properties=
  response:
    content: '{"object":"page","id":"6b55add0-869f-4848-bedc-9421260b24b7","created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:50:21.769098","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:50:21.769098","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-50-21-769098-6b55add0869f4848bedc9421260b24b7","public_url":null,"request_id":"f5848483-7036-419c-bff9-274c762dfe4c"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6b55add0-869f-4848-bedc-9421260b24b7
  response:
    content: '{"object":"block","id":"6b55add0-869f-4848-bedc-9421260b24b7","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-12-25 22:50:21.769098"},"request_id":"c94ac50d-836a-49ff-83a9-1bf7b601c55e"}'
    headers: {}
    status_code: 200
version: 1
