interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users
  response:
    content: '{"object":"list","results":[{"object":"user","id":"04db0808-966a-4668-9a27-8be05465b9c9","name":"Notion
      Testing Account","avatar_url":null,"type":"person","person":{}},{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6","name":"Testing","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"Notion
      Testing Account''s Notion"}}],"next_cursor":null,"has_more":false,"type":"user","user":{}}'
    headers: {}
    status_code: 200
version: 1
