interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 12:07:00.740947"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-814e-95ce-db661df73290","created_time":"2026-07-04T10:07:00.000Z","last_edited_time":"2026-07-04T10:07:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 12:07:00.740947","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 12:07:00.740947","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-12-07-00-740947-393abc1eedcd814e95cedb661df73290","public_url":null,"archived":false,"request_id":"5385b36f-2290-464c-9a96-c399dbec3a73"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"allow_async":true,"type":"insert_content","insert_content":{"content":"#
      Hello\n\nAsync test content."}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/393abc1e-edcd-814e-95ce-db661df73290/markdown
  response:
    body:
      string: '{"object":"async_task","id":"task_7e869d57816e45acb1b9a499db3d2a99","status":"queued","status_url":"https://api.notion.com/v1/async_tasks/task_7e869d57816e45acb1b9a499db3d2a99","created_time":"2026-07-04T10:07:01.549Z","poll_after_seconds":2,"operation":{"surface":"rest","name":"PATCH
        /v1/pages/:page_id/markdown"},"request_id":"a6255b38-6df2-42c4-9529-ac9b9ac27b95"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/async_tasks/task_7e869d57816e45acb1b9a499db3d2a99
  response:
    body:
      string: '{"object":"async_task","id":"task_7e869d57816e45acb1b9a499db3d2a99","status":"succeeded","status_url":"https://api.notion.com/v1/async_tasks/task_7e869d57816e45acb1b9a499db3d2a99","created_time":"2026-07-04T10:07:01.786Z","operation":{"surface":"rest","name":"PATCH
        /v1/pages/:page_id/markdown"},"result":{"markdown":"# Hello\nAsync test content.","truncated":false,"unknown_block_ids":[],"id":"393abc1e-edcd-814e-95ce-db661df73290","object":"page_markdown"},"request_id":"460c9b64-5bb0-4118-a8ad-a8fa85694c4e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-814e-95ce-db661df73290
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-814e-95ce-db661df73290","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T10:07:00.000Z","last_edited_time":"2026-07-04T10:07:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 12:07:00.740947"},"archived":true,"request_id":"8f3d8667-6a5f-403a-8471-9d96ce5ac1ff"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
