interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.notion.com/v1/data_sources/16cabc1e-edcd-819b-afa1-eac238462cdc
  response:
    body:
      string: '{"object":"data_source","id":"16cabc1e-edcd-819b-afa1-eac238462cdc","created_time":"2024-12-30T17:21:00.000Z","last_edited_time":"2024-12-30T17:21:00.000Z","properties":{},"title":[],"parent":{"type":"database_id","database_id":"16cabc1e-edcd-819b-afa1-eac238462cdc"},"database_parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
