interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-12-25 22:51:31.887036"}}]}, "children":
      [], "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"a6c21fad-645f-4d02-b01e-990142ee7245","created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:51:31.887036","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:51:31.887036","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-51-31-887036-a6c21fad645f4d02b01e990142ee7245","public_url":null,"request_id":"7161f1bb-1916-4293-aa43-0e07b5e1fa42"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"paragraph": {"rich_text": [{"equation": {"expression":
      "E = mc^2"}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/a6c21fad-645f-4d02-b01e-990142ee7245/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"64ef26fc-05bd-4ee0-a76c-b89500e6da6d","parent":{"type":"page_id","page_id":"a6c21fad-645f-4d02-b01e-990142ee7245"},"created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"equation","equation":{"expression":"E
      = mc^2"},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"E
      = mc^2","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"a59295e3-1ac1-485f-99d2-fa077faa0fa7"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/64ef26fc-05bd-4ee0-a76c-b89500e6da6d
  response:
    content: '{"object":"block","id":"64ef26fc-05bd-4ee0-a76c-b89500e6da6d","parent":{"type":"page_id","page_id":"a6c21fad-645f-4d02-b01e-990142ee7245"},"created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"equation","equation":{"expression":"E
      = mc^2"},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"E
      = mc^2","href":null}],"color":"default"},"request_id":"4033c71c-cbb7-4826-9393-0f8359864958"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a6c21fad-645f-4d02-b01e-990142ee7245
  response:
    content: '{"object":"block","id":"a6c21fad-645f-4d02-b01e-990142ee7245","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-12-25 22:51:31.887036"},"request_id":"08d6a6ed-7ba4-4359-9cef-fa44387a0614"}'
    headers: {}
    status_code: 200
version: 1
