interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:11:28.659996"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-818b-b822-d02559f8fa57","created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:11:28.659996","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:11:28.659996","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-11-28-659996-393abc1eedcd818bb822d02559f8fa57","public_url":null,"archived":false,"request_id":"c574b370-27b4-4d05-971b-26f40b418ee8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"page_id":"393abc1e-edcd-818b-b822-d02559f8fa57"},"rich_text":[{"text":{"content":"This
      is a test comment."}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    body:
      string: '{"object":"comment","id":"393abc1e-edcd-8144-8c05-001d040362ed","parent":{"type":"page_id","page_id":"393abc1e-edcd-818b-b822-d02559f8fa57"},"discussion_id":"393abc1e-edcd-813e-8bd0-001cd2761899","created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"notion-sdk-py"},"request_id":"d6eb0148-fe0e-4989-8de7-0c4d101f2e6d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"rich_text":[{"text":{"content":"Updated comment."}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/comments/393abc1e-edcd-8144-8c05-001d040362ed
  response:
    body:
      string: '{"object":"comment","id":"393abc1e-edcd-8144-8c05-001d040362ed","parent":{"type":"page_id","page_id":"393abc1e-edcd-818b-b822-d02559f8fa57"},"discussion_id":"393abc1e-edcd-813e-8bd0-001cd2761899","created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"Updated
        comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Updated
        comment.","href":null}],"display_name":{"type":"integration","resolved_name":"notion-sdk-py"},"request_id":"5cafd2e4-6255-47a1-ae71-9ed29d3e50a4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-818b-b822-d02559f8fa57
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-818b-b822-d02559f8fa57","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:11:28.659996"},"archived":true,"request_id":"3d2d38e9-7568-4f3c-9954-05b7ad4889e0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
