interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:09:07.284886"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-8191-9a63-e96e455face5","created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:09:07.284886","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:09:07.284886","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-09-07-284886-393abc1eedcd81919a63e96e455face5","public_url":null,"archived":false,"request_id":"999fb4f5-d433-41eb-8777-bb0e6062dcf4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-8191-9a63-e96e455face5"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:09:07.875493"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"e8a73c8a-58db-4ab7-b0d2-690d24025a01","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:09:07.875493","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:09:07.875493","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-8191-9a63-e96e455face5"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:09:08.209+00:00","last_edited_time":"2026-07-04T09:09:08.209+00:00","data_sources":[{"id":"86a0d414-fd06-4c80-82db-f8f0bdbf3b37","name":"Test
        Database - 2026-07-04 11:09:07.875493"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/e8a73c8a58db4ab7b0d2690d24025a01","public_url":null,"archived":false,"request_id":"0b80dbbc-e104-4e5e-adaf-ad1fae570c4d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"database_id","database_id":"e8a73c8a-58db-4ab7-b0d2-690d24025a01"},"properties":{"Name":{"title":{}}},"title":[{"type":"text","text":{"content":"Test
      DataSource"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: '{"object":"data_source","id":"393abc1e-edcd-818e-abb1-000b9d6b1204","cover":null,"icon":null,"created_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:09:00.000Z","title":[{"type":"text","text":{"content":"Test
        DataSource","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        DataSource","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"e8a73c8a-58db-4ab7-b0d2-690d24025a01"},"database_parent":{"type":"page_id","page_id":"393abc1e-edcd-8191-9a63-e96e455face5"},"url":"https://app.notion.com/p/e8a73c8a58db4ab7b0d2690d24025a01","public_url":null,"in_trash":false,"archived":false,"request_id":"32ad157a-512c-47e7-82a4-5bdca5304af8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/e8a73c8a-58db-4ab7-b0d2-690d24025a01
  response:
    body:
      string: '{"object":"block","id":"e8a73c8a-58db-4ab7-b0d2-690d24025a01","parent":{"type":"page_id","page_id":"393abc1e-edcd-8191-9a63-e96e455face5"},"created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:09:07.875493"},"archived":true,"request_id":"30e4fd31-56b3-4e72-bbf3-4b43ce77ddb2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-8191-9a63-e96e455face5
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-8191-9a63-e96e455face5","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:09:07.284886"},"archived":true,"request_id":"2a074a66-7153-4b19-9642-31a4f2a2fbf5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
