interactions:
- request:
    body: '{"mode":"single_part","filename":"cursor_test_0.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"393abc1e-edcd-816f-855b-00b2da67381a","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"2026-07-04T09:11:00.000Z","expiry_time":"2026-07-04T10:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/393abc1e-edcd-816f-855b-00b2da67381a/send","in_trash":false,"status":"pending","filename":"cursor_test_0.txt","content_type":"text/plain","content_length":null,"archived":false,"request_id":"674ca33d-7a54-44e6-98c7-335fba1d2679"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads?page_size=5
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"393abc1e-edcd-8190-b7bc-00b2444b98a4","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"2026-07-04T09:11:00.000Z","expiry_time":"2026-07-04T10:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/393abc1e-edcd-8190-b7bc-00b2444b98a4/send","in_trash":false,"status":"pending","filename":"cursor_test_1.txt","content_type":"text/plain","content_length":null,"archived":false}[...]
