interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2025-10-23 15:33:20.141735"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"295abc1e-edcd-81b3-9104-ec186475fe8a","created_time":"2025-10-23T13:33:00.000Z","last_edited_time":"2025-10-23T13:33:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-23 15:33:20.141735","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-23 15:33:20.141735","href":null}]}},"url":"https://www.notion.so/Test-2025-10-23-15-33-20-141735-295abc1eedcd81b39104ec186475fe8a","public_url":null,"request_id":"d1abf5c0-cf44-4c39-9478-439b4a34bfca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"rich_text":[{"text":{"content":"This is a test comment."}}],"parent":{"page_id":"295abc1e-edcd-81b3-9104-ec186475fe8a"}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    body:
      string: '{"object":"comment","id":"295abc1e-edcd-81ea-b576-001d1823ad0b","parent":{"type":"page_id","page_id":"295abc1e-edcd-81b3-9104-ec186475fe8a"},"discussion_id":"295abc1e-edcd-8132-baad-001c56737b48","created_time":"2025-10-23T13:33:00.000Z","last_edited_time":"2025-10-23T13:33:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"notion-sdk-py"},"request_id":"1f867c16-cace-42b3-a856-4387afbb6bb1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/comments/295abc1e-edcd-81ea-b576-001d1823ad0b
  response:
    body:
      string: '{"object":"comment","id":"295abc1e-edcd-81ea-b576-001d1823ad0b","parent":{"type":"page_id","page_id":"295abc1e-edcd-81b3-9104-ec186475fe8a"},"discussion_id":"295abc1e-edcd-8132-baad-001c56737b48","created_time":"2025-10-23T13:33:00.000Z","last_edited_time":"2025-10-23T13:33:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"notion-sdk-py"},"request_id":"c2a92a24-a7d2-4116-9323-b92476f5f6d4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/295abc1e-edcd-81b3-9104-ec186475fe8a
  response:
    body:
      string: '{"object":"block","id":"295abc1e-edcd-81b3-9104-ec186475fe8a","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2025-10-23T13:33:00.000Z","last_edited_time":"2025-10-23T13:33:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-23 15:33:20.141735"},"request_id":"48089d82-7887-489c-a523-85dd21a32d46"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
