interactions:
- request:
    body: '{"parent": {"page_id": "f691a0f9-da72-43bd-94ef-365793610746"}, "properties":
      {"title": [{"text": {"content": "Test 2022-11-16 16:45:06.173507"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"8c84fbc9-c2f4-450f-9136-ff740327d6a5","created_time":"2022-11-16T15:45:00.000Z","last_edited_time":"2022-11-16T15:45:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2022-11-16 16:45:06.173507","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2022-11-16 16:45:06.173507","href":null}]}},"url":"https://www.notion.so/Test-2022-11-16-16-45-06-173507-8c84fbc9c2f4450f9136ff740327d6a5"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8c84fbc9-c2f4-450f-9136-ff740327d6a5
  response:
    content: '{"object":"block","id":"8c84fbc9-c2f4-450f-9136-ff740327d6a5","parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"created_time":"2022-11-16T15:45:00.000Z","last_edited_time":"2022-11-16T15:45:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2022-11-16 16:45:06.173507"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8c84fbc9-c2f4-450f-9136-ff740327d6a5
  response:
    content: '{"object":"block","id":"8c84fbc9-c2f4-450f-9136-ff740327d6a5","parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"created_time":"2022-11-16T15:45:00.000Z","last_edited_time":"2022-11-16T15:45:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2022-11-16 16:45:06.173507"}}'
    headers: {}
    status_code: 200
version: 1
