interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-06-29 15:06:25.127937"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"d15e2c5f-9535-420d-b159-c2ce5f3d6c7b","created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-06-29 15:06:25.127937","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-06-29 15:06:25.127937","href":null}]}},"url":"https://www.notion.so/Test-2023-06-29-15-06-25-127937-d15e2c5f9535420db159c2ce5f3d6c7b","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "d15e2c5f-9535-420d-b159-c2ce5f3d6c7b"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-06-29 15:06:25.429465"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9968a798-d3bf-4e6d-bbd2-36164dda589c","cover":null,"icon":null,"created_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-06-29T13:06:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-06-29 15:06:25.429465","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-06-29 15:06:25.429465","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"d15e2c5f-9535-420d-b159-c2ce5f3d6c7b"},"url":"https://www.notion.so/9968a798d3bf4e6dbbd236164dda589c","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"past_week":
      {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/9968a798-d3bf-4e6d-bbd2-36164dda589c/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9968a798-d3bf-4e6d-bbd2-36164dda589c
  response:
    content: '{"object":"block","id":"9968a798-d3bf-4e6d-bbd2-36164dda589c","parent":{"type":"page_id","page_id":"d15e2c5f-9535-420d-b159-c2ce5f3d6c7b"},"created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-06-29 15:06:25.429465"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d15e2c5f-9535-420d-b159-c2ce5f3d6c7b
  response:
    content: '{"object":"block","id":"d15e2c5f-9535-420d-b159-c2ce5f3d6c7b","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-06-29 15:06:25.127937"}}'
    headers: {}
    status_code: 200
version: 1
