interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:08:38.726245"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-81c3-8d87-c02d403087ed","created_time":"2024-12-30T17:08:00.000Z","last_edited_time":"2024-12-30T17:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:08:38.726245","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:08:38.726245","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-08-38-726245-16cabc1eedcd81c38d87c02d403087ed","public_url":null,"request_id":"ad3d09d3-604e-4a2a-9eec-9b71f4f9c54f"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/16cabc1e-edcd-81c3-8d87-c02d403087ed
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-81c3-8d87-c02d403087ed","created_time":"2024-12-30T17:08:00.000Z","last_edited_time":"2024-12-30T17:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:08:38.726245","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:08:38.726245","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-08-38-726245-16cabc1eedcd81c38d87c02d403087ed","public_url":null,"request_id":"b8472a6b-eff2-4f5e-8dc3-2f1a9fba751d"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-81c3-8d87-c02d403087ed
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-81c3-8d87-c02d403087ed","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:08:00.000Z","last_edited_time":"2024-12-30T17:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:08:38.726245"},"request_id":"c11c389a-08ba-4a68-9eb2-33064171f6df"}'
    headers: {}
    status_code: 200
version: 1
