interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    body:
      string: '{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78","name":"notion-sdk-py","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"notion-sdk-py","workspace_id":"231674b6-2cc1-46bc-b742-c5c9fe4b9c73","workspace_limits":{"max_file_upload_size_in_bytes":5242880}},"request_id":"45b1d90b-1e6f-4c7a-b7d7-0d95273d7673"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
