interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:09:20.640717"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-813f-b7f6-f166e3a927bf","created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:09:20.640717","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:09:20.640717","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-09-20-640717-16cabc1eedcd813fb7f6f166e3a927bf","public_url":null,"request_id":"143fb3f4-e40d-4cc2-a272-811bddb6f016"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"type":"page_id","page_id":"16cabc1e-edcd-813f-b7f6-f166e3a927bf"},"title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:09:22.089821"}}],"properties":{"Name":{"title":{}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-810d-b7c7-c418e248dbe0","cover":null,"icon":null,"created_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:09:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:09:22.089821","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:09:22.089821","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-813f-b7f6-f166e3a927bf"},"url":"https://www.notion.so/16cabc1eedcd810db7c7c418e248dbe0","public_url":null,"archived":false,"in_trash":false,"request_id":"f07bc529-6a44-452a-b117-1d369539fc1b"}'
    headers: {}
    status_code: 200
- request:
    body: '{"filter":{"timestamp":"created_time","created_time":{"past_week":{}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/16cabc1e-edcd-810d-b7c7-c418e248dbe0/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"233baee7-f826-4a34-9833-b7cd1264171e"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-810d-b7c7-c418e248dbe0
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-810d-b7c7-c418e248dbe0","parent":{"type":"page_id","page_id":"16cabc1e-edcd-813f-b7f6-f166e3a927bf"},"created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
      Database - 2024-12-30 18:09:22.089821"},"request_id":"c7790dda-5232-4ba7-8ab8-ebe88a8602bc"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-813f-b7f6-f166e3a927bf
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-813f-b7f6-f166e3a927bf","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:09:20.640717"},"request_id":"f59b251a-5895-4558-9e20-8b72fb11bf00"}'
    headers: {}
    status_code: 200
version: 1
