interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-12-25 22:51:24.253913"}}]}, "children":
      [], "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ca08e99e-9a8e-45f2-9b1d-09488d9ee0d2","created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:51:24.253913","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:51:24.253913","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-51-24-253913-ca08e99e9a8e45f29b1d09488d9ee0d2","public_url":null,"request_id":"54898dcf-5d8c-4e3b-a49d-cff4d5afb80d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"page_id": "ca08e99e-9a8e-45f2-9b1d-09488d9ee0d2"}, "rich_text":
      [{"text": {"content": "This is a test comment."}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"11c6e83d-7719-4b7c-a17d-b9576f5d52ff","parent":{"type":"page_id","page_id":"ca08e99e-9a8e-45f2-9b1d-09488d9ee0d2"},"discussion_id":"5adc9c10-7468-4c8b-9849-4c469ceea2e7","created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}],"request_id":"45a24be7-d05a-4efe-8d7c-d900fd11d70d"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=ca08e99e-9a8e-45f2-9b1d-09488d9ee0d2
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"11c6e83d-7719-4b7c-a17d-b9576f5d52ff","parent":{"type":"page_id","page_id":"ca08e99e-9a8e-45f2-9b1d-09488d9ee0d2"},"discussion_id":"5adc9c10-7468-4c8b-9849-4c469ceea2e7","created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"bbc5bb10-f7a9-4515-a182-8b51e5c33959"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ca08e99e-9a8e-45f2-9b1d-09488d9ee0d2
  response:
    content: '{"object":"block","id":"ca08e99e-9a8e-45f2-9b1d-09488d9ee0d2","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-12-25 22:51:24.253913"},"request_id":"982f8722-9877-4b1d-8cf0-f448717f85f5"}'
    headers: {}
    status_code: 200
version: 1
