interactions:
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1eedcd80f3813be205934558c6"},"title":[{"type":"text","text":{"content":"Test
      DB"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"2a405597-3d7d-45ea-b8bd-27826e2e4e1d","title":[{"type":"text","text":{"content":"Test
        DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-27T13:47:21.435+00:00","last_edited_time":"2026-07-27T13:47:21.435+00:00","data_sources":[{"id":"c4688e55-4bc3-479c-8c6d-f1d9c5cfbf7a","name":"Test
        DB"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/2a4055973d7d45eab8bd27826e2e4e1d","public_url":null,"archived":false,"request_id":"eccce3f9-4056-44f4-817f-c86d3ebbde9d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"database_id","database_id":"2a405597-3d7d-45ea-b8bd-27826e2e4e1d"},"properties":{"Name":{"type":"title","title":{}}},"title":[{"type":"text","text":{"content":"Test
      Data Source"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: '{"object":"data_source","id":"3aaabc1e-edcd-8105-a38a-000bc46c6932","cover":null,"icon":null,"created_time":"2026-07-27T13:47:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-27T13:47:00.000Z","title":[{"type":"text","text":{"content":"Test
        Data Source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Data Source","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"2a405597-3d7d-45ea-b8bd-27826e2e4e1d"},"database_parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"url":"https://app.notion.com/p/2a4055973d7d45eab8bd27826e2e4e1d","public_url":null,"in_trash":false,"archived":false,"request_id":"f33b63e1-c95b-41c2-a7fc-22e76c1dd2a7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"data_source_id":"3aaabc1e-edcd-8105-a38a-000bc46c6932"},"properties":{"Name":{"title":[{"text":{"content":"row
      0"}}]}}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"3aaabc1e-edcd-811f-87d8-e81454f9cd3f","created_time":"2026-07-27T13:47:00.000Z","last_edited_time":"2026-07-27T13:47:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3aaabc1e-edcd-8105-a38a-000bc46c6932","database_id":"2a405597-3d7d-45ea-b8bd-27826e2e4e1d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"row
        0","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"row
        0","href":null}]}},"url":"https://app.notion.com/p/row-0-3aaabc1eedcd811f87d8e81454f9cd3f","public_url":null,"archived":false,"request_id":"7b7d9659-90dd-4776-9196-eae004286658"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sorts":[{"timestamp":"created_time","direction":"ascending"}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3aaabc1e-edcd-8105-a38a-000bc46c6932/query
  response:
    body:
      string: '{"object":"list","results":[{"object":"page","id":"3aaabc1e-edcd-810b-b71d-f2e351a61209","created_time":"2026-07-27T13:47:00.000Z","last_edited_time":"2026-07-27T13:47:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3aaabc1e-edcd-8105-a38a-000bc46c6932","database_id":"2a405597-3d7d-45ea-b8bd-27826e2e4e1d"},"in_trash":false,"is_archiv[...]
- request:
    body: '{"sorts":[{"timestamp":"created_time","direction":"ascending"}],"filter":{"property":"Name","title":{"equals":"row
      1"}}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/3aaabc1e-edcd-8105-a38a-000bc46c6932/query
  response:
    body:
      string: '{"object":"list","results":[{"object":"page","id":"3aaabc1e-edcd-8132-8445-ee5a744f3ec2","created_time":"2026-07-27T13:47:00.000Z","last_edited_time":"2026-07-27T13:47:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"data_source_id","data_source_id":"3aaabc1e-edcd-8105-a38a-000bc46c6932","database_id":"2a405597-3d7d-45ea-b8bd-27826e2e4e1d"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"row
        1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"row
        1","href":null}]}},"url":"https://app.notion.com/p/row-1-3aaabc1eedcd81328445ee5a744f3ec2","public_url":null,"archived":false}],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"3041d2ec-1bf2-49c9-b65a-e2f9ecbc2c2f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/3aaabc1e-edcd-8105-a38a-000bc46c6932
  response:
    body:
      string: '{"object":"data_source","id":"3aaabc1e-edcd-8105-a38a-000bc46c6932","cover":null,"icon":null,"created_time":"2026-07-27T13:47:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-27T13:47:00.000Z","title":[{"type":"text","text":{"content":"Test
        Data Source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Data Source","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"2a405597-3d7d-45ea-b8bd-27826e2e4e1d"},"database_parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"url":"https://app.notion.com/p/2a4055973d7d45eab8bd27826e2e4e1d","public_url":null,"in_trash":true,"archived":true,"request_id":"17dd3784-f0ff-4744-be15-f69db1ba8837"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/2a405597-3d7d-45ea-b8bd-27826e2e4e1d
  response:
    body:
      string: '{"object":"block","id":"2a405597-3d7d-45ea-b8bd-27826e2e4e1d","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-27T13:47:00.000Z","last_edited_time":"2026-07-27T13:47:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        DB"},"archived":true,"request_id":"76acd901-d271-42d7-9495-af6b7e0f21c2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
