interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-05 18:53:45.885504"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"28399f72-bada-8191-be6f-d1c7c51171bb","created_time":"2025-10-05T10:53:00.000Z","last_edited_time":"2025-10-05T10:53:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-05 18:53:45.885504","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-05 18:53:45.885504","href":null}]}},"url":"https://www.notion.so/Test-2025-10-05-18-53-45-885504-28399f72bada8191be6fd1c7c51171bb","public_url":null,"request_id":"32549b35-024a-44b8-955d-bf427cc167ac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F6F4\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/28399f72-bada-8191-be6f-d1c7c51171bb
  response:
    body:
      string: "{\"object\":\"page\",\"id\":\"28399f72-bada-8191-be6f-d1c7c51171bb\",\"created_time\":\"2025-10-05T10:53:00.000Z\",\"last_edited_time\":\"2025-10-05T10:53:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"5[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/28399f72-bada-8191-be6f-d1c7c51171bb
  response:
    body:
      string: '{"object":"block","id":"28399f72-bada-8191-be6f-d1c7c51171bb","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-05T10:53:00.000Z","last_edited_time":"2025-10-05T10:53:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-05 18:53:45.885504"},"request_id":"bbc1d886-d4d9-4acf-85d0-e278e18a4b83"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
