interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:09:24.729402"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-81cd-97db-d26ac764014f","created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:09:24.729402","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:09:24.729402","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-09-24-729402-16cabc1eedcd81cd97dbd26ac764014f","public_url":null,"request_id":"d1b974db-49fe-4055-ae7f-052038fa237f"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"type":"page_id","page_id":"16cabc1e-edcd-81cd-97db-d26ac764014f"},"title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:09:25.166914"}}],"properties":{"Name":{"title":{}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-81ff-be71-fab6d899fd54","cover":null,"icon":null,"created_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:09:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:09:25.166914","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:09:25.166914","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-81cd-97db-d26ac764014f"},"url":"https://www.notion.so/16cabc1eedcd81ffbe71fab6d899fd54","public_url":null,"archived":false,"in_trash":false,"request_id":"b4134019-8afc-439d-903c-ed65a8b3107e"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/16cabc1e-edcd-81ff-be71-fab6d899fd54
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-81ff-be71-fab6d899fd54","cover":null,"icon":null,"created_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:09:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:09:25.166914","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:09:25.166914","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-81cd-97db-d26ac764014f"},"url":"https://www.notion.so/16cabc1eedcd81ffbe71fab6d899fd54","public_url":null,"archived":false,"in_trash":false,"request_id":"a20b67f5-113c-4a45-8edf-e9a9ece25a66"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-81ff-be71-fab6d899fd54
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-81ff-be71-fab6d899fd54","parent":{"type":"page_id","page_id":"16cabc1e-edcd-81cd-97db-d26ac764014f"},"created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
      Database - 2024-12-30 18:09:25.166914"},"request_id":"f078214b-36b7-4eb9-8e48-e1ae6953305e"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-81cd-97db-d26ac764014f
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-81cd-97db-d26ac764014f","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:09:24.729402"},"request_id":"219dcd84-2bcc-4163-ad2f-cd2915ab1241"}'
    headers: {}
    status_code: 200
version: 1
