interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-05 18:54:32.955018"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"28399f72-bada-816e-ad05-fce11003c59c","created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-05 18:54:32.955018","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-05 18:54:32.955018","href":null}]}},"url":"https://www.notion.so/Test-2025-10-05-18-54-32-955018-28399f72bada816ead05fce11003c59c","public_url":null,"request_id":"30dceadd-c59d-485e-a4cf-ed3a778d450c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"28399f72-bada-816e-ad05-fce11003c59c"},"title":[{"type":"text","text":{"content":"Test
      Database - 2025-10-05 18:54:33.431099"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"14fa890e-c173-4ffa-80a2-fedb26fc2614","title":[{"type":"text","text":{"content":"Test
        Database - 2025-10-05 18:54:33.431099","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2025-10-05 18:54:33.431099","href":null}],"description":[],"parent":{"type":"page_id","page_id":"28399f72-bada-816e-ad05-fce11003c59c"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2025-10-05T10:54:33.710+00:00","last_edited_time":"2025-10-05T10:54:33.710+00:00","data_sources":[{"id":"a2db53d6-be98-4b59-a4d3-befc6a77a739","name":"Test
        Database - 2025-10-05 18:54:33.431099"}],"icon":null,"cover":null,"url":"https://www.notion.so/14fa890ec1734ffa80a2fedb26fc2614","public_url":null,"request_id":"a3643203-83d7-467c-85fe-b4f95d361dbc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/14fa890e-c173-4ffa-80a2-fedb26fc2614
  response:
    body:
      string: '{"object":"database","id":"14fa890e-c173-4ffa-80a2-fedb26fc2614","title":[{"type":"text","text":{"content":"Test
        Database - 2025-10-05 18:54:33.431099","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2025-10-05 18:54:33.431099","href":null}],"description":[],"parent":{"type":"page_id","page_id":"28399f72-bada-816e-ad05-fce11003c59c"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2025-10-05T10:54:33.710+00:00","last_edited_time":"2025-10-05T10:54:33.710+00:00","data_sources":[{"id":"a2db53d6-be98-4b59-a4d3-befc6a77a739","name":"Test
        Database - 2025-10-05 18:54:33.431099"}],"icon":null,"cover":null,"url":"https://www.notion.so/14fa890ec1734ffa80a2fedb26fc2614","public_url":null,"request_id":"1cd404bf-dfd5-45b1-98b3-b1ada64e4b24"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/14fa890e-c173-4ffa-80a2-fedb26fc2614
  response:
    body:
      string: '{"object":"block","id":"14fa890e-c173-4ffa-80a2-fedb26fc2614","parent":{"type":"page_id","page_id":"28399f72-bada-816e-ad05-fce11003c59c"},"created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2025-10-05 18:54:33.431099"},"request_id":"6a1fbddf-a5ae-4a19-9a32-c57e75ad0057"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/28399f72-bada-816e-ad05-fce11003c59c
  response:
    body:
      string: '{"object":"block","id":"28399f72-bada-816e-ad05-fce11003c59c","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-05 18:54:32.955018"},"request_id":"e6d1bd3a-af5f-4cfc-ab66-3bfc5b374aa9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
