interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-06-29 15:05:40.195072"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"f4587b39-f9f7-41b2-ad69-8969255c78af","created_time":"2023-06-29T13:05:00.000Z","last_edited_time":"2023-06-29T13:05:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-06-29 15:05:40.195072","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-06-29 15:05:40.195072","href":null}]}},"url":"https://www.notion.so/Test-2023-06-29-15-05-40-195072-f4587b39f9f741b2ad698969255c78af","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"paragraph": {"rich_text": [{"text": {"content": "I''m a
      paragraph."}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/f4587b39-f9f7-41b2-ad69-8969255c78af/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3cd487c1-bca4-4972-8121-e236025870fd","parent":{"type":"page_id","page_id":"f4587b39-f9f7-41b2-ad69-8969255c78af"},"created_time":"2023-06-29T13:05:00.000Z","last_edited_time":"2023-06-29T13:05:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/3cd487c1-bca4-4972-8121-e236025870fd
  response:
    content: '{"object":"block","id":"3cd487c1-bca4-4972-8121-e236025870fd","parent":{"type":"page_id","page_id":"f4587b39-f9f7-41b2-ad69-8969255c78af"},"created_time":"2023-06-29T13:05:00.000Z","last_edited_time":"2023-06-29T13:05:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"}}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f4587b39-f9f7-41b2-ad69-8969255c78af
  response:
    content: '{"object":"block","id":"f4587b39-f9f7-41b2-ad69-8969255c78af","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-06-29T13:05:00.000Z","last_edited_time":"2023-06-29T13:05:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-06-29 15:05:40.195072"}}'
    headers: {}
    status_code: 200
version: 1
