interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:23:41.737250"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8174-a5ee-dad54c04d466","created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:23:41.737250","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:23:41.737250","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-23-41-737250-16cabc1eedcd8174a5eedad54c04d466","public_url":null,"request_id":"efe685ca-8350-4eb9-9af1-99970d4ae4f0"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/16cabc1e-edcd-8174-a5ee-dad54c04d466
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8174-a5ee-dad54c04d466","created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:23:41.737250","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:23:41.737250","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-23-41-737250-16cabc1eedcd8174a5eedad54c04d466","public_url":null,"request_id":"7e261df7-d0f3-4f1d-aba7-5fe14c0c7f66"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8174-a5ee-dad54c04d466
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8174-a5ee-dad54c04d466","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:23:41.737250"},"request_id":"e49011bc-a0cf-4676-a002-aa4f49dac6ee"}'
    headers: {}
    status_code: 200
version: 1
