interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/invalid
  response:
    body:
      string: '{"object":"error","status":400,"code":"invalid_request_url","message":"Invalid
        request URL.","request_id":"b414ecfc-979e-4ced-bfd3-75093839dfc0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users
  response:
    body:
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"2dd2ec1a-04ba-4ae4-86e2-e11d48130bf7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
