interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2026-04-02 18:32:10.479896"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"336abc1e-edcd-811b-9717-d1cd036652e6","created_time":"2026-04-02T16:32:00.000Z","last_edited_time":"2026-04-02T16:32:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-04-02 18:32:10.479896","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-04-02 18:32:10.479896","href":null}]}},"url":"https://www.notion.so/Test-2026-04-02-18-32-10-479896-336abc1eedcd811b9717d1cd036652e6","public_url":null,"archived":false,"request_id":"bb1220ff-fabb-4385-b890-e37805845403"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"336abc1e-edcd-811b-9717-d1cd036652e6"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-04-02 18:32:10.851565"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"3e9467d3-10aa-4570-8c84-468a2264a9bc","title":[{"type":"text","text":{"content":"Test
        Database - 2026-04-02 18:32:10.851565","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-04-02 18:32:10.851565","href":null}],"description":[],"parent":{"type":"page_id","page_id":"336abc1e-edcd-811b-9717-d1cd036652e6"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-04-02T16:32:11.159+00:00","last_edited_time":"2026-04-02T16:32:11.159+00:00","data_sources":[{"id":"c0ae39aa-085a-479e-9f65-419997c61c96","name":"Test
        Database - 2026-04-02 18:32:10.851565"}],"icon":null,"cover":null,"url":"https://www.notion.so/3e9467d310aa45708c84468a2264a9bc","public_url":null,"archived":false,"request_id":"2237f775-f85b-4ae4-8c38-6cf0648918bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"3e9467d3-10aa-4570-8c84-468a2264a9bc\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-04-02 18:32:12.093927\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"336abc1e-edcd-81ae-bf59-000bb95abe4e\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-04-02T16:32:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-04-02T16:32:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-04-02 18:32:12.093927\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-04-02 18:32:12.093927\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3e9467d3-10aa-4570-8c84-468a2264a9bc\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"336abc1e-edcd-811b-9717-d1cd036652e6\"},\"url\":\"https://www.notion.so/3e9467d310aa45708c84468a2264a9bc\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"b58de047-21dc-454d-a622-0921c3414c84\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"data_source_id":"336abc1e-edcd-81ae-bf59-000bb95abe4e","name":"Test View","type":"table","database_id":"3e9467d3-10aa-4570-8c84-468a2264a9bc"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views
  response:
    body:
      string: '{"object":"view","id":"336abc1e-edcd-8194-b82e-000cce21e572","parent":{"type":"database_id","database_id":"3e9467d3-10aa-4570-8c84-468a2264a9bc"},"data_source_id":"336abc1e-edcd-81ae-bf59-000bb95abe4e","name":"Test
        View","type":"table","created_time":"2026-04-02T16:32:13.460+00:00","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-04-02T16:32:13.460+00:00","last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"url":"https://www.notion.so/3e9467d310aa45708c84468a2264a9bc?v=336abc1eedcd8194b82e000cce21e572","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"2c8e18bc-2c62-4518-bc79-bdb7e1943a21"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views/336abc1e-edcd-8194-b82e-000cce21e572/queries
  response:
    body:
      string: '{"object":"view_query","id":"abaccc59-6034-4f49-b895-21698c884df6","view_id":"336abc1e-edcd-8194-b82e-000cce21e572","expires_at":"2026-04-02T16:47:15.037+00:00","total_count":0,"results":[],"next_cursor":null,"has_more":false,"request_id":"593fb6eb-abd0-4d1e-8551-0a34d44f7705"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/views/336abc1e-edcd-8194-b82e-000cce21e572/queries/abaccc59-6034-4f49-b895-21698c884df6
  response:
    body:
      string: '{"object":"view_query","id":"abaccc59-6034-4f49-b895-21698c884df6","deleted":true,"request_id":"fb6dd2d6-f9d0-4312-8b8e-b12de6ad95c6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/views/336abc1e-edcd-8194-b82e-000cce21e572
  response:
    body:
      string: '{"object":"view","id":"336abc1e-edcd-8194-b82e-000cce21e572","parent":{"type":"database_id","database_id":"3e9467d3-10aa-4570-8c84-468a2264a9bc"},"type":"table","request_id":"6f8ec546-2b2b-46c7-94c7-d929c0bc958c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/336abc1e-edcd-81ae-bf59-000bb95abe4e
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"336abc1e-edcd-81ae-bf59-000bb95abe4e\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-04-02T16:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3e9467d3-10aa-4570-8c84-468a2264a9bc
  response:
    body:
      string: '{"object":"block","id":"3e9467d3-10aa-4570-8c84-468a2264a9bc","parent":{"type":"page_id","page_id":"336abc1e-edcd-811b-9717-d1cd036652e6"},"created_time":"2026-04-02T16:32:00.000Z","last_edited_time":"2026-04-02T16:32:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-04-02 18:32:10.851565"},"archived":true,"request_id":"bb9d43b7-82d1-481c-b7d6-66d3b24d8ff5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/336abc1e-edcd-811b-9717-d1cd036652e6
  response:
    body:
      string: '{"object":"block","id":"336abc1e-edcd-811b-9717-d1cd036652e6","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2026-04-02T16:32:00.000Z","last_edited_time":"2026-04-02T16:32:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-04-02 18:32:10.479896"},"archived":true,"request_id":"44ec5580-b7ae-4ce4-93e1-6c386a4e9705"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
