interactions:
- request:
    body: '{"mode":"single_part","filename":"test_file.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"393abc1e-edcd-81cc-b617-00b2433488d0","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"2026-07-04T09:11:00.000Z","expiry_time":"2026-07-04T10:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/393abc1e-edcd-81cc-b617-00b2433488d0/send","in_trash":false,"status":"pending","filename":"test_file.txt","content_type":"text/plain","content_length":null,"archived":false,"request_id":"99dcdb61-661f-41e9-a6cc-977fee5d2a22"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
