interactions:
- request:
    body: '{"parent": {"page_id": "f691a0f9da7243bd94ef365793610746"}, "properties":
      {"title": [{"text": {"content": "Test 2022-12-04 13:53:14.210594"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"46d25173-91fd-4fc9-8d63-40ddd155a9e9","created_time":"2022-12-04T12:54:00.000Z","last_edited_time":"2022-12-04T12:54:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2022-12-04 13:53:14.210594","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2022-12-04 13:53:14.210594","href":null}]}},"url":"https://www.notion.so/Test-2022-12-04-13-53-14-210594-46d2517391fd4fc98d6340ddd155a9e9"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"paragraph": {"rich_text": [{"text": {"content": "I''m a
      paragraph."}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/46d25173-91fd-4fc9-8d63-40ddd155a9e9/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"d67695fd-8f86-4a6d-b5ec-b83e21606c3a","parent":{"type":"page_id","page_id":"46d25173-91fd-4fc9-8d63-40ddd155a9e9"},"created_time":"2022-12-04T12:54:00.000Z","last_edited_time":"2022-12-04T12:54:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/d67695fd-8f86-4a6d-b5ec-b83e21606c3a
  response:
    content: '{"object":"block","id":"d67695fd-8f86-4a6d-b5ec-b83e21606c3a","parent":{"type":"page_id","page_id":"46d25173-91fd-4fc9-8d63-40ddd155a9e9"},"created_time":"2022-12-04T12:54:00.000Z","last_edited_time":"2022-12-04T12:54:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"}}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/46d25173-91fd-4fc9-8d63-40ddd155a9e9
  response:
    content: '{"object":"block","id":"46d25173-91fd-4fc9-8d63-40ddd155a9e9","parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"created_time":"2022-12-04T12:54:00.000Z","last_edited_time":"2022-12-04T12:54:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2022-12-04 13:53:14.210594"}}'
    headers: {}
    status_code: 200
version: 1
