interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:21:26.692175"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-811a-a03b-c3f770e7caa8","created_time":"2024-12-30T17:21:00.000Z","last_edited_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:21:26.692175","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:21:26.692175","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-21-26-692175-16cabc1eedcd811aa03bc3f770e7caa8","public_url":null,"request_id":"abcce442-633d-422b-b026-0cb880c26320"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"type":"page_id","page_id":"16cabc1e-edcd-811a-a03b-c3f770e7caa8"},"title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:21:27.425666"}}],"properties":{"Name":{"title":{}}}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-8162-9ab8-c71fc1e7ee93","cover":null,"icon":null,"created_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:21:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:21:27.425666","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:21:27.425666","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-811a-a03b-c3f770e7caa8"},"url":"https://www.notion.so/16cabc1eedcd81629ab8c71fc1e7ee93","public_url":null,"archived":false,"in_trash":false,"request_id":"bccbcfd2-9d05-4ba8-ba8a-262399550bdc"}'
    headers: {}
    status_code: 200
- request:
    body: '{"filter":{"timestamp":"created_time","created_time":{"past_week":{}}}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/16cabc1e-edcd-8162-9ab8-c71fc1e7ee93/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"dcba77ed-76bf-4a9c-bbf0-9550f62551ce"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8162-9ab8-c71fc1e7ee93
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8162-9ab8-c71fc1e7ee93","parent":{"type":"page_id","page_id":"16cabc1e-edcd-811a-a03b-c3f770e7caa8"},"created_time":"2024-12-30T17:21:00.000Z","last_edited_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
      Database - 2024-12-30 18:21:27.425666"},"request_id":"64f4c580-28ef-405b-b55d-bcfdd4221c3e"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-811a-a03b-c3f770e7caa8
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-811a-a03b-c3f770e7caa8","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:21:00.000Z","last_edited_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:21:26.692175"},"request_id":"7799db9c-32ba-438e-9a45-fe3626dd7a30"}'
    headers: {}
    status_code: 200
version: 1
