interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:08:40.253693"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-810e-8fb6-c262787957de","created_time":"2024-12-30T17:08:00.000Z","last_edited_time":"2024-12-30T17:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:08:40.253693","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:08:40.253693","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-08-40-253693-16cabc1eedcd810e8fb6c262787957de","public_url":null,"request_id":"9bd9b42e-34f0-4375-b385-9259a1c6db17"}'
    headers: {}
    status_code: 200
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F6F4\"}}"
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/16cabc1e-edcd-810e-8fb6-c262787957de
  response:
    content: "{\"object\":\"page\",\"id\":\"16cabc1e-edcd-810e-8fb6-c262787957de\",\"created_time\":\"2024-12-30T17:08:00.000Z\",\"last_edited_time\":\"2024-12-30T17:08:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F6F4\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"95ba0116-6776-4c19-9e45-54e77415f03b\"},\"archived\":false,\"in_trash\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      2024-12-30 18:08:40.253693\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
      2024-12-30 18:08:40.253693\",\"href\":null}]}},\"url\":\"https://www.notion.so/Test-2024-12-30-18-08-40-253693-16cabc1eedcd810e8fb6c262787957de\",\"public_url\":null,\"request_id\":\"72367204-b035-43a1-9b89-7c2f450bda96\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-810e-8fb6-c262787957de
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-810e-8fb6-c262787957de","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:08:00.000Z","last_edited_time":"2024-12-30T17:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:08:40.253693"},"request_id":"fcf97088-a9ac-4093-bbb5-d864a21ac81c"}'
    headers: {}
    status_code: 200
version: 1
