interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:10:35.844275"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81fc-ae6c-fafeb145e260","created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:10:35.844275","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:10:35.844275","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-10-35-844275-393abc1eedcd81fcae6cfafeb145e260","public_url":null,"archived":false,"request_id":"43ce76d8-2261-4f1a-855c-cd2ed1dfeb90"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-81fc-ae6c-fafeb145e260"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:10:36.267519"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"5950da7d-03e2-4f16-ac71-322e21f55111","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:10:36.267519","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:10:36.267519","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-81fc-ae6c-fafeb145e260"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:10:36.623+00:00","last_edited_time":"2026-07-04T09:10:36.623+00:00","data_sources":[{"id":"e5f71870-6511-4944-96d1-9df12b00b7e2","name":"Test
        Database - 2026-07-04 11:10:36.267519"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/5950da7d03e24f16ac71322e21f55111","public_url":null,"archived":false,"request_id":"8d65ede0-06e6-4886-b558-e178de8c274f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"5950da7d-03e2-4f16-ac71-322e21f55111\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:10:37.437325\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-815f-a012-000b8ed94957\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:10:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:10:37.437325\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:10:37.437325\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"5950da7d-03e2-4f16-ac71-322e21f55111\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-81fc-ae6c-fafeb145e260\"},\"url\":\"https://app.notion.com/p/5950da7d03e24f16ac71322e21f55111\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"dfd952fa-9304-40c3-a230-7386108d0c1d\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"data_source_id":"393abc1e-edcd-815f-a012-000b8ed94957","name":"Test View","type":"table","database_id":"5950da7d-03e2-4f16-ac71-322e21f55111"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-8144-ac06-000cb4e719d5","parent":{"type":"database_id","database_id":"5950da7d-03e2-4f16-ac71-322e21f55111"},"data_source_id":"393abc1e-edcd-815f-a012-000b8ed94957","name":"Test
        View","type":"table","created_time":"2026-07-04T09:10:38.298+00:00","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:10:38.298+00:00","last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"url":"https://app.notion.com/p/5950da7d03e24f16ac71322e21f55111?v=393abc1eedcd8144ac06000cb4e719d5","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"1147915d-61ba-42ef-b1b8-25463aab8430"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"Updated View"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/views/393abc1e-edcd-8144-ac06-000cb4e719d5
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-8144-ac06-000cb4e719d5","parent":{"type":"database_id","database_id":"5950da7d-03e2-4f16-ac71-322e21f55111"},"data_source_id":"393abc1e-edcd-815f-a012-000b8ed94957","name":"Updated
        View","type":"table","created_time":"2026-07-04T09:10:38.298+00:00","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:10:39.735+00:00","last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"url":"https://app.notion.com/p/5950da7d03e24f16ac71322e21f55111?v=393abc1eedcd8144ac06000cb4e719d5","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"722b93e5-7c5e-4616-9460-471b5059a91b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-815f-a012-000b8ed94957
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-815f-a012-000b8ed94957\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5950da7d-03e2-4f16-ac71-322e21f55111
  response:
    body:
      string: '{"object":"block","id":"5950da7d-03e2-4f16-ac71-322e21f55111","parent":{"type":"page_id","page_id":"393abc1e-edcd-81fc-ae6c-fafeb145e260"},"created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:10:36.267519"},"archived":true,"request_id":"3dae7082-7f7a-4f0e-adc9-51fa127c875c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81fc-ae6c-fafeb145e260
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81fc-ae6c-fafeb145e260","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:10:35.844275"},"archived":true,"request_id":"00fe8d1d-b2c1-4181-8326-653cb4238498"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
