interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:10:10.259680"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-8160-a0c5-cf3ef7132151","created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:10:10.259680","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:10:10.259680","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-10-10-259680-393abc1eedcd8160a0c5cf3ef7132151","public_url":null,"archived":false,"request_id":"14eb8d8a-a251-410a-a8eb-542ab0ccbfff"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-8160-a0c5-cf3ef7132151"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:10:10.655162"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"990580d4-6b24-4e1c-b53b-c3ae1bebb6b9","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:10:10.655162","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:10:10.655162","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-8160-a0c5-cf3ef7132151"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:10:11.030+00:00","last_edited_time":"2026-07-04T09:10:11.030+00:00","data_sources":[{"id":"3a1e821c-fa7b-478e-a2e0-8e99f6a2ecab","name":"Test
        Database - 2026-07-04 11:10:10.655162"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/990580d46b244e1cb53bc3ae1bebb6b9","public_url":null,"archived":false,"request_id":"d8ffaa8a-eacf-49a2-a3f5-2d06566f60f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/views?database_id=990580d4-6b24-4e1c-b53b-c3ae1bebb6b9
  response:
    body:
      string: '{"object":"list","results":[{"object":"view","id":"db1256fb-b1f5-4c0e-a50d-f6cd0bf5b0a4"}],"next_cursor":null,"has_more":false,"type":"view","view":{},"request_id":"b4b3b40c-9d0f-47c4-9ab9-09012a669212"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/990580d4-6b24-4e1c-b53b-c3ae1bebb6b9
  response:
    body:
      string: '{"object":"block","id":"990580d4-6b24-4e1c-b53b-c3ae1bebb6b9","parent":{"type":"page_id","page_id":"393abc1e-edcd-8160-a0c5-cf3ef7132151"},"created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:10:10.655162"},"archived":true,"request_id":"58f8662a-49b9-42d3-a9ec-c33741b3cf46"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-8160-a0c5-cf3ef7132151
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-8160-a0c5-cf3ef7132151","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:10:10.259680"},"archived":true,"request_id":"6394c719-6d44-43a7-8b60-43ee749c850c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
