interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-06-29 15:06:47.035619"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"d982c5c3-cb7e-4b8c-abcf-c9d9b008ba44","created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-06-29 15:06:47.035619","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-06-29 15:06:47.035619","href":null}]}},"url":"https://www.notion.so/Test-2023-06-29-15-06-47-035619-d982c5c3cb7e4b8cabcfc9d9b008ba44","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "d982c5c3-cb7e-4b8c-abcf-c9d9b008ba44"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-06-29 15:06:47.478120"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"2f5f94ba-7b3a-4081-be8a-a7c67bfc860c","cover":null,"icon":null,"created_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-06-29T13:06:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-06-29 15:06:47.478120","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-06-29 15:06:47.478120","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"d982c5c3-cb7e-4b8c-abcf-c9d9b008ba44"},"url":"https://www.notion.so/2f5f94ba7b3a4081be8aa7c67bfc860c","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83d\udd25"}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/2f5f94ba-7b3a-4081-be8a-a7c67bfc860c
  response:
    content: "{\"object\":\"database\",\"id\":\"2f5f94ba-7b3a-4081-be8a-a7c67bfc860c\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F525\"},\"created_time\":\"2023-06-29T13:06:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2023-06-29T13:06:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Database - 2023-06-29 15:06:47.478120\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
      Database - 2023-06-29 15:06:47.478120\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"d982c5c3-cb7e-4b8c-abcf-c9d9b008ba44\"},\"url\":\"https://www.notion.so/2f5f94ba7b3a4081be8aa7c67bfc860c\",\"public_url\":null,\"archived\":false}"
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/2f5f94ba-7b3a-4081-be8a-a7c67bfc860c
  response:
    content: '{"object":"block","id":"2f5f94ba-7b3a-4081-be8a-a7c67bfc860c","parent":{"type":"page_id","page_id":"d982c5c3-cb7e-4b8c-abcf-c9d9b008ba44"},"created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-06-29 15:06:47.478120"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d982c5c3-cb7e-4b8c-abcf-c9d9b008ba44
  response:
    content: '{"object":"block","id":"d982c5c3-cb7e-4b8c-abcf-c9d9b008ba44","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-06-29 15:06:47.035619"}}'
    headers: {}
    status_code: 200
version: 1
