interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:11:35.335413"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8141-824f-f7a0abf84c15","created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:11:35.335413","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:11:35.335413","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-11-35-335413-16cabc1eedcd8141824ff7a0abf84c15","public_url":null,"request_id":"60918985-f64d-41fa-8c3e-9970a7b08807"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/16cabc1e-edcd-8141-824f-f7a0abf84c15
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8141-824f-f7a0abf84c15","created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:11:35.335413","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:11:35.335413","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-11-35-335413-16cabc1eedcd8141824ff7a0abf84c15","public_url":null,"request_id":"1b7b8ef1-5f9d-48c2-b332-02e503506438"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8141-824f-f7a0abf84c15
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8141-824f-f7a0abf84c15","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:11:35.335413"},"request_id":"96a53305-00dd-48d2-8638-feafb69168b9"}'
    headers: {}
    status_code: 200
version: 1
