interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2025-10-23 14:39:52.269910"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"295abc1e-edcd-8135-9e5a-dde9887f7d02","created_time":"2025-10-23T12:39:00.000Z","last_edited_time":"2025-10-23T12:39:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-23 14:39:52.269910","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-23 14:39:52.269910","href":null}]}},"url":"https://www.notion.so/Test-2025-10-23-14-39-52-269910-295abc1eedcd81359e5adde9887f7d02","public_url":null,"request_id":"a080e093-99d9-4269-a82e-1023e5c163bd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"295abc1e-edcd-8135-9e5a-dde9887f7d02"},"title":[{"type":"text","text":{"content":"Test
      Database - 2025-10-23 14:39:52.695454"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"5f019bf3-d9c8-4b72-bb0f-7c36d6a26838","title":[{"type":"text","text":{"content":"Test
        Database - 2025-10-23 14:39:52.695454","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2025-10-23 14:39:52.695454","href":null}],"description":[],"parent":{"type":"page_id","page_id":"295abc1e-edcd-8135-9e5a-dde9887f7d02"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2025-10-23T12:39:52.977+00:00","last_edited_time":"2025-10-23T12:39:52.977+00:00","data_sources":[{"id":"1623d455-c901-4020-87e1-7ff1abedc731","name":"Test
        Database - 2025-10-23 14:39:52.695454"}],"icon":null,"cover":null,"url":"https://www.notion.so/5f019bf3d9c84b72bb0f7c36d6a26838","public_url":null,"request_id":"f07df668-cbf0-4709-992a-e82b495648c9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"5f019bf3-d9c8-4b72-bb0f-7c36d6a26838\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2025-10-23 14:39:53.838525\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"295abc1e-edcd-8150-87ab-000bc0ae7829\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2025-10-23T12:39:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2025-10-23T12:39:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2025-10-23 14:39:53.838525\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2025-10-23 14:39:53.838525\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"5f019bf3-d9c8-4b72-bb0f-7c36d6a26838\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"295abc1e-edcd-8135-9e5a-dde9887f7d02\"},\"url\":\"https://www.notion.so/5f019bf3d9c84b72bb0f7c36d6a26838\",\"public_url\":null,\"archived\":false,\"in_trash\":false,\"request_id\":\"98cf168d-570d-4540-97dd-2c7f14ec361d\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/295abc1e-edcd-8150-87ab-000bc0ae7829/templates
  response:
    body:
      string: '{"templates":[],"has_more":false,"next_cursor":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/295abc1e-edcd-8150-87ab-000bc0ae7829
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"295abc1e-edcd-8150-87ab-000bc0ae7829\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2025-10-23T12:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5f019bf3-d9c8-4b72-bb0f-7c36d6a26838
  response:
    body:
      string: '{"object":"block","id":"5f019bf3-d9c8-4b72-bb0f-7c36d6a26838","parent":{"type":"page_id","page_id":"295abc1e-edcd-8135-9e5a-dde9887f7d02"},"created_time":"2025-10-23T12:39:00.000Z","last_edited_time":"2025-10-23T12:39:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2025-10-23 14:39:52.695454"},"request_id":"5bd3f2e9-0b88-489c-8775-1b8c34d4c3d2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/295abc1e-edcd-8135-9e5a-dde9887f7d02
  response:
    body:
      string: '{"object":"block","id":"295abc1e-edcd-8135-9e5a-dde9887f7d02","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2025-10-23T12:39:00.000Z","last_edited_time":"2025-10-23T12:39:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-23 14:39:52.269910"},"request_id":"80e2ab79-08ca-4d2a-8f8c-2aabfb289dcf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
