interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:10:59.895269"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81ea-9507-fe8637a01945","created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:10:59.895269","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:10:59.895269","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-10-59-895269-393abc1eedcd81ea9507fe8637a01945","public_url":null,"archived":false,"request_id":"8bda6c1c-2516-458a-b1bb-005e3cd70d81"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-81ea-9507-fe8637a01945"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:11:00.402837"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"13c28ba9-d103-438a-b309-bf9309bb52e7","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:11:00.402837","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:11:00.402837","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-81ea-9507-fe8637a01945"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:11:00.796+00:00","last_edited_time":"2026-07-04T09:11:00.796+00:00","data_sources":[{"id":"5a3b929f-d5d1-4fa5-8bdf-2d21bbf5cd11","name":"Test
        Database - 2026-07-04 11:11:00.402837"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/13c28ba9d103438ab309bf9309bb52e7","public_url":null,"archived":false,"request_id":"b32aba01-a70c-425a-b52a-d803a17470f0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"13c28ba9-d103-438a-b309-bf9309bb52e7\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:11:02.072077\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81ea-8d2f-000b2fc22b40\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:11:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:11:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:11:02.072077\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:11:02.072077\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"13c28ba9-d103-438a-b309-bf9309bb52e7\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-81ea-9507-fe8637a01945\"},\"url\":\"https://app.notion.com/p/13c28ba9d103438ab309bf9309bb52e7\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"0a2bd869-38fe-4f54-9b29-14f21b60e8ef\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"data_source_id":"393abc1e-edcd-81ea-8d2f-000b2fc22b40","name":"Test View","type":"table","database_id":"13c28ba9-d103-438a-b309-bf9309bb52e7"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-8116-b42e-000cc4f895a0","parent":{"type":"database_id","database_id":"13c28ba9-d103-438a-b309-bf9309bb52e7"},"data_source_id":"393abc1e-edcd-81ea-8d2f-000b2fc22b40","name":"Test
        View","type":"table","created_time":"2026-07-04T09:11:02.974+00:00","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:11:02.974+00:00","last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"url":"https://app.notion.com/p/13c28ba9d103438ab309bf9309bb52e7?v=393abc1eedcd8116b42e000cc4f895a0","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"ff7d5b06-d641-4a05-92f6-974fc56d1eea"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views/393abc1e-edcd-8116-b42e-000cc4f895a0/queries
  response:
    body:
      string: '{"object":"view_query","id":"713b38d7-41be-4b53-8f40-2f57cce2e002","view_id":"393abc1e-edcd-8116-b42e-000cc4f895a0","expires_at":"2026-07-04T09:26:06.511+00:00","total_count":0,"results":[],"next_cursor":null,"has_more":false,"request_id":"fd8e8142-695f-4f3c-b926-723a91d558e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/views/393abc1e-edcd-8116-b42e-000cc4f895a0/queries/713b38d7-41be-4b53-8f40-2f57cce2e002
  response:
    body:
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page","page":{},"request_id":"dbddc410-364b-4cca-8211-8560a7d24672"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/views/393abc1e-edcd-8116-b42e-000cc4f895a0
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-8116-b42e-000cc4f895a0","parent":{"type":"database_id","database_id":"13c28ba9-d103-438a-b309-bf9309bb52e7"},"type":"table","request_id":"a3a0de9f-03e7-41bd-a870-cbf552aa5fe9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-81ea-8d2f-000b2fc22b40
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81ea-8d2f-000b2fc22b40\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/13c28ba9-d103-438a-b309-bf9309bb52e7
  response:
    body:
      string: '{"object":"block","id":"13c28ba9-d103-438a-b309-bf9309bb52e7","parent":{"type":"page_id","page_id":"393abc1e-edcd-81ea-9507-fe8637a01945"},"created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:11:00.402837"},"archived":true,"request_id":"1186b913-966a-4441-bae3-91be1236bd9a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81ea-9507-fe8637a01945
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81ea-9507-fe8637a01945","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:10:59.895269"},"archived":true,"request_id":"4efe7a61-77c2-4c07-a215-85e18dcb5877"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
