interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:09:50.814033"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81d0-aac2-e605e1c38472","created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:09:50.814033","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:09:50.814033","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-09-50-814033-393abc1eedcd81d0aac2e605e1c38472","public_url":null,"archived":false,"request_id":"ac52c047-65a7-4274-9918-a474df6a18a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-81d0-aac2-e605e1c38472"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:09:51.171298"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"6bb68db6-675b-40b4-b5a0-25d95f8fde67","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:09:51.171298","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:09:51.171298","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-81d0-aac2-e605e1c38472"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:09:51.502+00:00","last_edited_time":"2026-07-04T09:09:51.502+00:00","data_sources":[{"id":"501ec82d-64f5-43ba-a4f3-8d93b72c2941","name":"Test
        Database - 2026-07-04 11:09:51.171298"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/6bb68db6675b40b4b5a025d95f8fde67","public_url":null,"archived":false,"request_id":"77ef6796-e26e-45f7-9dcf-0cfb324a339b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"6bb68db6-675b-40b4-b5a0-25d95f8fde67\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:09:52.302363\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81de-92fa-000bf23c45e3\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:09:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:09:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:09:52.302363\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:09:52.302363\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"6bb68db6-675b-40b4-b5a0-25d95f8fde67\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-81d0-aac2-e605e1c38472\"},\"url\":\"https://app.notion.com/p/6bb68db6675b40b4b5a025d95f8fde67\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"6e9b3b0b-f603-4e50-ba42-6755ccb00ccd\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"title":[{"type":"text","text":{"content":"Updated DataSource"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-81de-92fa-000bf23c45e3
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81de-92fa-000bf23c45e3\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6bb68db6-675b-40b4-b5a0-25d95f8fde67
  response:
    body:
      string: '{"object":"block","id":"6bb68db6-675b-40b4-b5a0-25d95f8fde67","parent":{"type":"page_id","page_id":"393abc1e-edcd-81d0-aac2-e605e1c38472"},"created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:09:51.171298"},"archived":true,"request_id":"ed081d81-ab3a-43bb-80ef-7d114eb3e4fd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81d0-aac2-e605e1c38472
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81d0-aac2-e605e1c38472","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:09:50.814033"},"archived":true,"request_id":"e0c8901c-4cb6-45ba-a9e0-f967860ec4f8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
