interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2026-04-20 18:20:36.980355"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"348abc1e-edcd-81a4-86ef-f89212f6b617","created_time":"2026-04-20T16:20:00.000Z","last_edited_time":"2026-04-20T16:20:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-04-20 18:20:36.980355","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-04-20 18:20:36.980355","href":null}]}},"url":"https://www.notion.so/Test-2026-04-20-18-20-36-980355-348abc1eedcd81a486eff89212f6b617","public_url":null,"archived":false,"request_id":"0f2036dd-f216-4648-af6c-0fa5e31345ef"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"page_id":"348abc1e-edcd-81a4-86ef-f89212f6b617"},"rich_text":[{"text":{"content":"This
      is a test comment."}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    body:
      string: '{"object":"comment","id":"348abc1e-edcd-815e-a248-001dea372a48","parent":{"type":"page_id","page_id":"348abc1e-edcd-81a4-86ef-f89212f6b617"},"discussion_id":"348abc1e-edcd-811c-8970-001c4f0b1d2e","created_time":"2026-04-20T16:20:00.000Z","last_edited_time":"2026-04-20T16:20:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"notion-sdk-py"},"request_id":"0c8084ca-4894-4ee1-8d1f-ac189d94226f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"rich_text":[{"text":{"content":"Updated comment."}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/comments/348abc1e-edcd-815e-a248-001dea372a48
  response:
    body:
      string: '{"object":"comment","id":"348abc1e-edcd-815e-a248-001dea372a48","parent":{"type":"page_id","page_id":"348abc1e-edcd-81a4-86ef-f89212f6b617"},"discussion_id":"348abc1e-edcd-811c-8970-001c4f0b1d2e","created_time":"2026-04-20T16:20:00.000Z","last_edited_time":"2026-04-20T16:20:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"Updated
        comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Updated
        comment.","href":null}],"display_name":{"type":"integration","resolved_name":"notion-sdk-py"},"request_id":"1a6bf2be-a4c2-4932-82c4-5c4597f43eda"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/348abc1e-edcd-81a4-86ef-f89212f6b617
  response:
    body:
      string: '{"object":"block","id":"348abc1e-edcd-81a4-86ef-f89212f6b617","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2026-04-20T16:20:00.000Z","last_edited_time":"2026-04-20T16:20:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-04-20 18:20:36.980355"},"archived":true,"request_id":"f7ac7ccc-3173-4a53-8e7c-dd7a05c3080f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
