interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-06-29 15:06:23.002342"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"f06c55f9-cd6c-4f96-a2c5-0f200f83dff6","created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-06-29 15:06:23.002342","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-06-29 15:06:23.002342","href":null}]}},"url":"https://www.notion.so/Test-2023-06-29-15-06-23-002342-f06c55f9cd6c4f96a2c50f200f83dff6","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"query": "f06c55f9-cd6c-4f96-a2c5-0f200f83dff6", "sort": {"direction":
      "descending", "timestamp": "last_edited_time"}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"b509e8d5-86d2-4b82-ba92-df6be98595af\",\"created_time\":\"2021-05-19T09:49:00.000Z\",\"last_edited_time\":\"2021-05-19T09:49:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"a4f789cc-7bc8-4cf0-82b9-a8ba7d985ecf\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"a4f789cc-7bc8-4cf0-82b9-a8ba7d985ecf\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"8b230247-e484-4e20-901a-ad92ae5e3b0a\"},\"archived\":false,\"properties\":{\"Score
      /5\":{\"id\":\")Y7%22\",\"type\":\"select\",\"select\":null},\"Type\":{\"id\":\"%2F7eo\",\"type\":\"select\",\"select\":{\"id\":\"f96d0d0a-5564-4a20-ab15-5f040d49759e\",\"name\":\"Article\",\"color\":\"default\"}},\"Publisher\":{\"id\":\"%3E%24Pb\",\"type\":\"select\",\"select\":{\"id\":\"c5ee409a-f307-4176-99ee-6e424fa89afa\",\"name\":\"NYT\",\"color\":\"default\"}},\"Summary\":{\"id\":\"%3F%5C25\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Putting
      a levy on targeted ad revenue would give Facebook and Google a real incentive
      to change their dangerous business models.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Putting
      a levy on targeted ad revenue would give Facebook and Google a real incentive
      to change their dangerous business models.\",\"href\":null}]},\"Publishing/Release
      Date\":{\"id\":\"%3Fex%2B\",\"type\":\"date\",\"date\":{\"start\":\"2019-10-06\",\"end\":null,\"time_zone\":null}},\"Link\":{\"id\":\"VVMi\",\"type\":\"url\",\"url\":\"https://www.nytimes.com/2019/05/06/opinion/tax-facebook-google.html\"},\"Status\":{\"id\":\"%60zz5\",\"type\":\"select\",\"select\":{\"id\":\"8c4a056e-6709-4dd1-ba58-d34d9480855a\",\"name\":\"Ready
      to Start\",\"color\":\"yellow\"}},\"Author\":{\"id\":\"qNw_\",\"type\":\"multi_select\",\"multi_select\":[{\"id\":\"82e594e2-b1c5-4271-ac19-1a723a94a533\",\"name\":\"Paul
      Romer\",\"color\":\"default\"}]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"A
      Tax That Could Fix Big Tech \",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"A
      Tax That Could Fix Big Tech \",\"href\":null}]}},\"url\":\"https://www.notion.so/A-Tax-That-Could-Fix-Big-Tech-b509e8d586d24b82ba92df6be98595af\",\"public_url\":null},{\"object\":\"page\",\"id\":\"c8843e4e-67a2-4aba-a4aa-d51afcbe0e25\",\"created_time\":\"2021-05-19T09:49:00.000Z\",\"last_edited_time\":\"2021-05-19T09:49:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"a4f789cc-7bc8-4cf0-82b9-a8ba7d985ecf\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"a4f789cc-7bc8-4cf0-82b9-a8ba7d985ecf\"},\"cover\":{\"type\":\"external\",\"external\":{\"url\":\"https://assets.bonappetit.com/photos/5ae0db56026131045b4160b6/16:9/w_1280%2Cc_limit/foodcast.gif\"}},\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"8b230247-e484-4e20-901a-ad92ae5e3b0a\"},\"archived\":false,\"properties\":{\"Score
      /5\":{\"id\":\")Y7%22\",\"type\":\"select\",\"select\":null},\"Type\":{\"id\":\"%2F7eo\",\"type\":\"select\",\"select\":{\"id\":\"82f3bace-be25-410d-87fe-561c9c22492f\",\"name\":\"Podcast\",\"color\":\"default\"}},\"Publisher\":{\[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f06c55f9-cd6c-4f96-a2c5-0f200f83dff6
  response:
    content: '{"object":"block","id":"f06c55f9-cd6c-4f96-a2c5-0f200f83dff6","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-06-29 15:06:23.002342"}}'
    headers: {}
    status_code: 200
version: 1
