interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:08:14.736683"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81f5-ae94-ec2d55fe98ed","created_time":"2026-07-04T09:08:00.000Z","last_edited_time":"2026-07-04T09:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:08:14.736683","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:08:14.736683","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-08-14-736683-393abc1eedcd81f5ae94ec2d55fe98ed","public_url":null,"archived":false,"request_id":"71facefc-f744-4218-8f4a-810c1c3b6a64"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/393abc1e-edcd-81f5-ae94-ec2d55fe98ed
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81f5-ae94-ec2d55fe98ed","created_time":"2026-07-04T09:08:00.000Z","last_edited_time":"2026-07-04T09:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:08:14.736683","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:08:14.736683","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-08-14-736683-393abc1eedcd81f5ae94ec2d55fe98ed","public_url":null,"archived":false,"request_id":"2bd770e5-493f-4acb-a967-5a986fd2c893"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81f5-ae94-ec2d55fe98ed
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81f5-ae94-ec2d55fe98ed","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:08:00.000Z","last_edited_time":"2026-07-04T09:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:08:14.736683"},"archived":true,"request_id":"6e16cf02-154b-481d-ad9d-a95bed20895c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
