interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-06-29 15:07:38.528165"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"771d7a1d-dd20-4c9e-ae4a-006a4dcccbf3","created_time":"2023-06-29T13:07:00.000Z","last_edited_time":"2023-06-29T13:07:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-06-29 15:07:38.528165","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-06-29 15:07:38.528165","href":null}]}},"url":"https://www.notion.so/Test-2023-06-29-15-07-38-528165-771d7a1ddd204c9eae4a006a4dcccbf3","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "771d7a1d-dd20-4c9e-ae4a-006a4dcccbf3"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-06-29 15:07:38.940783"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4c1a5d33-1a03-468e-830b-3ff2bd38cb6c","cover":null,"icon":null,"created_time":"2023-06-29T13:07:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-06-29T13:07:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-06-29 15:07:38.940783","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-06-29 15:07:38.940783","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"771d7a1d-dd20-4c9e-ae4a-006a4dcccbf3"},"url":"https://www.notion.so/4c1a5d331a03468e830b3ff2bd38cb6c","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/4c1a5d33-1a03-468e-830b-3ff2bd38cb6c
  response:
    content: '{"object":"database","id":"4c1a5d33-1a03-468e-830b-3ff2bd38cb6c","cover":null,"icon":null,"created_time":"2023-06-29T13:07:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-06-29T13:07:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-06-29 15:07:38.940783","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-06-29 15:07:38.940783","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"771d7a1d-dd20-4c9e-ae4a-006a4dcccbf3"},"url":"https://www.notion.so/4c1a5d331a03468e830b3ff2bd38cb6c","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4c1a5d33-1a03-468e-830b-3ff2bd38cb6c
  response:
    content: '{"object":"block","id":"4c1a5d33-1a03-468e-830b-3ff2bd38cb6c","parent":{"type":"page_id","page_id":"771d7a1d-dd20-4c9e-ae4a-006a4dcccbf3"},"created_time":"2023-06-29T13:07:00.000Z","last_edited_time":"2023-06-29T13:07:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-06-29 15:07:38.940783"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/771d7a1d-dd20-4c9e-ae4a-006a4dcccbf3
  response:
    content: '{"object":"block","id":"771d7a1d-dd20-4c9e-ae4a-006a4dcccbf3","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-06-29T13:07:00.000Z","last_edited_time":"2023-06-29T13:07:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-06-29 15:07:38.528165"}}'
    headers: {}
    status_code: 200
version: 1
