interactions:
- request:
    body: '{"mode":"single_part","filename":"test_file.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"28399f72-bada-810b-97ac-00b20c865368","created_time":"2025-10-05T10:55:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-05T10:55:00.000Z","expiry_time":"2025-10-05T11:55:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/28399f72-bada-810b-97ac-00b20c865368/send","archived":false,"status":"pending","filename":"test_file.txt","content_type":"text/plain","content_length":null,"request_id":"8cc5f342-bcf1-45e2-a16e-713101606e3f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
