interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads?page_size=5
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"29a99f72-bada-818d-bd27-00b2c8ec7ea3","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:52:00.000Z","expiry_time":"2025-10-28T08:52:00.000Z","archived":false,"status":"uploaded","filename":"test_file_small.txt","content_type":"text/plain","content_length":25},{"object":"file_upload","id":"29a99f72-bada-812a-8523-00b2360858e4","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:52:00.000Z","expiry_time":"2025-10-28T08:52:00.000Z","archived":false,"status":"uploaded","filename":"test_file.pdf","content_type":"application/pdf","content_length":13264,"file_import_result":{"type":"success","success":{},"imported_time":"2025-10-28T07:52:43.000+00:00"}},{"object":"file_upload","id":"29a99f72-bada-8111-bbb5-00b2fb2eba17","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:52:00.000Z","expiry_time":"2025-10-28T08:52:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29a99f72-bada-8111-bbb5-00b2fb2eba17/send","archived":false,"status":"pending","filename":"large_file.pdf","content_type":"application/pdf","content_length":null,"number_of_parts":{"total":3,"sent":0}},{"object":"file_upload","id":"29a99f72-bada-81ea-b0b9-00b2ab11ca67","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:52:00.000Z","expiry_time":"2025-10-28T08:52:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29a99f72-bada-81ea-b0b9-00b2ab11ca67/send","archived":false,"status":"pending","filename":"test_file.txt","content_type":"text/plain","content_length":null},{"object":"file_upload","id":"29a99f72-bada-811c-8eb6-00b2f99f7959","created_time":"2025-10-28T06:54:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T06:54:00.000Z","expiry_time":null,"archived":false,"status":"uploaded","filename":"test_file_large.txt","content_type":"text/plain","content_length":31457280,"number_of_parts":{"total":3,"sent":3}}],"next_cursor":"29a99f72-bada-81cf-82eb-00b2bca4f684","has_more":true,"type":"file_upload","file_upload":{},"request_id":"7b3e22f7-9b7c-4cff-abcf-53df31a6a6ba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
