interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:11:48.112094"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-810b-a3bd-e09bfaf28226","created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:11:48.112094","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:11:48.112094","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-11-48-112094-16cabc1eedcd810ba3bde09bfaf28226","public_url":null,"request_id":"f9821024-6255-4e26-bb41-5873943b182d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"page_id":"16cabc1e-edcd-810b-a3bd-e09bfaf28226"},"rich_text":[{"text":{"content":"This
      is a test comment."}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"16cabc1e-edcd-8154-aec3-001d4b78d4ee","parent":{"type":"page_id","page_id":"16cabc1e-edcd-810b-a3bd-e09bfaf28226"},"discussion_id":"16cabc1e-edcd-8122-92f8-001c26b358e4","created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}],"request_id":"125e8c20-e18b-46c3-a8f7-87faa613870f"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=16cabc1e-edcd-810b-a3bd-e09bfaf28226
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"16cabc1e-edcd-8154-aec3-001d4b78d4ee","parent":{"type":"page_id","page_id":"16cabc1e-edcd-810b-a3bd-e09bfaf28226"},"discussion_id":"16cabc1e-edcd-8122-92f8-001c26b358e4","created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"025b1e34-1572-416e-9fb1-70ff9c878430"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-810b-a3bd-e09bfaf28226
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-810b-a3bd-e09bfaf28226","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:11:48.112094"},"request_id":"b1a538c1-e722-408c-8124-a73b83814848"}'
    headers: {}
    status_code: 200
version: 1
