interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:09:14.212294"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8174-bdef-d9ad2b4182d3","created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:09:14.212294","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:09:14.212294","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-09-14-212294-16cabc1eedcd8174bdefd9ad2b4182d3","public_url":null,"request_id":"d1f14718-bce9-41d0-bb0c-1da4b09aae4c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8174-bdef-d9ad2b4182d3"},"title":[{"type":"text","text":{"content":"Test
      Database"}}],"properties":{"Name":{"title":{}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-8133-9437-ca311e3d2a58","cover":null,"icon":null,"created_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:09:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8174-bdef-d9ad2b4182d3"},"url":"https://www.notion.so/16cabc1eedcd81339437ca311e3d2a58","public_url":null,"archived":false,"in_trash":false,"request_id":"d5438fd5-cf55-49ae-a383-bb17eaeab987"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8174-bdef-d9ad2b4182d3
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8174-bdef-d9ad2b4182d3","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":true,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:09:14.212294"},"request_id":"64cad1f0-e2ef-4b8c-92cf-de233d3a7746"}'
    headers: {}
    status_code: 200
version: 1
