interactions:
- request:
    body: '{"parent": {"page_id": "95ba0116-6776-4c19-9e45-54e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-11-04 15:00:20.850229"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"671bf8c4-b59a-47fc-95f1-2619e93b8e8e","created_time":"2023-11-04T14:00:00.000Z","last_edited_time":"2023-11-04T14:00:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-11-04 15:00:20.850229","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-11-04 15:00:20.850229","href":null}]}},"url":"https://www.notion.so/Test-2023-11-04-15-00-20-850229-671bf8c4b59a47fc95f12619e93b8e8e","public_url":null,"request_id":"39d000ec-de7b-4dc6-ad0e-e7b0266dbe0d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"paragraph": {"rich_text": [{"text": {"content": "I''m a
      paragraph."}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/671bf8c4-b59a-47fc-95f1-2619e93b8e8e/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"8988b7c1-c451-4d20-b8b8-2ba43f83a6ef","parent":{"type":"page_id","page_id":"671bf8c4-b59a-47fc-95f1-2619e93b8e8e"},"created_time":"2023-11-04T14:00:00.000Z","last_edited_time":"2023-11-04T14:00:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"edf5a7eb-766d-4c0a-9970-0666f638a9ea"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/8988b7c1-c451-4d20-b8b8-2ba43f83a6ef
  response:
    content: '{"object":"block","id":"8988b7c1-c451-4d20-b8b8-2ba43f83a6ef","parent":{"type":"page_id","page_id":"671bf8c4-b59a-47fc-95f1-2619e93b8e8e"},"created_time":"2023-11-04T14:00:00.000Z","last_edited_time":"2023-11-04T14:00:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"},"request_id":"bb0cf4c9-d967-43be-9b6c-d76806023178"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/671bf8c4-b59a-47fc-95f1-2619e93b8e8e
  response:
    content: '{"object":"block","id":"671bf8c4-b59a-47fc-95f1-2619e93b8e8e","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-11-04T14:00:00.000Z","last_edited_time":"2023-11-04T14:00:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-11-04 15:00:20.850229"},"request_id":"f30263cf-16ba-4cc5-b992-a5b823cba75f"}'
    headers: {}
    status_code: 200
version: 1
