interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:20:54.151558"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8130-8c6b-f9c944d8fc97","created_time":"2024-12-30T17:20:00.000Z","last_edited_time":"2024-12-30T17:20:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:20:54.151558","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:20:54.151558","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-20-54-151558-16cabc1eedcd81308c6bf9c944d8fc97","public_url":null,"request_id":"1783eb4b-e62f-456f-8a16-fd0582037bda"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/16cabc1e-edcd-8130-8c6b-f9c944d8fc97
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8130-8c6b-f9c944d8fc97","created_time":"2024-12-30T17:20:00.000Z","last_edited_time":"2024-12-30T17:20:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:20:54.151558","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:20:54.151558","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-20-54-151558-16cabc1eedcd81308c6bf9c944d8fc97","public_url":null,"request_id":"cf38c403-b04f-4e4f-8414-6c6ede386776"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8130-8c6b-f9c944d8fc97
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8130-8c6b-f9c944d8fc97","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:20:00.000Z","last_edited_time":"2024-12-30T17:20:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:20:54.151558"},"request_id":"b20890cb-0eda-447e-9b2b-6f9bf02f35c9"}'
    headers: {}
    status_code: 200
version: 1
