interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:08:57.039090"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-8104-9e45-de1cccb47ac5","created_time":"2026-07-04T09:08:00.000Z","last_edited_time":"2026-07-04T09:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:08:57.039090","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:08:57.039090","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-08-57-039090-393abc1eedcd81049e45de1cccb47ac5","public_url":null,"archived":false,"request_id":"13c0683e-f76e-45be-886c-6d52207ecf5a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-8104-9e45-de1cccb47ac5"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:08:57.449785"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"e234cdc8-4ad2-4371-a97e-999a238bf8f5","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:08:57.449785","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:08:57.449785","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-8104-9e45-de1cccb47ac5"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:08:57.778+00:00","last_edited_time":"2026-07-04T09:08:57.778+00:00","data_sources":[{"id":"b71e1213-3d03-46cb-b9c2-db9856a9f42d","name":"Test
        Database - 2026-07-04 11:08:57.449785"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/e234cdc84ad24371a97e999a238bf8f5","public_url":null,"archived":false,"request_id":"c5ff51ef-95f3-4d41-a0d8-6b35df73cfa7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/e234cdc8-4ad2-4371-a97e-999a238bf8f5
  response:
    body:
      string: '{"object":"database","id":"e234cdc8-4ad2-4371-a97e-999a238bf8f5","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:08:57.449785","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:08:57.449785","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-8104-9e45-de1cccb47ac5"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:08:57.778+00:00","last_edited_time":"2026-07-04T09:08:57.778+00:00","data_sources":[{"id":"b71e1213-3d03-46cb-b9c2-db9856a9f42d","name":"Test
        Database - 2026-07-04 11:08:57.449785"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/e234cdc84ad24371a97e999a238bf8f5","public_url":null,"archived":false,"request_id":"4387834b-3dda-49f0-a506-b11b0a27ed47"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/e234cdc8-4ad2-4371-a97e-999a238bf8f5
  response:
    body:
      string: '{"object":"block","id":"e234cdc8-4ad2-4371-a97e-999a238bf8f5","parent":{"type":"page_id","page_id":"393abc1e-edcd-8104-9e45-de1cccb47ac5"},"created_time":"2026-07-04T09:08:00.000Z","last_edited_time":"2026-07-04T09:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:08:57.449785"},"archived":true,"request_id":"e99a3cde-19b8-4abd-9889-66d663ae2ff3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-8104-9e45-de1cccb47ac5
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-8104-9e45-de1cccb47ac5","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:08:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:08:57.039090"},"archived":true,"request_id":"2e196e3f-f84c-4efc-849a-da61d55a2a06"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
