interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:24:08.033615"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8120-b0a5-e7b7268892ac","created_time":"2024-12-30T17:24:00.000Z","last_edited_time":"2024-12-30T17:24:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:24:08.033615","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:24:08.033615","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-24-08-033615-16cabc1eedcd8120b0a5e7b7268892ac","public_url":null,"request_id":"83910e90-ddf4-4819-b669-d09a4c252e56"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children":[{"paragraph":{"rich_text":[{"mention":{"type":"date","date":{"start":"2022-12-16","end":null}}}]}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8120-b0a5-e7b7268892ac/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"16cabc1e-edcd-815e-b1d2-c2e09c9eb547","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8120-b0a5-e7b7268892ac"},"created_time":"2024-12-30T17:24:00.000Z","last_edited_time":"2024-12-30T17:24:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"date","date":{"start":"2022-12-16","end":null,"time_zone":null}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"2022-12-16","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"5f991c2c-9212-4d06-96f6-0b02f67e3b1c"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-815e-b1d2-c2e09c9eb547
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-815e-b1d2-c2e09c9eb547","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8120-b0a5-e7b7268892ac"},"created_time":"2024-12-30T17:24:00.000Z","last_edited_time":"2024-12-30T17:24:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"date","date":{"start":"2022-12-16","end":null,"time_zone":null}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"2022-12-16","href":null}],"color":"default"},"request_id":"b2647b87-d84b-4350-91f6-b8ead8637ac8"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8120-b0a5-e7b7268892ac
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8120-b0a5-e7b7268892ac","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:24:00.000Z","last_edited_time":"2024-12-30T17:24:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:24:08.033615"},"request_id":"ba9810a2-d3d3-402c-ba74-8641e57112c7"}'
    headers: {}
    status_code: 200
version: 1
