interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-09-15 21:10:00.489742"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"1d0a4abc-f49a-42a0-aae2-e31942232a95","created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-09-15 21:10:00.489742","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-09-15 21:10:00.489742","href":null}]}},"url":"https://www.notion.so/Test-2023-09-15-21-10-00-489742-1d0a4abcf49a42a0aae2e31942232a95","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "1d0a4abc-f49a-42a0-aae2-e31942232a95"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-09-15 21:10:01.109708"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6c6dbe1d-627b-4c08-8ef6-8273ae4dc7a7","cover":null,"icon":null,"created_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-09-15T19:10:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-09-15 21:10:01.109708","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-09-15 21:10:01.109708","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"1d0a4abc-f49a-42a0-aae2-e31942232a95"},"url":"https://www.notion.so/6c6dbe1d627b4c088ef68273ae4dc7a7","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/6c6dbe1d-627b-4c08-8ef6-8273ae4dc7a7
  response:
    content: '{"object":"database","id":"6c6dbe1d-627b-4c08-8ef6-8273ae4dc7a7","cover":null,"icon":null,"created_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-09-15T19:10:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-09-15 21:10:01.109708","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-09-15 21:10:01.109708","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"1d0a4abc-f49a-42a0-aae2-e31942232a95"},"url":"https://www.notion.so/6c6dbe1d627b4c088ef68273ae4dc7a7","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6c6dbe1d-627b-4c08-8ef6-8273ae4dc7a7
  response:
    content: '{"object":"block","id":"6c6dbe1d-627b-4c08-8ef6-8273ae4dc7a7","parent":{"type":"page_id","page_id":"1d0a4abc-f49a-42a0-aae2-e31942232a95"},"created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-09-15 21:10:01.109708"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/1d0a4abc-f49a-42a0-aae2-e31942232a95
  response:
    content: '{"object":"block","id":"1d0a4abc-f49a-42a0-aae2-e31942232a95","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-09-15 21:10:00.489742"}}'
    headers: {}
    status_code: 200
version: 1
