interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/file_uploads?status=expired
  response:
    body:
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"file_upload\",\"id\":\"21e99f72-bada-81f3-bd62-00b2b7fe6598\",\"created_time\":\"2025-06-26T13:25:00.000Z\",\"created_by\":{\"id\":\"de22d752-9bb8-45d5-b8f1-6c2c47852b3b\",\"type\":\"bot\"},\"last_edited_time\":\"2025-06-26T15:05:00.000Z\",\"expiry_time\":null,\"archived\":false,\"status\":\"expired\",\"filename\":\"large_test.pdf\",\"content_type\":\"application/pdf\",\"content_length\":26,\"number_of_parts\":{\"total\":4,\"sent\":1}},{\"object\":\"file_upload\",\"id\":\"21e99f72-bada-8144-bb46-00b2c13a79cb\",\"created_time\":\"2025-06-26T12:44:00.000Z\",\"created_by\":{\"id\":\"de22d752-9bb8-45d5-b8f1-6c2c47852b3b\",\"type\":\"bot\"},\"last_edited_time\":\"2025-06-26T14:05:00.000Z\",\"expiry_time\":null,\"archived\":false,\"status\":\"expired\",\"filename\":\"large_test.pdf\",\"content_type\":\"application/pdf\",\"content_length\":10485760,\"number_of_parts\":{\"total\":4,\"sent\":1}},{\"object\":\"file_upload\",\"id\":\[...]
