interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-09-15 21:09:42.516606"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0860ab89-8e00-4c43-9893-12f1f0790e4d","created_time":"2023-09-15T19:09:00.000Z","last_edited_time":"2023-09-15T19:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-09-15 21:09:42.516606","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-09-15 21:09:42.516606","href":null}]}},"url":"https://www.notion.so/Test-2023-09-15-21-09-42-516606-0860ab898e004c43989312f1f0790e4d","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"paragraph": {"rich_text": [{"text": {"content": "I''m a
      paragraph."}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/0860ab89-8e00-4c43-9893-12f1f0790e4d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"bb4366d4-7aea-4ee3-adac-3c6e29ffddb1","parent":{"type":"page_id","page_id":"0860ab89-8e00-4c43-9893-12f1f0790e4d"},"created_time":"2023-09-15T19:09:00.000Z","last_edited_time":"2023-09-15T19:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{}}'
    headers: {}
    status_code: 200
- request:
    body: '{"paragraph": {"rich_text": [{"text": {"content": "I''m an updated paragraph."},
      "annotations": {"bold": true, "color": "red_background"}}]}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/bb4366d4-7aea-4ee3-adac-3c6e29ffddb1
  response:
    content: '{"object":"block","id":"bb4366d4-7aea-4ee3-adac-3c6e29ffddb1","parent":{"type":"page_id","page_id":"0860ab89-8e00-4c43-9893-12f1f0790e4d"},"created_time":"2023-09-15T19:09:00.000Z","last_edited_time":"2023-09-15T19:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      an updated paragraph.","link":null},"annotations":{"bold":true,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"red_background"},"plain_text":"I''m
      an updated paragraph.","href":null}],"color":"default"}}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0860ab89-8e00-4c43-9893-12f1f0790e4d
  response:
    content: '{"object":"block","id":"0860ab89-8e00-4c43-9893-12f1f0790e4d","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-09-15T19:09:00.000Z","last_edited_time":"2023-09-15T19:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-09-15 21:09:42.516606"}}'
    headers: {}
    status_code: 200
version: 1
