interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:25:25.315501"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-814b-aee5-cf69471e5a43","created_time":"2026-07-04T09:25:00.000Z","last_edited_time":"2026-07-04T09:25:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:25:25.315501","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:25:25.315501","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-25-25-315501-393abc1eedcd814baee5cf69471e5a43","public_url":null,"archived":false,"request_id":"b256aa25-b344-4ad1-b137-28ff6f22c66d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"children":[{"paragraph":{"rich_text":[{"text":{"content":"paragraph 0"}}]}},{"paragraph":{"rich_text":[{"text":{"content":"paragraph
      1"}}]}},{"paragraph":{"rich_text":[{"text":{"content":"paragraph 2"}}]}},{"paragraph":{"rich_text":[{"text":{"content":"paragraph
      3"}}]}},{"paragraph":{"rich_text":[{"text":{"content":"paragraph 4"}}]}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-814b-aee5-cf69471e5a43/children
  response:
    body:
      string: '{"object":"list","results":[{"object":"block","id":"393abc1e-edcd-81b4-97e4-e74d4867a8a1","parent":{"type":"page_id","page_id":"393abc1e-edcd-814b-aee5-cf69471e5a43"},"created_time":"2026-07-04T09:25:00.000Z","last_edited_time":"2026-07-04T09:25:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"paragraph
        0","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"paragraph
        0","href":null}],"icon":null,"color":"default"},"archived":false},{"object":"block","id":"393abc1e-edcd-813d-9f29-e8c616b0f017","parent":{"type":"page_id","page_id":"393abc1e-edcd-814b-aee5-cf69471e5a43"},"created_tim[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-814b-aee5-cf69471e5a43/children?page_size=2
  response:
    body:
      string: '{"object":"list","results":[{"object":"block","id":"393abc1e-edcd-81b4-97e4-e74d4867a8a1","parent":{"type":"page_id","page_id":"393abc1e-edcd-814b-aee5-cf69471e5a43"},"created_time":"2026-07-04T09:25:00.000Z","last_edited_time":"2[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-814b-aee5-cf69471e5a43/children?start_cursor=393abc1e-edcd-817b-900d-c75ec8d2f272&page_size=2
  response:
    body:
      string: '{"object":"list","results":[{"object":"block","id":"393abc1e-edcd-817b-900d-c75ec8d2f272","parent":{"type":"page_id","page_id":"393abc1e-edcd-814b-aee5-cf69471e5a43"},"created_time[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-814b-aee5-cf69471e5a43/children?start_cursor=393abc1e-edcd-81d2-b73d-feaa29f12025&page_size=2
  response:
    body:
      string: '{"object":"list","results":[{"object":"block","id":"393abc1e-edcd-81d2-b73d-feaa29f12025","parent":{"type":"page_id","page_id":"393abc1e-edcd-814b-aee5-cf69471e5a43"},"created_time":"2026-07-04T09:25:00.000Z","last_edited_time":"2026-07-04T09:25:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"paragraph
        4","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"paragraph
        4","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"82d4dbd4-220e-4669-9077-dbe12a37ca60"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81b4-97e4-e74d4867a8a1
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81b4-97e4-e74d4867a8a1","parent":{"type":"page_id","page_id":"393abc1e-edcd-814b-aee5-cf69471e5a43"},"created_time":"2026-07-04T09:25:00.000Z","last_edited_time":"2026-07-04T09:25:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"paragraph
        0","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"paragraph
        0","href":null}],"icon":null,"color":"default"},"archived":true,"request_id":"77db5121-7b73-424b-ad6d-e2e30d43631b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-814b-aee5-cf69471e5a43
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-814b-aee5-cf69471e5a43","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:25:00.000Z","last_edited_time":"2026-07-04T09:25:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:25:25.315501"},"archived":true,"request_id":"6fcb26c1-7f7d-4847-9ffa-251cb2b0de25"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
