interactions:
- request:
    body: '{"parent": {"page_id": "f691a0f9da7243bd94ef365793610746"}, "properties":
      {"title": [{"text": {"content": "Test 2022-12-04 13:53:33.234320"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"79ca52eb-cde3-4494-8c6f-d70df0242015","created_time":"2022-12-04T12:54:00.000Z","last_edited_time":"2022-12-04T12:54:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2022-12-04 13:53:33.234320","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2022-12-04 13:53:33.234320","href":null}]}},"url":"https://www.notion.so/Test-2022-12-04-13-53-33-234320-79ca52ebcde344948c6fd70df0242015"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"page_id": "79ca52eb-cde3-4494-8c6f-d70df0242015"}, "rich_text":
      [{"text": {"content": "This is a test comment."}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"7c7bf483-0031-483d-a77d-060919a5a9b9","parent":{"type":"page_id","page_id":"79ca52eb-cde3-4494-8c6f-d70df0242015"},"discussion_id":"468a01a8-d5d2-4664-b89b-7d6c5e61a675","created_time":"2022-12-04T12:54:00.000Z","last_edited_time":"2022-12-04T12:54:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=79ca52eb-cde3-4494-8c6f-d70df0242015
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"7c7bf483-0031-483d-a77d-060919a5a9b9","parent":{"type":"page_id","page_id":"79ca52eb-cde3-4494-8c6f-d70df0242015"},"discussion_id":"468a01a8-d5d2-4664-b89b-7d6c5e61a675","created_time":"2022-12-04T12:54:00.000Z","last_edited_time":"2022-12-04T12:54:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/79ca52eb-cde3-4494-8c6f-d70df0242015
  response:
    content: '{"object":"block","id":"79ca52eb-cde3-4494-8c6f-d70df0242015","parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"created_time":"2022-12-04T12:54:00.000Z","last_edited_time":"2022-12-04T12:54:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2022-12-04 13:53:33.234320"}}'
    headers: {}
    status_code: 200
version: 1
