interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=84464ae1-bef7-4c71-992b-8eaaeefb13e3
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"4dc69b18-b523-411e-b9af-b88e7f1c6cea","parent":{"type":"page_id","page_id":"84464ae1-bef7-4c71-992b-8eaaeefb13e3"},"discussion_id":"83829ee2-a530-41c8-81fe-86e197b70d3c","created_time":"2022-11-13T13:08:00.000Z","last_edited_time":"2022-11-13T13:08:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{}}'
    headers: {}
    status_code: 200
version: 1
