interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-06-29 15:08:15.834557"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"b1764f93-8342-4158-a273-9d18064e5c5e","created_time":"2023-06-29T13:08:00.000Z","last_edited_time":"2023-06-29T13:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-06-29 15:08:15.834557","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-06-29 15:08:15.834557","href":null}]}},"url":"https://www.notion.so/Test-2023-06-29-15-08-15-834557-b1764f9383424158a2739d18064e5c5e","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"page_id": "b1764f93-8342-4158-a273-9d18064e5c5e"}, "rich_text":
      [{"text": {"content": "This is a test comment."}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"9d5a2e75-3d2e-431c-b649-05546dd43371","parent":{"type":"page_id","page_id":"b1764f93-8342-4158-a273-9d18064e5c5e"},"discussion_id":"baa526e1-c09c-4f82-81bd-eadf8748dc57","created_time":"2023-06-29T13:08:00.000Z","last_edited_time":"2023-06-29T13:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=b1764f93-8342-4158-a273-9d18064e5c5e
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"9d5a2e75-3d2e-431c-b649-05546dd43371","parent":{"type":"page_id","page_id":"b1764f93-8342-4158-a273-9d18064e5c5e"},"discussion_id":"baa526e1-c09c-4f82-81bd-eadf8748dc57","created_time":"2023-06-29T13:08:00.000Z","last_edited_time":"2023-06-29T13:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/b1764f93-8342-4158-a273-9d18064e5c5e
  response:
    content: '{"object":"block","id":"b1764f93-8342-4158-a273-9d18064e5c5e","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-06-29T13:08:00.000Z","last_edited_time":"2023-06-29T13:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-06-29 15:08:15.834557"}}'
    headers: {}
    status_code: 200
version: 1
