interactions:
- request:
    body: '{"mode":"single_part","filename":"send_test.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"28399f72-bada-81ce-8815-00b2956b28d9","created_time":"2025-10-05T10:55:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-05T10:55:00.000Z","expiry_time":"2025-10-05T11:55:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/28399f72-bada-81ce-8815-00b2956b28d9/send","archived":false,"status":"pending","filename":"send_test.txt","content_type":"text/plain","content_length":null,"request_id":"e5f5778e-9e84-490e-84cb-d51d8bf92a7e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "--94c25050a1e954f9f8be69ddaa7ab4d4\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"send_test.txt\"\r\nContent-Type: text/plain\r\n\r\nThis is test file
      content\r\n--94c25050a1e954f9f8be69ddaa7ab4d4--\r\n"
    headers:
      authorization:
      - ntn_...
      content-type:
      - multipart/form-data; boundary=94c25050a1e954f9f8be69ddaa7ab4d4
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads/28399f72-bada-81ce-8815-00b2956b28d9/send
  response:
    body:
      string: '{"object":"file_upload","id":"28399f72-bada-81ce-8815-00b2956b28d9","created_time":"2025-10-05T10:55:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-05T10:55:00.000Z","expiry_time":"2025-10-05T11:55:00.000Z","archived":false,"status":"uploaded","filename":"send_test.txt","content_type":"text/plain","content_length":25,"request_id":"dbaf2997-bc1f-483a-8fa5-db4a581be2f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
