interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test Page (test_async_iterate_paginated_api
      iteration 0)"}}]}, "children": []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"05982ce9-91aa-42ed-bd4c-3fb92fbd8688","created_time":"2023-12-28T11:09:00.000Z","last_edited_time":"2023-12-28T11:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Page (test_async_iterate_paginated_api iteration 0)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Page (test_async_iterate_paginated_api iteration 0)","href":null}]}},"url":"https://www.notion.so/Test-Page-test_async_iterate_paginated_api-iteration-0-05982ce991aa42edbd4c3fb92fbd8688","public_url":null,"request_id":"d6004df3-47d3-45d4-a632-5973e1e9a61c"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"query": "test_async_iterate_paginated_api", "page_size": 2}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"d32f6104-29d1-4f95-b26a-8989e8ba4a2a","created_time":"2023-12-28T11:09:00.000Z","last_edited_time":"2023-12-28T11:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","t[...]
- request:
    body: '{"query": "test_async_iterate_paginated_api", "start_cursor": "2dcbd456-c738-4e35-94eb-5deae78a9d1c",
      "page_size": 2}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"2dcbd456-c738-4e35-94eb-5deae78a9d1c","created_time":"2023-12-28T11:09:00.000Z","last_edited_time":"2023-12-28T11:09:00.000Z","created_by":{"object":"user","id[...]
- request:
    body: '{"query": "test_async_iterate_paginated_api", "start_cursor": "05982ce9-91aa-42ed-bd4c-3fb92fbd8688",
      "page_size": 2}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"05982ce9-91aa-42ed-bd4c-3fb92fbd8688","created_time":"2023-12-28T11:09:00.000Z","last_edited_time":"2023-12-28T11:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Page (test_async_iterate_paginated_api iteration 0)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Page (test_async_iterate_paginated_api iteration 0)","href":null}]}},"url":"https://www.notion.so/Test-Page-test_async_iterate_paginated_api-iteration-0-05982ce991aa42edbd4c3fb92fbd8688","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"ce7c93ad-113a-49e8-9dd9-e083ced9104b"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/05982ce9-91aa-42ed-bd4c-3fb92fbd8688
  response:
    content: '{"object":"block","id":"05982ce9-91aa-42ed-bd4c-3fb92fbd8688","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-28T11:09:00.000Z","last_edited_time":"2023-12-28T11:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      Page (test_async_iterate_paginated_api iteration 0)"},"request_id":"df17253d-bd92-4657-a753-1d09092bb9d0"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"query": "test_async_iterate_paginated_api", "page_size": 2}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"19f4dbca-934b-4b2d-a798-ae9e47522387"}'
    headers: {}
    status_code: 200
version: 1
