interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads?page_size=5
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"29a99f72-bada-81a0-9d02-00b2c4a74153","created_time":"2025-10-28T10:43:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T10:43:00.000Z","expiry_time":"2025-10-28T11:43:00.000Z","archived":false,"status":"uploaded","filename":"test_file_small.txt","content_type":"text/plain","content_length":25},{"object":"file_upload","id":"29a99f72-bada-81ad-bd79-00b24375f304","created_time":"2025-10-28T10:43:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T10:43:00.000Z","expiry_time":"2025-10-28T11:43:00.000Z","archived":false,"status":"uploaded","filename":"test_file.pdf","content_type":"application/pdf","content_length":13264,"file_import_result":{"type":"success","success":{},"imported_time":"2025-10-28T10:43:43.000+00:00"}},{"object":"file_upload","id":"29a99f72-bada-819c-b0ed-00b228b34c37","created_time":"2025-10-28T10:43:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T10:43:00.000Z","expiry_time":"2025-10-28T11:43:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29a99f72-bada-819c-b0ed-00b228b34c37/send","archived":false,"status":"pending","filename":"large_file.pdf","content_type":"application/pdf","content_length":null,"number_of_parts":{"total":3,"sent":0}},{"object":"file_upload","id":"29a99f72-bada-81bb-8c36-00b230f59df7","created_time":"2025-10-28T10:43:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T10:43:00.000Z","expiry_time":"2025-10-28T11:43:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29a99f72-bada-81bb-8c36-00b230f59df7/send","archived":false,"status":"pending","filename":"test_file.txt","content_type":"text/plain","content_length":null},{"object":"file_upload","id":"29a99f72-bada-8194-a856-00b283e1004c","created_time":"2025-10-28T10:39:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T10:39:00.000Z","expiry_time":"2025-10-28T11:39:00.000Z","archived":false,"status":"uploaded","filename":"test_file_multi.txt","content_type":"text/plain","content_length":31457280,"number_of_parts":{"total":3,"sent":3}}],"next_cursor":"29a99f72-bada-819c-8263-00b2ffb81d2c","has_more":true,"type":"file_upload","file_upload":{},"request_id":"535c18e1-99d4-4bd1-8a60-b22cbc10fbe2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
