interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-12-25 22:51:21.092523"}}]}, "children":
      [], "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"504d6588-3a63-4a32-b065-054710c20d85","created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:51:21.092523","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:51:21.092523","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-51-21-092523-504d65883a634a32b065054710c20d85","public_url":null,"request_id":"3a7e146c-0856-42e8-a227-5712a039228a"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "504d6588-3a63-4a32-b065-054710c20d85"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-12-25 22:51:21.846763"}}],
      "properties": {"Name": {"title": {}}}, "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"ba8202e5-1936-41de-99b4-c6d7b8cff086","cover":null,"icon":null,"created_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-12-25T21:51:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-12-25 22:51:21.846763","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-12-25 22:51:21.846763","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"504d6588-3a63-4a32-b065-054710c20d85"},"url":"https://www.notion.so/ba8202e5193641de99b4c6d7b8cff086","public_url":null,"archived":false,"request_id":"e2d6dc5b-a9ce-46f1-8a47-128f6d10a2cf"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/504d6588-3a63-4a32-b065-054710c20d85?filter_properties=
  response:
    content: '{"object":"page","id":"504d6588-3a63-4a32-b065-054710c20d85","created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:51:21.092523","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:51:21.092523","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-51-21-092523-504d65883a634a32b065054710c20d85","public_url":null,"request_id":"f8aa0878-5d33-49cf-90f8-ded84f4ff102"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/ba8202e5-1936-41de-99b4-c6d7b8cff086
  response:
    content: '{"object":"database","id":"ba8202e5-1936-41de-99b4-c6d7b8cff086","cover":null,"icon":null,"created_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-12-25T21:51:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-12-25 22:51:21.846763","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-12-25 22:51:21.846763","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"504d6588-3a63-4a32-b065-054710c20d85"},"url":"https://www.notion.so/ba8202e5193641de99b4c6d7b8cff086","public_url":null,"archived":false,"request_id":"97d05f75-f905-4b9d-ae04-c81c571dd6be"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ba8202e5-1936-41de-99b4-c6d7b8cff086
  response:
    content: '{"object":"block","id":"ba8202e5-1936-41de-99b4-c6d7b8cff086","parent":{"type":"page_id","page_id":"504d6588-3a63-4a32-b065-054710c20d85"},"created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-12-25 22:51:21.846763"},"request_id":"91571beb-bec9-47d3-98ed-bf4ed8dc8cdc"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/504d6588-3a63-4a32-b065-054710c20d85
  response:
    content: '{"object":"block","id":"504d6588-3a63-4a32-b065-054710c20d85","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-12-25 22:51:21.092523"},"request_id":"7fc4900f-c68f-46e8-9b88-2c1e3e8086c7"}'
    headers: {}
    status_code: 200
version: 1
