interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/invalid
  response:
    body:
      string: '{"object":"error","status":400,"code":"invalid_request_url","message":"Invalid
        request URL.","request_id":"bb8f6bb2-583d-46da-97cf-55459afc4601"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users
  response:
    body:
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"66393b0e-cd2a-4257-8c66-a309b42c6e0e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
