interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-09-14 17:49:28.393390"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"26e99f72-bada-8157-b4bc-f260f1503b80","created_time":"2025-09-14T09:49:00.000Z","last_edited_time":"2025-09-14T09:49:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2025-09-14 17:49:28.393390","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2025-09-14 17:49:28.393390","href":null}]}},"url":"https://www.notion.so/Test-2025-09-14-17-49-28-393390-26e99f72bada8157b4bcf260f1503b80","public_url":null,"request_id":"d46a9ef3-3458-4c93-ba60-18adc7486da7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"parent":{"type":"page_id","page_id":"26e99f72-bada-8157-b4bc-f260f1503b80"},"title":[{"type":"text","text":{"content":"Test
      Database - 2025-09-14 17:49:28.773931"}}],"properties":{"Name":{"title":{}}}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"b92592ac-a5f4-4eb8-a3d9-5a99b27f984a","title":[{"type":"text","text":{"content":"Test
      Database - 2025-09-14 17:49:28.773931","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2025-09-14 17:49:28.773931","href":null}],"description":[],"parent":{"type":"page_id","page_id":"26e99f72-bada-8157-b4bc-f260f1503b80"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2025-09-14T09:49:29.464+00:00","last_edited_time":"2025-09-14T09:49:29.464+00:00","data_sources":[{"id":"e0b57304-77fa-48ca-9cd4-e2701530ac9a","name":"Test
      Database - 2025-09-14 17:49:28.773931"}],"icon":null,"cover":null,"url":"https://www.notion.so/b92592aca5f44eb8a3d95a99b27f984a","public_url":null,"request_id":"bcb0fe7f-5ae7-4ce0-a61c-3f5d457d5c02"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"b92592ac-a5f4-4eb8-a3d9-5a99b27f984a\"},\"properties\":{\"Name\":{\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      DataSource Update\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    content: "{\"object\":\"data_source\",\"id\":\"26e99f72-bada-81ec-af10-000bcab84be6\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"},\"created_time\":\"2025-09-14T09:49:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"5b8183bd-8984-4417-b2a6-7dc8e439e679\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"5b8183bd-8984-4417-b2a6-7dc8e439e679\"},\"last_edited_time\":\"2025-09-14T09:49:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      DataSource Update\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
      DataSource Update\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"b92592ac-a5f4-4eb8-a3d9-5a99b27f984a\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"26e99f72-bada-8157-b4bc-f260f1503b80\"},\"url\":\"https://www.notion.so/b92592aca5f44eb8a3d95a99b27f984a\",\"public_url\":null,\"archived\":false,\"in_trash\":false,\"request_id\":\"7ee30524-2a3c-44f1-bf4e-50ec666ffe3a\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: '{"title":[{"type":"text","text":{"content":"Updated DataSource"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/26e99f72-bada-81ec-af10-000bcab84be6
  response:
    content: "{\"object\":\"data_source\",\"id\":\"26e99f72-bada-81ec-af10-000bcab84be6\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/b92592ac-a5f4-4eb8-a3d9-5a99b27f984a
  response:
    content: '{"object":"block","id":"b92592ac-a5f4-4eb8-a3d9-5a99b27f984a","parent":{"type":"page_id","page_id":"26e99f72-bada-8157-b4bc-f260f1503b80"},"created_time":"2025-09-14T09:49:00.000Z","last_edited_time":"2025-09-14T09:49:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
      Database - 2025-09-14 17:49:28.773931"},"request_id":"1b2325ec-c0ea-489e-9670-929687c3a091"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/26e99f72-bada-8157-b4bc-f260f1503b80
  response:
    content: '{"object":"block","id":"26e99f72-bada-8157-b4bc-f260f1503b80","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-09-14T09:49:00.000Z","last_edited_time":"2025-09-14T09:49:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2025-09-14 17:49:28.393390"},"request_id":"74c40b13-c854-494e-9296-517f02a9457d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
