interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-12-25 22:50:22.930281"}}]}, "children":
      [], "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"977fbece-c72a-4d63-962a-ec08ef16a43b","created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:50:22.930281","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:50:22.930281","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-50-22-930281-977fbecec72a4d63962aec08ef16a43b","public_url":null,"request_id":"f59598c3-4712-4995-a33e-61b6e928b5ac"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83d\udef4"}, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/977fbece-c72a-4d63-962a-ec08ef16a43b
  response:
    content: "{\"object\":\"page\",\"id\":\"977fbece-c72a-4d63-962a-ec08ef16a43b\",\"created_time\":\"2023-12-25T21:50:00.000Z\",\"last_edited_time\":\"2023-12-25T21:50:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F6F4\"},\"parent\":{\"type\":\"page_id\",\"page_id\":\"95ba0116-6776-4c19-9e45-54e77415f03b\"},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      2023-12-25 22:50:22.930281\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
      2023-12-25 22:50:22.930281\",\"href\":null}]}},\"url\":\"https://www.notion.so/Test-2023-12-25-22-50-22-930281-977fbecec72a4d63962aec08ef16a43b\",\"public_url\":null,\"request_id\":\"cafcd413-5fee-44cc-935f-9e4115178455\"}"
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/977fbece-c72a-4d63-962a-ec08ef16a43b
  response:
    content: '{"object":"block","id":"977fbece-c72a-4d63-962a-ec08ef16a43b","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-12-25 22:50:22.930281"},"request_id":"b80a2771-c804-485c-85fe-dbbdffd03589"}'
    headers: {}
    status_code: 200
version: 1
