interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:09:44.922854"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-8169-85ce-c64d3d3f20fd","created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:09:44.922854","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:09:44.922854","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-09-44-922854-393abc1eedcd816985cec64d3d3f20fd","public_url":null,"archived":false,"request_id":"2f3f62ed-c8e9-4523-9202-094a910f7132"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-8169-85ce-c64d3d3f20fd"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:09:45.287429"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"daf41515-aa5f-4d14-97a8-9193425ec491","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:09:45.287429","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:09:45.287429","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-8169-85ce-c64d3d3f20fd"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:09:45.607+00:00","last_edited_time":"2026-07-04T09:09:45.607+00:00","data_sources":[{"id":"4ee04178-60dc-4b13-a1ea-14e3b9661a33","name":"Test
        Database - 2026-07-04 11:09:45.287429"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/daf41515aa5f4d1497a89193425ec491","public_url":null,"archived":false,"request_id":"e2483e24-c713-45ff-936c-163494aa57bf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"daf41515-aa5f-4d14-97a8-9193425ec491\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:09:46.539737\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81a2-8d0b-000bae7f15dc\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:09:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:09:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:09:46.539737\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:09:46.539737\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"daf41515-aa5f-4d14-97a8-9193425ec491\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-8169-85ce-c64d3d3f20fd\"},\"url\":\"https://app.notion.com/p/daf41515aa5f4d1497a89193425ec491\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"d0da0b2c-0696-4396-b89c-f5bbd2a1185e\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-81a2-8d0b-000bae7f15dc/query
  response:
    body:
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"572db118-b5fe-43e2-aa79-99e8d4f07cac"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-81a2-8d0b-000bae7f15dc
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81a2-8d0b-000bae7f15dc\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/daf41515-aa5f-4d14-97a8-9193425ec491
  response:
    body:
      string: '{"object":"block","id":"daf41515-aa5f-4d14-97a8-9193425ec491","parent":{"type":"page_id","page_id":"393abc1e-edcd-8169-85ce-c64d3d3f20fd"},"created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:09:45.287429"},"archived":true,"request_id":"e7d482ec-6c72-4c74-add7-94f54e11e486"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-8169-85ce-c64d3d3f20fd
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-8169-85ce-c64d3d3f20fd","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:09:44.922854"},"archived":true,"request_id":"fa70d15d-2558-41f8-9ca1-d45c279041a9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
