interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:12:05.075393"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81a0-9a08-d7413a049dc8","created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:12:05.075393","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:12:05.075393","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-12-05-075393-393abc1eedcd81a09a08d7413a049dc8","public_url":null,"archived":false,"request_id":"f8b2206e-de12-4120-a198-721281ccc2f2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/393abc1e-edcd-81a0-9a08-d7413a049dc8
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81a0-9a08-d7413a049dc8","created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:12:05.075393","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:12:05.075393","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-12-05-075393-393abc1eedcd81a09a08d7413a049dc8","public_url":null,"archived":false,"request_id":"d2fddc66-66fe-4634-aaf8-46ffb92feb55"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81a0-9a08-d7413a049dc8
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81a0-9a08-d7413a049dc8","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:12:05.075393"},"archived":true,"request_id":"6165b6ab-2fb7-4685-bb71-854a75c31059"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
