interactions:
- request:
    body: '{"parent": {"page_id": "f691a0f9da7243bd94ef365793610746"}, "properties":
      {"title": [{"text": {"content": "Test 2022-12-04 13:53:18.265890"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"e577b275-86ab-45eb-80ff-06e470e998c2","created_time":"2022-12-04T12:54:00.000Z","last_edited_time":"2022-12-04T12:54:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2022-12-04 13:53:18.265890","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2022-12-04 13:53:18.265890","href":null}]}},"url":"https://www.notion.so/Test-2022-12-04-13-53-18-265890-e577b27586ab45eb80ff06e470e998c2"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/e577b275-86ab-45eb-80ff-06e470e998c2
  response:
    content: '{"object":"page","id":"e577b275-86ab-45eb-80ff-06e470e998c2","created_time":"2022-12-04T12:54:00.000Z","last_edited_time":"2022-12-04T12:54:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2022-12-04 13:53:18.265890","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2022-12-04 13:53:18.265890","href":null}]}},"url":"https://www.notion.so/Test-2022-12-04-13-53-18-265890-e577b27586ab45eb80ff06e470e998c2"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/e577b275-86ab-45eb-80ff-06e470e998c2
  response:
    content: '{"object":"block","id":"e577b275-86ab-45eb-80ff-06e470e998c2","parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"created_time":"2022-12-04T12:54:00.000Z","last_edited_time":"2022-12-04T12:54:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2022-12-04 13:53:18.265890"}}'
    headers: {}
    status_code: 200
version: 1
