interactions:
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1eedcd80f3813be205934558c6"},"title":[{"type":"text","text":{"content":"Test
      DB"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"f1ba12e6-8410-4a4e-838f-3ec304acb40c","title":[{"type":"text","text":{"content":"Test
        DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:12:54.963+00:00","last_edited_time":"2026-07-04T09:12:54.963+00:00","data_sources":[{"id":"1754b774-b94f-448f-b368-3ec26a6c2902","name":"Test
        DB"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/f1ba12e684104a4e838f3ec304acb40c","public_url":null,"archived":false,"request_id":"9dea5c78-f353-4869-a1a3-d0213809e843"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"database_id","database_id":"f1ba12e6-8410-4a4e-838f-3ec304acb40c"},"properties":{"Name":{"type":"title","title":{}}},"title":[{"type":"text","text":{"content":"Test
      Data Source"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: '{"object":"data_source","id":"393abc1e-edcd-8166-b6d5-000b8978b3e6","cover":null,"icon":null,"created_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:12:00.000Z","title":[{"type":"text","text":{"content":"Test
        Data Source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Data Source","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"f1ba12e6-8410-4a4e-838f-3ec304acb40c"},"database_parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"url":"https://app.notion.com/p/f1ba12e684104a4e838f3ec304acb40c","public_url":null,"in_trash":false,"archived":false,"request_id":"ddc3fe0f-3375-43f7-82a9-02c37e1ab67d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-8166-b6d5-000b8978b3e6/templates
  response:
    body:
      string: '{"templates":[],"has_more":false,"next_cursor":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-8166-b6d5-000b8978b3e6
  response:
    body:
      string: '{"object":"data_source","id":"393abc1e-edcd-8166-b6d5-000b8978b3e6","cover":null,"icon":null,"created_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:12:00.000Z","title":[{"type":"text","text":{"content":"Test
        Data Source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Data Source","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"f1ba12e6-8410-4a4e-838f-3ec304acb40c"},"database_parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"url":"https://app.notion.com/p/f1ba12e684104a4e838f3ec304acb40c","public_url":null,"in_trash":true,"archived":true,"request_id":"2a4d4b25-23db-4d69-a897-67737ed42b9c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f1ba12e6-8410-4a4e-838f-3ec304acb40c
  response:
    body:
      string: '{"object":"block","id":"f1ba12e6-8410-4a4e-838f-3ec304acb40c","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        DB"},"archived":true,"request_id":"89c2466f-60f2-4ce8-a934-89cdda0d0c91"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
