interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:12:13.459063"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81e6-99fc-f3ef71dc75a0","created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:12:13.459063","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:12:13.459063","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-12-13-459063-393abc1eedcd81e699fcf3ef71dc75a0","public_url":null,"archived":false,"request_id":"a2d0738c-3fe8-44df-8f79-95bca18aa981"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-81e6-99fc-f3ef71dc75a0"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:12:13.871999"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"171e17b6-d57a-4ff7-bfaf-12a0e8fe7a0c","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:12:13.871999","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:12:13.871999","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-81e6-99fc-f3ef71dc75a0"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:12:14.150+00:00","last_edited_time":"2026-07-04T09:12:14.150+00:00","data_sources":[{"id":"3872e778-434c-4163-909f-57b21e1135fe","name":"Test
        Database - 2026-07-04 11:12:13.871999"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/171e17b6d57a4ff7bfaf12a0e8fe7a0c","public_url":null,"archived":false,"request_id":"de096d60-e9ec-4e50-963b-e00faadff7a6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/171e17b6-d57a-4ff7-bfaf-12a0e8fe7a0c
  response:
    body:
      string: '{"object":"database","id":"171e17b6-d57a-4ff7-bfaf-12a0e8fe7a0c","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:12:13.871999","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:12:13.871999","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-81e6-99fc-f3ef71dc75a0"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:12:14.150+00:00","last_edited_time":"2026-07-04T09:12:14.150+00:00","data_sources":[{"id":"3872e778-434c-4163-909f-57b21e1135fe","name":"Test
        Database - 2026-07-04 11:12:13.871999"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/171e17b6d57a4ff7bfaf12a0e8fe7a0c","public_url":null,"archived":false,"request_id":"23e607c0-153d-4a51-be41-620f740d6697"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/171e17b6-d57a-4ff7-bfaf-12a0e8fe7a0c
  response:
    body:
      string: '{"object":"block","id":"171e17b6-d57a-4ff7-bfaf-12a0e8fe7a0c","parent":{"type":"page_id","page_id":"393abc1e-edcd-81e6-99fc-f3ef71dc75a0"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:12:13.871999"},"archived":true,"request_id":"e7c8ebc7-26e0-4df5-96df-0e6dc04ecbd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81e6-99fc-f3ef71dc75a0
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81e6-99fc-f3ef71dc75a0","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:12:13.459063"},"archived":true,"request_id":"ccce2589-9f65-4b6f-99ab-f92118a3c955"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
