interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/custom_emojis
  response:
    body:
      string: '{"object":"list","type":"custom_emoji","results":[],"has_more":false,"next_cursor":null,"request_id":"d5cda0b3-4def-4927-9593-34c30a13ad0e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
