interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:11:43.193427"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8158-98bf-e35e573522ba","created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:11:43.193427","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:11:43.193427","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-11-43-193427-16cabc1eedcd815898bfe35e573522ba","public_url":null,"request_id":"a0a79b25-7f5f-4ac4-8225-500ad96e2a1a"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8158-98bf-e35e573522ba"},"title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:11:43.659703"}}],"properties":{"Name":{"title":{}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-81ef-ad7e-ff26e0414536","cover":null,"icon":null,"created_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:11:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:11:43.659703","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:11:43.659703","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8158-98bf-e35e573522ba"},"url":"https://www.notion.so/16cabc1eedcd81efad7eff26e0414536","public_url":null,"archived":false,"in_trash":false,"request_id":"52fe9237-1d7c-41ff-a464-c0543ce7eaf4"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/16cabc1e-edcd-8158-98bf-e35e573522ba
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8158-98bf-e35e573522ba","created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:11:43.193427","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:11:43.193427","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-11-43-193427-16cabc1eedcd815898bfe35e573522ba","public_url":null,"request_id":"46f1312b-1296-477e-ab7f-a82a353aa86b"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/16cabc1e-edcd-81ef-ad7e-ff26e0414536
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-81ef-ad7e-ff26e0414536","cover":null,"icon":null,"created_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:11:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:11:43.659703","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:11:43.659703","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8158-98bf-e35e573522ba"},"url":"https://www.notion.so/16cabc1eedcd81efad7eff26e0414536","public_url":null,"archived":false,"in_trash":false,"request_id":"47e5821b-760e-4809-a53b-869985262ccd"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-81ef-ad7e-ff26e0414536
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-81ef-ad7e-ff26e0414536","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8158-98bf-e35e573522ba"},"created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
      Database - 2024-12-30 18:11:43.659703"},"request_id":"cb3799e6-f24f-4ec3-9d5e-3e1b2cde2004"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8158-98bf-e35e573522ba
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8158-98bf-e35e573522ba","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:11:43.193427"},"request_id":"92d0352c-1b8c-45a6-8e9c-97792602d097"}'
    headers: {}
    status_code: 200
version: 1
