interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-12-25 22:50:49.545919"}}]}, "children":
      [], "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"7e97c13a-b49c-4408-b1fd-f68137745864","created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:50:49.545919","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:50:49.545919","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-50-49-545919-7e97c13ab49c4408b1fdf68137745864","public_url":null,"request_id":"5affaee7-4655-4373-8f51-be93af9dc975"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "7e97c13a-b49c-4408-b1fd-f68137745864"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-12-25 22:50:49.932029"}}],
      "properties": {"Name": {"title": {}}}, "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"d84b4fc5-14a4-4a9d-90b8-d4a5948f76f9","cover":null,"icon":null,"created_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-12-25T21:50:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-12-25 22:50:49.932029","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-12-25 22:50:49.932029","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"7e97c13a-b49c-4408-b1fd-f68137745864"},"url":"https://www.notion.so/d84b4fc514a44a9d90b8d4a5948f76f9","public_url":null,"archived":false,"request_id":"ba89d99c-a040-4b8c-92c7-b1073a862d41"}'
    headers: {}
    status_code: 200
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"past_week":
      {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/d84b4fc5-14a4-4a9d-90b8-d4a5948f76f9/query?filter_properties=
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"d12854c5-142b-4977-9b42-6f4255fc4c83"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d84b4fc5-14a4-4a9d-90b8-d4a5948f76f9
  response:
    content: '{"object":"block","id":"d84b4fc5-14a4-4a9d-90b8-d4a5948f76f9","parent":{"type":"page_id","page_id":"7e97c13a-b49c-4408-b1fd-f68137745864"},"created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-12-25 22:50:49.932029"},"request_id":"60b2c569-b650-44b6-8816-b1d9a2cf7be4"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/7e97c13a-b49c-4408-b1fd-f68137745864
  response:
    content: '{"object":"block","id":"7e97c13a-b49c-4408-b1fd-f68137745864","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-12-25 22:50:49.545919"},"request_id":"6cf414da-e4cb-48f9-a43d-426b1d24258d"}'
    headers: {}
    status_code: 200
version: 1
