interactions:
- request:
    body: '{"mode":"multi_part","filename":"large_file.pdf","content_type":"application/pdf","number_of_parts":3}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"29a99f72-bada-819c-b0ed-00b228b34c37","created_time":"2025-10-28T10:43:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T10:43:00.000Z","expiry_time":"2025-10-28T11:43:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29a99f72-bada-819c-b0ed-00b228b34c37/send","archived":false,"status":"pending","filename":"large_file.pdf","content_type":"application/pdf","content_length":null,"number_of_parts":{"total":3,"sent":0},"request_id":"2e7de576-9b2d-4376-aef0-fd8167447725"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
