interactions:
- request:
    body: '{"mode":"single_part","filename":"test_file.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"21f99f72-bada-813d-858b-00b2360b1bab","created_time":"2025-06-27T02:15:00.000Z","created_by":{"id":"de22d752-9bb8-45d5-b8f1-6c2c47852b3b","type":"bot"},"last_edited_time":"2025-06-27T02:15:00.000Z","expiry_time":"2025-06-27T03:15:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/21f99f72-bada-813d-858b-00b2360b1bab/send","archived":false,"status":"pending","filename":"test_file.txt","content_type":"text/plain","content_length":null,"request_id":"50f8de84-f109-428e-a747-f500f236efd2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
