interactions:
- request:
    body: '{"parent":{"page_id":"2ccb0add466d8068bab7d1ea9758677e"},"properties":{"title":[{"text":{"content":"Test
      2025-12-17 19:15:07.513360"}}]},"children":[]}'
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2025-09-03'
      authorization:
      - ntn_...
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"2cdb0add-466d-811d-80ea-cf0aee160c45","created_time":"2025-12-18T00:15:00.000Z","last_edited_time":"2025-12-18T00:15:00.000Z","created_by":{"object":"user","id":"19683ed5-ee16-48af-b766-9c9eb6d58ebb"},"last_edited_by":{"object":"user","id":"19683ed5-ee16-48af-b766-9c9eb6d58ebb"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"2ccb0add-466d-8068-bab7-d1ea9758677e"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-12-17 19:15:07.513360","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-12-17 19:15:07.513360","href":null}]}},"url":"https://www.notion.so/Test-2025-12-17-19-15-07-513360-2cdb0add466d811d80eacf0aee160c45","public_url":null,"request_id":"b249fc0e-89d7-4e7d-a002-ae64730dca40"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"parent":{"page_id":"2cdb0add-466d-81a7-b352-d50688ff394a"}}'
    headers:
      Content-Type:
      - application/json
      Notion-Version:
      - '2025-09-03'
      authorization:
      - ntn_...
    method: POST
    uri: https://api.notion.com/v1/pages/2cdb0add-466d-81fe-a920-e27de8c0bd70/move
  response:
    body:
      string: '{"object":"page","id":"2cdb0add-466d-81fe-a920-e27de8c0bd70","created_time":"2025-12-18T00:15:00.000Z","last_edited_time":"2025-12-18T00:15:00.000Z","created_by":{"object":"user","id":"19683ed5-ee16-48af-b766-9c9eb6d58ebb"},"last_edited_by":{"object":"user","id":"19683ed5-ee16-48af-b766-9c9eb6d58ebb"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"2cdb0add-466d-81a7-b352-d50688ff394a"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Moving
        Page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Moving
        Page","href":null}]}},"url":"https://www.notion.so/Moving-Page-2cdb0add466d81fea920e27de8c0bd70","public_url":null,"request_id":"3b4bf768-0de9-4dc1-8b41-c503857f4b17"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Notion-Version:
      - '2025-09-03'
      authorization:
      - ntn_...
    method: DELETE
    uri: https://api.notion.com/v1/blocks/2cdb0add-466d-81fe-a920-e27de8c0bd70
  response:
    body:
      string: '{"object":"block","id":"2cdb0add-466d-81fe-a920-e27de8c0bd70","parent":{"type":"page_id","page_id":"2cdb0add-466d-81a7-b352-d50688ff394a"},"created_time":"2025-12-18T00:15:00.000Z","last_edited_time":"2025-12-18T00:15:00.000Z","created_by":{"object":"user","id":"19683ed5-ee16-48af-b766-9c9eb6d58ebb"},"last_edited_by":{"object":"user","id":"19683ed5-ee16-48af-b766-9c9eb6d58ebb"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Moving
        Page"},"request_id":"21b059b3-d2de-452e-ad1c-e2d9c0edc15d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Notion-Version:
      - '2025-09-03'
      authorization:
      - ntn_...
    method: DELETE
    uri: https://api.notion.com/v1/blocks/2cdb0add-466d-811d-80ea-cf0aee160c45
  response:
    body:
      string: '{"object":"block","id":"2cdb0add-466d-811d-80ea-cf0aee160c45","parent":{"type":"page_id","page_id":"2ccb0add-466d-8068-bab7-d1ea9758677e"},"created_time":"2025-12-18T00:15:00.000Z","last_edited_time":"2025-12-18T00:15:00.000Z","created_by":{"object":"user","id":"19683ed5-ee16-48af-b766-9c9eb6d58ebb"},"last_edited_by":{"object":"user","id":"19683ed5-ee16-48af-b766-9c9eb6d58ebb"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-12-17 19:15:07.513360"},"request_id":"40ccfc78-ef75-4230-a86d-72a24a6e63e8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
