interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:12:18.027094"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81fe-98a7-eac632e719a8","created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:12:18.027094","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:12:18.027094","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-12-18-027094-393abc1eedcd81fe98a7eac632e719a8","public_url":null,"archived":false,"request_id":"eac775be-7715-4783-b50d-76e7a68c3388"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-81fe-98a7-eac632e719a8"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:12:18.541820"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"a5b4eb06-30d1-483a-8957-5c025073601f","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:12:18.541820","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:12:18.541820","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-81fe-98a7-eac632e719a8"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:12:18.860+00:00","last_edited_time":"2026-07-04T09:12:18.860+00:00","data_sources":[{"id":"377f740b-ef06-4b5a-86f0-c6f4bf11c715","name":"Test
        Database - 2026-07-04 11:12:18.541820"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/a5b4eb0630d1483a89575c025073601f","public_url":null,"archived":false,"request_id":"60ace97f-1fff-4275-bd85-37237eebcb31"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"a5b4eb06-30d1-483a-8957-5c025073601f\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:12:20.212112\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-812e-a61b-000b42188ad2\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:12:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:12:20.212112\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:12:20.212112\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"a5b4eb06-30d1-483a-8957-5c025073601f\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-81fe-98a7-eac632e719a8\"},\"url\":\"https://app.notion.com/p/a5b4eb0630d1483a89575c025073601f\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"93a9556e-c5ae-4961-aeea-e0a5b2e7a65f\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/393abc1e-edcd-81fe-98a7-eac632e719a8
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81fe-98a7-eac632e719a8","created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:12:18.027094","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:12:18.027094","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-12-18-027094-393abc1eedcd81fe98a7eac632e719a8","public_url":null,"archived":false,"request_id":"b5568c7b-6d03-4d7a-9bd0-195c04e9ff1d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-812e-a61b-000b42188ad2
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-812e-a61b-000b42188ad2\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/a5b4eb06-30d1-483a-8957-5c025073601f
  response:
    body:
      string: '{"object":"block","id":"a5b4eb06-30d1-483a-8957-5c025073601f","parent":{"type":"page_id","page_id":"393abc1e-edcd-81fe-98a7-eac632e719a8"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:12:18.541820"},"archived":true,"request_id":"e183886c-e8e6-42a0-8ef2-e6550d27e198"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81fe-98a7-eac632e719a8
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81fe-98a7-eac632e719a8","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:12:18.027094"},"archived":true,"request_id":"7469a0af-da3f-443a-aff2-e3973375eebf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
