interactions:
- request:
    body: '{"parent": {"page_id": "95ba0116-6776-4c19-9e45-54e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-11-04 14:57:12.900460"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"b039260c-e8d3-4425-84bc-103f66ed886d","created_time":"2023-11-04T13:57:00.000Z","last_edited_time":"2023-11-04T13:57:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-11-04 14:57:12.900460","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-11-04 14:57:12.900460","href":null}]}},"url":"https://www.notion.so/Test-2023-11-04-14-57-12-900460-b039260ce8d3442584bc103f66ed886d","public_url":null,"request_id":"530b78a7-8893-4e46-ae0e-aa4870706dab"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"paragraph": {"rich_text": [{"mention": {"type": "date",
      "date": {"start": "2022-12-16", "end": null}}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/b039260c-e8d3-4425-84bc-103f66ed886d/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"c4f72aa9-81c5-4c6a-82b3-aa93c30822cd","parent":{"type":"page_id","page_id":"b039260c-e8d3-4425-84bc-103f66ed886d"},"created_time":"2023-11-04T13:57:00.000Z","last_edited_time":"2023-11-04T13:57:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"date","date":{"start":"2022-12-16","end":null,"time_zone":null}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"2022-12-16","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"274a2342-f82d-48a1-8679-4625580e5045"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/c4f72aa9-81c5-4c6a-82b3-aa93c30822cd
  response:
    content: '{"object":"block","id":"c4f72aa9-81c5-4c6a-82b3-aa93c30822cd","parent":{"type":"page_id","page_id":"b039260c-e8d3-4425-84bc-103f66ed886d"},"created_time":"2023-11-04T13:57:00.000Z","last_edited_time":"2023-11-04T13:57:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"mention","mention":{"type":"date","date":{"start":"2022-12-16","end":null,"time_zone":null}},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"2022-12-16","href":null}],"color":"default"},"request_id":"b361a703-25c5-4d0d-96f4-6323869598c4"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/b039260c-e8d3-4425-84bc-103f66ed886d
  response:
    content: '{"object":"block","id":"b039260c-e8d3-4425-84bc-103f66ed886d","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-11-04T13:57:00.000Z","last_edited_time":"2023-11-04T13:57:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-11-04 14:57:12.900460"},"request_id":"526bd552-2829-4893-bd0f-64929b344f50"}'
    headers: {}
    status_code: 200
version: 1
