interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-12-25 22:51:14.542499"}}]}, "children":
      [], "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"52745de4-bca1-4f23-b164-7e8dec07adc5","created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:51:14.542499","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:51:14.542499","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-51-14-542499-52745de4bca14f23b1647e8dec07adc5","public_url":null,"request_id":"88eab596-3fca-40ee-87cd-8e6ffa590748"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/52745de4-bca1-4f23-b164-7e8dec07adc5?filter_properties=
  response:
    content: '{"object":"page","id":"52745de4-bca1-4f23-b164-7e8dec07adc5","created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:51:14.542499","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:51:14.542499","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-51-14-542499-52745de4bca14f23b1647e8dec07adc5","public_url":null,"request_id":"6ea55833-9c82-4ff1-bbbc-759c0bab2939"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/52745de4-bca1-4f23-b164-7e8dec07adc5
  response:
    content: '{"object":"block","id":"52745de4-bca1-4f23-b164-7e8dec07adc5","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-12-25 22:51:14.542499"},"request_id":"69de51de-8931-4e02-a88b-81ba1afc2dac"}'
    headers: {}
    status_code: 200
version: 1
