interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-10-19 19:15:51.903299"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0bc5cbe1-98c9-407b-948c-9edce7c35918","created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-10-19 19:15:51.903299","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-10-19 19:15:51.903299","href":null}]}},"url":"https://www.notion.so/Test-2023-10-19-19-15-51-903299-0bc5cbe198c9407b948c9edce7c35918","public_url":null,"request_id":"06493635-de87-48d6-bee2-c9d53e61bfa0"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"paragraph": {"rich_text": [{"text": {"content": "I''m a
      paragraph."}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/0bc5cbe1-98c9-407b-948c-9edce7c35918/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"7812dba3-e017-4e45-b2dd-aff6e923d9e8","parent":{"type":"page_id","page_id":"0bc5cbe1-98c9-407b-948c-9edce7c35918"},"created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"cafb054e-2471-44e9-92ed-59534da7e777"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/7812dba3-e017-4e45-b2dd-aff6e923d9e8
  response:
    content: '{"object":"block","id":"7812dba3-e017-4e45-b2dd-aff6e923d9e8","parent":{"type":"page_id","page_id":"0bc5cbe1-98c9-407b-948c-9edce7c35918"},"created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"},"request_id":"559cb91c-266c-46a8-9b37-516f4289735b"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0bc5cbe1-98c9-407b-948c-9edce7c35918
  response:
    content: '{"object":"block","id":"0bc5cbe1-98c9-407b-948c-9edce7c35918","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-10-19 19:15:51.903299"},"request_id":"72406b54-1771-45ed-b3ff-c2673330f890"}'
    headers: {}
    status_code: 200
version: 1
