interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-06-29 15:06:52.818371"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"74ed26ba-76ad-4679-854c-a11e4e95e3eb","created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-06-29 15:06:52.818371","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-06-29 15:06:52.818371","href":null}]}},"url":"https://www.notion.so/Test-2023-06-29-15-06-52-818371-74ed26ba76ad4679854ca11e4e95e3eb","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"page_id": "74ed26ba-76ad-4679-854c-a11e4e95e3eb"}, "rich_text":
      [{"text": {"content": "This is a test comment."}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"283a8e1c-10da-4d9b-8502-bff77fc9b137","parent":{"type":"page_id","page_id":"74ed26ba-76ad-4679-854c-a11e4e95e3eb"},"discussion_id":"a5b83996-c3c5-4aa1-88fc-5ed78866904d","created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/74ed26ba-76ad-4679-854c-a11e4e95e3eb
  response:
    content: '{"object":"block","id":"74ed26ba-76ad-4679-854c-a11e4e95e3eb","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-06-29 15:06:52.818371"}}'
    headers: {}
    status_code: 200
version: 1
