interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-10-19 19:16:06.083990"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"9a966554-895e-4c54-b858-ef8c9574e7c3","created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-10-19 19:16:06.083990","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-10-19 19:16:06.083990","href":null}]}},"url":"https://www.notion.so/Test-2023-10-19-19-16-06-083990-9a966554895e4c54b858ef8c9574e7c3","public_url":null,"request_id":"58b4abec-f6cc-45dc-a3f9-5024af18e671"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"page_id": "9a966554-895e-4c54-b858-ef8c9574e7c3"}, "rich_text":
      [{"text": {"content": "This is a test comment."}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"b8bcb110-fd85-44f0-9503-4340016f32e8","parent":{"type":"page_id","page_id":"9a966554-895e-4c54-b858-ef8c9574e7c3"},"discussion_id":"f3e18b63-e117-40ab-a19d-d283ec466ef1","created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}],"request_id":"04b13542-8e0b-42da-89cc-a8f714b3db9f"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=9a966554-895e-4c54-b858-ef8c9574e7c3
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"b8bcb110-fd85-44f0-9503-4340016f32e8","parent":{"type":"page_id","page_id":"9a966554-895e-4c54-b858-ef8c9574e7c3"},"discussion_id":"f3e18b63-e117-40ab-a19d-d283ec466ef1","created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"4b8953c2-f81c-4cf4-82a5-6eeec9b66471"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9a966554-895e-4c54-b858-ef8c9574e7c3
  response:
    content: '{"object":"block","id":"9a966554-895e-4c54-b858-ef8c9574e7c3","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-10-19 19:16:06.083990"},"request_id":"6efb324f-722d-4656-8284-34eb1545ea79"}'
    headers: {}
    status_code: 200
version: 1
