interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads?start_cursor=27199f72-bada-8105-aab2-00b2d48f382b
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"27199f72-bada-8105-aab2-00b2d48f382b","created_time":"2025-09-17T08:22:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-09-17T10:05:00.000Z","expiry_time":null,"archived":false,"status":"expired","filename":"large_test.pdf","content_type":"application/pdf","content_length":10485760,"number_of_parts":{"total":4,"sent":1}},{"object":"file_upload","id":"27199f72-bada-8174-b8a5-00b2a67a3e5f","created_time":"2025-09-17T08:22:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-09-17T10:05:00.000Z","expiry_time":null,"archived":false,"status":"expired","filename":"send_test.txt","content_type":"text/plain","content_length":25},{"object":"file_upload","id":"27199f72-bada-81e1-86d9-00b2f94384d8","created_time":"2025-09-17T08:22:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-09-17T10:05:00.000Z","expiry_time":null,"archived":false,"status":"expired","filename":"retrieve_test.txt","content_type":"text/plain","content_length":null},{"object":"file_upload","id":"27199f72-bada-81f8-80f0-00b271abdef3","created_time":"2025-09-17T08:22:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-09-17T10:05:00.000Z","expiry_time":null,"archived":false,"status":"expired","filename":"test_file.pdf","content_type":"application/pdf","content_length":13264,"file_import_result":{"type":"success","success":{},"imported_time":"2025-09-17T08:22:32.000+00:00"}},{"object":"file_upload","id":"27199f72-bada-81e9-9fe6-00b2d64714ae","created_time":"2025-09-17T08:22:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-09-17T10:05:00.000Z","expiry_time":null,"archived":false,"status":"expired","filename":"large_file.pdf","content_type":"application/pdf","content_length":null,"number_of_parts":{"total":3,"sent":0}},{"object":"file_upload","id":"27199f72-bada-814b-b92a-00b211[...]
