interactions:
- request:
    body: '{"token": "ntn_..."}'
    headers:
      authorization:
      - Basic "Base64Encoded($client_id:$client_secret)"
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/oauth/introspect
  response:
    content: '{"active":true,"scope":"read_content insert_content update_content read_user_with_email
      read_user_without_email","iat":1742416470043,"request_id":"57f9e373-a28b-4b8f-b2dc-c0d687f6f743"}'
    headers: {}
    status_code: 200
version: 1
