interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    body:
      string: '{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","name":"New_API_Test","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"Tsing''s
        Notion","workspace_limits":{"max_file_upload_size_in_bytes":5368709120}},"request_id":"68a6531f-ab7a-486d-bdf6-078c071d56ea"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
