interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-10-19 19:16:01.452611"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"dfaf73e6-4d9d-4108-b9bb-61ba28dc0f45","created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-10-19 19:16:01.452611","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-10-19 19:16:01.452611","href":null}]}},"url":"https://www.notion.so/Test-2023-10-19-19-16-01-452611-dfaf73e64d9d4108b9bb61ba28dc0f45","public_url":null,"request_id":"62e28b63-54a9-41f0-9979-813731ccfa0e"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "dfaf73e6-4d9d-4108-b9bb-61ba28dc0f45"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-10-19 19:16:01.798284"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c67fe511-a81a-4d71-96a4-9346307567f3","cover":null,"icon":null,"created_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-10-19T17:16:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-10-19 19:16:01.798284","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-10-19 19:16:01.798284","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"dfaf73e6-4d9d-4108-b9bb-61ba28dc0f45"},"url":"https://www.notion.so/c67fe511a81a4d7196a49346307567f3","public_url":null,"archived":false,"request_id":"9a2f0388-2f0c-44a7-a389-f154d0c11f95"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83d\udd25"}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/c67fe511-a81a-4d71-96a4-9346307567f3
  response:
    content: "{\"object\":\"database\",\"id\":\"c67fe511-a81a-4d71-96a4-9346307567f3\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F525\"},\"created_time\":\"2023-10-19T17:16:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2023-10-19T17:16:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Database - 2023-10-19 19:16:01.798284\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
      Database - 2023-10-19 19:16:01.798284\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"dfaf73e6-4d9d-4108-b9bb-61ba28dc0f45\"},\"url\":\"https://www.notion.so/c67fe511a81a4d7196a49346307567f3\",\"public_url\":null,\"archived\":false,\"request_id\":\"ccffc674-6718-4cee-a76a-c67000adf1e2\"}"
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c67fe511-a81a-4d71-96a4-9346307567f3
  response:
    content: '{"object":"block","id":"c67fe511-a81a-4d71-96a4-9346307567f3","parent":{"type":"page_id","page_id":"dfaf73e6-4d9d-4108-b9bb-61ba28dc0f45"},"created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-10-19 19:16:01.798284"},"request_id":"854c756d-471f-44cc-941c-2b1a2129897f"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/dfaf73e6-4d9d-4108-b9bb-61ba28dc0f45
  response:
    content: '{"object":"block","id":"dfaf73e6-4d9d-4108-b9bb-61ba28dc0f45","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-10-19 19:16:01.452611"},"request_id":"0692f297-a5cd-49cb-bfd9-f0490dca762f"}'
    headers: {}
    status_code: 200
version: 1
