interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/84464ae1-bef7-4c71-992b-8eaaeefb13e3
  response:
    content: '{"object":"block","id":"84464ae1-bef7-4c71-992b-8eaaeefb13e3","parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"created_time":"2022-11-13T13:08:00.000Z","last_edited_time":"2022-11-13T13:08:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"has_children":true,"archived":true,"type":"child_page","child_page":{"title":"Test
      Page - 2022-11-13 14:07:57.999898"}}'
    headers: {}
    status_code: 200
version: 1
