interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2026-04-20 18:17:57.027847"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"348abc1e-edcd-8134-98bf-e699f06e16ee","created_time":"2026-04-20T16:17:00.000Z","last_edited_time":"2026-04-20T16:17:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-04-20 18:17:57.027847","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-04-20 18:17:57.027847","href":null}]}},"url":"https://www.notion.so/Test-2026-04-20-18-17-57-027847-348abc1eedcd813498bfe699f06e16ee","public_url":null,"archived":false,"request_id":"bd2c8bb9-f54b-4103-9148-09a5b9bd95ed"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"page_id":"348abc1e-edcd-8134-98bf-e699f06e16ee"},"rich_text":[{"text":{"content":"This
      is a test comment."}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    body:
      string: '{"object":"comment","id":"348abc1e-edcd-8144-9860-001d3bd56a72","parent":{"type":"page_id","page_id":"348abc1e-edcd-8134-98bf-e699f06e16ee"},"discussion_id":"348abc1e-edcd-8115-928d-001cc505eee8","created_time":"2026-04-20T16:17:00.000Z","last_edited_time":"2026-04-20T16:17:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"notion-sdk-py"},"request_id":"308f20b7-39bc-4f23-b421-fc500f3c21a6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/comments/348abc1e-edcd-8144-9860-001d3bd56a72
  response:
    body:
      string: '{"object":"comment","id":"348abc1e-edcd-8144-9860-001d3bd56a72","parent":{"type":"page_id","page_id":"348abc1e-edcd-8134-98bf-e699f06e16ee"},"discussion_id":"348abc1e-edcd-8115-928d-001cc505eee8","created_time":"2026-04-20T16:17:00.000Z","last_edited_time":"2026-04-20T16:17:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"notion-sdk-py"},"request_id":"1768bd78-ca36-48b8-baab-ae974be5f3fb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/348abc1e-edcd-8134-98bf-e699f06e16ee
  response:
    body:
      string: '{"object":"block","id":"348abc1e-edcd-8134-98bf-e699f06e16ee","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2026-04-20T16:17:00.000Z","last_edited_time":"2026-04-20T16:17:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-04-20 18:17:57.027847"},"archived":true,"request_id":"3120a675-276c-405a-b660-170de018cb57"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
