interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:09:28.987947"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8187-a921-c34b3b16256d","created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:09:28.987947","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:09:28.987947","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-09-28-987947-16cabc1eedcd8187a921c34b3b16256d","public_url":null,"request_id":"94caacd0-4354-4791-9ba2-e59383634629"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8187-a921-c34b3b16256d"},"title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:09:29.414894"}}],"properties":{"Name":{"title":{}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-815d-b91d-c76f4b61e16d","cover":null,"icon":null,"created_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:09:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:09:29.414894","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:09:29.414894","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8187-a921-c34b3b16256d"},"url":"https://www.notion.so/16cabc1eedcd815db91dc76f4b61e16d","public_url":null,"archived":false,"in_trash":false,"request_id":"f35c39a0-daa3-40ed-a477-1fbafb65012e"}'
    headers: {}
    status_code: 200
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F525\"}}"
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/16cabc1e-edcd-815d-b91d-c76f4b61e16d
  response:
    content: "{\"object\":\"database\",\"id\":\"16cabc1e-edcd-815d-b91d-c76f4b61e16d\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F525\"},\"created_time\":\"2024-12-30T17:09:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2024-12-30T17:09:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Database - 2024-12-30 18:09:29.414894\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
      Database - 2024-12-30 18:09:29.414894\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"16cabc1e-edcd-8187-a921-c34b3b16256d\"},\"url\":\"https://www.notion.so/16cabc1eedcd815db91dc76f4b61e16d\",\"public_url\":null,\"archived\":false,\"in_trash\":false,\"request_id\":\"7cd3386c-b4e9-413b-b5bd-5c2527c79e6d\"}"
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-815d-b91d-c76f4b61e16d
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-815d-b91d-c76f4b61e16d","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8187-a921-c34b3b16256d"},"created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
      Database - 2024-12-30 18:09:29.414894"},"request_id":"029fbc1b-2129-493d-96a1-1eb8e3491b5a"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8187-a921-c34b3b16256d
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8187-a921-c34b3b16256d","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:09:28.987947"},"request_id":"35fbe287-e5a9-45f4-8943-29d14d5f8783"}'
    headers: {}
    status_code: 200
version: 1
