interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:20:58.800421"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8142-a6cb-f67ce3b940a7","created_time":"2024-12-30T17:20:00.000Z","last_edited_time":"2024-12-30T17:20:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:20:58.800421","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:20:58.800421","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-20-58-800421-16cabc1eedcd8142a6cbf67ce3b940a7","public_url":null,"request_id":"4e6d8279-80e2-4473-b579-435837c7b118"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/16cabc1e-edcd-8142-a6cb-f67ce3b940a7/properties/title
  response:
    content: '{"object":"list","results":[{"object":"property_item","type":"title","id":"title","title":{"type":"text","text":{"content":"Test
      2024-12-30 18:20:58.800421","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:20:58.800421","href":null}}],"next_cursor":null,"has_more":false,"type":"property_item","property_item":{"id":"title","next_url":null,"type":"title","title":{}},"request_id":"42d073df-e1ec-4ab9-aa3c-3c9253a7c27d"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8142-a6cb-f67ce3b940a7
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8142-a6cb-f67ce3b940a7","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:20:00.000Z","last_edited_time":"2024-12-30T17:20:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:20:58.800421"},"request_id":"08967072-141f-4b81-bf34-9d2e255521b3"}'
    headers: {}
    status_code: 200
version: 1
