interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads?page_size=5
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"28399f72-bada-8173-bcc5-00b242881503","created_time":"2025-10-05T10:55:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-05T10:55:00.000Z","expiry_time":"2025-10-05T11:55:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/28399f72-bada-8173-bcc5-00b242881503/send","archived":false,"status":"pending","filename":"retrieve_test.txt","content_type":"text/plain","content_length":null},{"object":"file_upload","id":"28399f72-bada-8128-81d9-00b274d4d59a","created_time":"2025-10-05T10:55:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-05T10:55:00.000Z","expiry_time":"2025-10-05T11:55:00.000Z","archived":false,"status":"uploaded","filename":"test_file.pdf","content_type":"application/pdf","content_length":13264,"file_import_result":{"type":"success","success":{},"imported_time":"2025-10-05T10:55:29.000+00:00"}},{"object":"file_upload","id":"28399f72-bada-817a-94b2-00b20d820231","created_time":"2025-10-05T10:55:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-05T10:55:00.000Z","expiry_time":"2025-10-05T11:55:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/28399f72-bada-817a-94b2-00b20d820231/send","archived":false,"status":"pending","filename":"large_file.pdf","content_type":"application/pdf","content_length":null,"number_of_parts":{"total":3,"sent":0}},{"object":"file_upload","id":"28399f72-bada-810b-97ac-00b20c865368","created_time":"2025-10-05T10:55:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-05T10:55:00.000Z","expiry_time":"2025-10-05T11:55:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/28399f72-bada-810b-97ac-00b20c865368/send","archived":false,"status":"pending","filename":"test_file.txt","content_type":"text/plain","content_length":null},{"object":"file_upload","id":"28399f72-bada-8148-b990-00b29e88cfee","created_time":"2025-10-05T10:36:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-05T10:36:00.000Z","expiry_time":"2025-10-05T11:36:00.000Z","archived":false,"status":"uploaded","filename":"large_test.pdf","content_type":"application/pdf","content_length":41943040,"number_of_parts":{"total":4,"sent":4}}],"next_cursor":"28399f72-bada-8131-97ec-00b26410a571","has_more":true,"type":"file_upload","file_upload":{},"request_id":"90d91ae3-33f4-4d57-a058-b111b3deb594"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
