interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:50:26.663519"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81e2-97ea-fad78f8ecc3a","created_time":"2026-07-04T09:50:00.000Z","last_edited_time":"2026-07-04T09:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:50:26.663519","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:50:26.663519","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-50-26-663519-393abc1eedcd81e297eafad78f8ecc3a","public_url":null,"archived":false,"request_id":"b30bd5ec-75d2-4ddd-a619-5d2f36fa1657"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"children":[{"paragraph":{"rich_text":[{"text":{"content":"paragraph 0"}}]}},{"paragraph":{"rich_text":[{"text":{"content":"paragraph
      1"}}]}},{"paragraph":{"rich_text":[{"text":{"content":"paragraph 2"}}]}},{"paragraph":{"rich_text":[{"text":{"content":"paragraph
      3"}}]}},{"paragraph":{"rich_text":[{"text":{"content":"paragraph 4"}}]}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81e2-97ea-fad78f8ecc3a/children
  response:
    body:
      string: '{"object":"list","results":[{"object":"block","id":"393abc1e-edcd-81cd-b327-ff0fec766279","parent":{"type":"page_id","page_id":"393abc1e-edcd-81e2-97ea-fad78f8ecc3a"},"created_time":"2026-07-04T09:50:00.000Z","last_edited_time":"2026-07-04T09:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"paragraph
        0","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"paragraph
        0","href":null}],"icon":null,"color":"default"},"archived":false},{"object":"block","id":"393abc1e-edcd-81e0-b670-f8b3ce91cbe2","parent":{"type":"page_id","page_id":"393abc1e-edcd-81e2-97ea-fad78f8ecc3a"},"created_tim[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81e2-97ea-fad78f8ecc3a/children?page_size=2
  response:
    body:
      string: '{"object":"list","results":[{"object":"block","id":"393abc1e-edcd-81cd-b327-ff0fec766279","parent":{"type":"page_id","page_id":"393abc1e-edcd-81e2-97ea-fad78f8ecc3a"},"created_time":"2026-07-04T09:50:00.000Z","last_edited_time":"2[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81e2-97ea-fad78f8ecc3a/children?start_cursor=393abc1e-edcd-8166-ac96-e7304d406e8d&page_size=2
  response:
    body:
      string: '{"object":"list","results":[{"object":"block","id":"393abc1e-edcd-8166-ac96-e7304d406e8d","parent":{"type":"page_id","page_id":"393abc1e-edcd-81e2-97ea-fad78f8ecc3a"},"created_time[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81e2-97ea-fad78f8ecc3a/children?start_cursor=393abc1e-edcd-81f7-b554-d4980eb885c0&page_size=2
  response:
    body:
      string: '{"object":"list","results":[{"object":"block","id":"393abc1e-edcd-81f7-b554-d4980eb885c0","parent":{"type":"page_id","page_id":"393abc1e-edcd-81e2-97ea-fad78f8ecc3a"},"created_time":"2026-07-04T09:50:00.000Z","last_edited_time":"2026-07-04T09:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"paragraph
        4","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"paragraph
        4","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"3cfa5563-ae6c-46ec-b160-6ae415cc3578"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81cd-b327-ff0fec766279
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81cd-b327-ff0fec766279","parent":{"type":"page_id","page_id":"393abc1e-edcd-81e2-97ea-fad78f8ecc3a"},"created_time":"2026-07-04T09:50:00.000Z","last_edited_time":"2026-07-04T09:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"paragraph
        0","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"paragraph
        0","href":null}],"icon":null,"color":"default"},"archived":true,"request_id":"50de9eeb-5f9b-4067-a84f-6d36e7843eda"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81e2-97ea-fad78f8ecc3a
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81e2-97ea-fad78f8ecc3a","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:50:00.000Z","last_edited_time":"2026-07-04T09:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:50:26.663519"},"archived":true,"request_id":"21095723-56fa-4a60-a2d3-b6f9740d0ccd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
