interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-10-19 19:16:32.483123"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"861f176c-37c3-4929-a5a2-70c367f86311","created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-10-19 19:16:32.483123","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-10-19 19:16:32.483123","href":null}]}},"url":"https://www.notion.so/Test-2023-10-19-19-16-32-483123-861f176c37c34929a5a270c367f86311","public_url":null,"request_id":"2a4ea51b-9967-4c67-a762-fe636e6d2c33"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"page_id": "861f176c-37c3-4929-a5a2-70c367f86311"}, "rich_text":
      [{"text": {"content": "This is a test comment."}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"6f3c4700-1c6f-47e4-a659-dc72d115aa8a","parent":{"type":"page_id","page_id":"861f176c-37c3-4929-a5a2-70c367f86311"},"discussion_id":"27911163-718d-483c-908d-19e1b536a707","created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}],"request_id":"f74c0e57-6a82-4bd5-9c78-864a5b48007f"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=861f176c-37c3-4929-a5a2-70c367f86311
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"6f3c4700-1c6f-47e4-a659-dc72d115aa8a","parent":{"type":"page_id","page_id":"861f176c-37c3-4929-a5a2-70c367f86311"},"discussion_id":"27911163-718d-483c-908d-19e1b536a707","created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"8d067fec-bb10-406e-8fb4-de18a52f3cf8"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/861f176c-37c3-4929-a5a2-70c367f86311
  response:
    content: '{"object":"block","id":"861f176c-37c3-4929-a5a2-70c367f86311","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-10-19 19:16:32.483123"},"request_id":"c78cd4f3-9b5e-4214-b938-30983530ba0f"}'
    headers: {}
    status_code: 200
version: 1
