interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      Page"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-81bc-8793-d436d9d768e6","created_time":"2024-12-30T17:20:00.000Z","last_edited_time":"2024-12-30T17:20:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Page","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Page","href":null}]}},"url":"https://www.notion.so/Test-Page-16cabc1eedcd81bc8793d436d9d768e6","public_url":null,"request_id":"9814c634-9f0c-49d9-881d-fab29b76d615"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-81bc-8793-d436d9d768e6
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-81bc-8793-d436d9d768e6","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:20:00.000Z","last_edited_time":"2024-12-30T17:20:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      Page"},"request_id":"854f71ec-cc14-46f7-bae5-a2461f78fe84"}'
    headers: {}
    status_code: 200
version: 1
