interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:09:58.347500"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81e2-beee-dc425fbef8a4","created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:09:58.347500","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:09:58.347500","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-09-58-347500-393abc1eedcd81e2beeedc425fbef8a4","public_url":null,"archived":false,"request_id":"997dbebe-e328-4129-bf7e-482954894f27"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-81e2-beee-dc425fbef8a4"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:09:58.769814"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"d854648c-ce68-4bef-b6a6-a39ffa5adba3","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:09:58.769814","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:09:58.769814","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-81e2-beee-dc425fbef8a4"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:09:59.117+00:00","last_edited_time":"2026-07-04T09:09:59.117+00:00","data_sources":[{"id":"afc6a35e-f9a7-43c6-b398-4d5a76936136","name":"Test
        Database - 2026-07-04 11:09:58.769814"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/d854648cce684befb6a6a39ffa5adba3","public_url":null,"archived":false,"request_id":"d676160b-dcfe-4f7c-90f7-74202da84357"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"d854648c-ce68-4bef-b6a6-a39ffa5adba3\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:09:59.692612\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81cb-828f-000b9f4f0709\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:09:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:09:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:09:59.692612\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:09:59.692612\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"d854648c-ce68-4bef-b6a6-a39ffa5adba3\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-81e2-beee-dc425fbef8a4\"},\"url\":\"https://app.notion.com/p/d854648cce684befb6a6a39ffa5adba3\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"795bbc7d-8d5f-4d8d-bf27-35bb28bdbdb6\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-81cb-828f-000b9f4f0709/templates
  response:
    body:
      string: '{"templates":[],"has_more":false,"next_cursor":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-81cb-828f-000b9f4f0709
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81cb-828f-000b9f4f0709\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/d854648c-ce68-4bef-b6a6-a39ffa5adba3
  response:
    body:
      string: '{"object":"block","id":"d854648c-ce68-4bef-b6a6-a39ffa5adba3","parent":{"type":"page_id","page_id":"393abc1e-edcd-81e2-beee-dc425fbef8a4"},"created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:09:58.769814"},"archived":true,"request_id":"97eccfb1-2e7c-46d1-a28b-4319e36c9744"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81e2-beee-dc425fbef8a4
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81e2-beee-dc425fbef8a4","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:09:58.347500"},"archived":true,"request_id":"6b6745d0-8b9d-4edd-a994-33756adb94eb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
