interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/invalid
  response:
    body:
      string: '{"object":"error","status":400,"code":"invalid_request_url","message":"Invalid
        request URL.","request_id":"58388fdd-e383-4c3c-a804-bf48450dac55"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users
  response:
    body:
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"bad4a811-f2d3-4ab0-b925-91949185877f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 401
      message: Unauthorized
version: 1
