interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-12-25 22:50:27.560795"}}]}, "children":
      [], "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0aba0902-a874-4f6c-b31b-797e810a4ae0","created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:50:27.560795","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:50:27.560795","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-50-27-560795-0aba0902a8744f6cb31b797e810a4ae0","public_url":null,"request_id":"3727d5fb-23c8-4c8c-bba5-916e4fdc6ed9"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"paragraph": {"rich_text": [{"text": {"content": "I''m a
      paragraph."}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/0aba0902-a874-4f6c-b31b-797e810a4ae0/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"60d42169-2d25-41df-a04b-67ce684bddfd","parent":{"type":"page_id","page_id":"0aba0902-a874-4f6c-b31b-797e810a4ae0"},"created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"5ca58bc6-a798-458c-8696-6a0f1587e398"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0aba0902-a874-4f6c-b31b-797e810a4ae0
  response:
    content: '{"object":"block","id":"0aba0902-a874-4f6c-b31b-797e810a4ae0","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":true,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-12-25 22:50:27.560795"},"request_id":"6b158f9b-f727-47d6-b414-902b28c8974e"}'
    headers: {}
    status_code: 200
version: 1
