interactions:
- request:
    body: '{"mode":"single_part","filename":"test_file_pending.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"29a99f72-bada-81d1-a0cf-00b22f97f17c","created_time":"2025-10-28T07:53:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:53:00.000Z","expiry_time":"2025-10-28T08:53:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29a99f72-bada-81d1-a0cf-00b22f97f17c/send","archived":false,"status":"pending","filename":"test_file_pending.txt","content_type":"text/plain","content_length":null,"request_id":"ed68f69d-1c89-4d92-a578-54384c6a41ad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "--ca5f07d9ca299b4c4b070492f8b7bf22\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"test_file_pending.txt\"\r\nContent-Type: text/plain\r\n\r\nThis is
      test file content\r\n--ca5f07d9ca299b4c4b070492f8b7bf22--\r\n"
    headers:
      authorization:
      - ntn_...
      content-type:
      - multipart/form-data; boundary=ca5f07d9ca299b4c4b070492f8b7bf22
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads/29a99f72-bada-81d1-a0cf-00b22f97f17c/send
  response:
    body:
      string: '{"object":"file_upload","id":"29a99f72-bada-81d1-a0cf-00b22f97f17c","created_time":"2025-10-28T07:53:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:53:00.000Z","expiry_time":"2025-10-28T08:53:00.000Z","archived":false,"status":"uploaded","filename":"test_file_pending.txt","content_type":"text/plain","content_length":25,"request_id":"e35bb4a2-67ea-4ddc-829c-f55835ec1afb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
