interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-05 18:54:58.423834"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"28399f72-bada-81b9-92c3-caba6e43c12f","created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-05 18:54:58.423834","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-05 18:54:58.423834","href":null}]}},"url":"https://www.notion.so/Test-2025-10-05-18-54-58-423834-28399f72bada81b992c3caba6e43c12f","public_url":null,"request_id":"6681f866-8f46-42a2-a4ef-9953bf7986a6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"28399f72-bada-81b9-92c3-caba6e43c12f"},"title":[{"type":"text","text":{"content":"Test
      Database - 2025-10-05 18:54:58.791392"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"c01e05c7-2e9a-4d84-8b6c-5448dc21c2c6","title":[{"type":"text","text":{"content":"Test
        Database - 2025-10-05 18:54:58.791392","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2025-10-05 18:54:58.791392","href":null}],"description":[],"parent":{"type":"page_id","page_id":"28399f72-bada-81b9-92c3-caba6e43c12f"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2025-10-05T10:54:59.296+00:00","last_edited_time":"2025-10-05T10:54:59.296+00:00","data_sources":[{"id":"b4358d3c-040c-4cd1-b967-59d4c11d1a01","name":"Test
        Database - 2025-10-05 18:54:58.791392"}],"icon":null,"cover":null,"url":"https://www.notion.so/c01e05c72e9a4d848b6c5448dc21c2c6","public_url":null,"request_id":"9e99ea21-9fe9-4e58-8533-082ac4dfe3f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"database_id","database_id":"c01e05c7-2e9a-4d84-8b6c-5448dc21c2c6"},"properties":{"Name":{"title":{}}},"title":[{"type":"text","text":{"content":"Test
      DataSource Query"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: '{"object":"data_source","id":"28399f72-bada-81b2-8d25-000b442ed14b","cover":null,"icon":null,"created_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_time":"2025-10-05T10:54:00.000Z","title":[{"type":"text","text":{"content":"Test
        DataSource Query","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        DataSource Query","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"c01e05c7-2e9a-4d84-8b6c-5448dc21c2c6"},"database_parent":{"type":"page_id","page_id":"28399f72-bada-81b9-92c3-caba6e43c12f"},"url":"https://www.notion.so/c01e05c72e9a4d848b6c5448dc21c2c6","public_url":null,"archived":false,"in_trash":false,"request_id":"f910b417-a784-4d44-b77f-b4d3734106d2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources/28399f72-bada-81b2-8d25-000b442ed14b/query
  response:
    body:
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_data_source","page_or_data_source":{},"request_id":"b4ae20da-ad58-446f-ae4d-cc34d9a670fa"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c01e05c7-2e9a-4d84-8b6c-5448dc21c2c6
  response:
    body:
      string: '{"object":"block","id":"c01e05c7-2e9a-4d84-8b6c-5448dc21c2c6","parent":{"type":"page_id","page_id":"28399f72-bada-81b9-92c3-caba6e43c12f"},"created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:55:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2025-10-05 18:54:58.791392"},"request_id":"f64ce79c-b1fa-48ac-9d62-f4e6640a42f5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/28399f72-bada-81b9-92c3-caba6e43c12f
  response:
    body:
      string: '{"object":"block","id":"28399f72-bada-81b9-92c3-caba6e43c12f","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:55:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-05 18:54:58.423834"},"request_id":"c2be7026-7463-4232-b169-100db82e39a8"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
