interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/invalid
  response:
    content: '{"object":"error","status":400,"code":"invalid_request_url","message":"Invalid
      request URL."}'
    headers: {}
    status_code: 400
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users
  response:
    content: '{"object":"error","status":401,"code":"unauthorized","message":"API
      token is invalid.","request_id":"d11a2027-fae9-4cad-a6ea-ab6e34136dc5"}'
    headers: {}
    status_code: 401
version: 1
