interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:08:52.242018"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81e8-95dc-ec52a3110c68","created_time":"2026-07-04T09:08:00.000Z","last_edited_time":"2026-07-04T09:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:08:52.242018","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:08:52.242018","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-08-52-242018-393abc1eedcd81e895dcec52a3110c68","public_url":null,"archived":false,"request_id":"0992b9cf-2fc5-4b8d-8cc0-8df6e01fa415"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-81e8-95dc-ec52a3110c68"},"title":[{"type":"text","text":{"content":"Test
      Database"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"3d0982b9-f958-41d0-8437-cf2e00981c7f","title":[{"type":"text","text":{"content":"Test
        Database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-81e8-95dc-ec52a3110c68"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:08:53.017+00:00","last_edited_time":"2026-07-04T09:08:53.017+00:00","data_sources":[{"id":"56dd91f4-1705-4ba1-9472-255b785b9929","name":"Test
        Database"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/3d0982b9f95841d08437cf2e00981c7f","public_url":null,"archived":false,"request_id":"21e3d1ca-611b-43a3-8e9f-3d5cc15089be"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81e8-95dc-ec52a3110c68
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81e8-95dc-ec52a3110c68","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:08:00.000Z","last_edited_time":"2026-07-04T09:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:08:52.242018"},"archived":true,"request_id":"64209e6a-cbec-478f-a975-9cc81527776d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
