# TODO: re-record from a workspace with AI meeting notes enabled.
# This cassette is hand-written because the endpoint requires a paid plan
# with AI meeting notes; our test workspace returns a 400 validation_error.
interactions:
- request:
    body: '{}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/blocks/meeting_notes/query
  response:
    body:
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"26f04ebb-9703-4ed4-9608-acd6a0f77598"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
