interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:23:49.883292"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8117-a024-fa5446b89751","created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:23:49.883292","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:23:49.883292","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-23-49-883292-16cabc1eedcd8117a024fa5446b89751","public_url":null,"request_id":"870ab205-2a3c-4ae0-aa60-02e7eed99a4b"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8117-a024-fa5446b89751"},"title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:23:50.371934"}}],"properties":{"Name":{"title":{}}}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-8127-9930-e737723566db","cover":null,"icon":null,"created_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:23:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:23:50.371934","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:23:50.371934","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8117-a024-fa5446b89751"},"url":"https://www.notion.so/16cabc1eedcd81279930e737723566db","public_url":null,"archived":false,"in_trash":false,"request_id":"7c721477-0f51-4dec-a824-c05bc94aff34"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/16cabc1e-edcd-8117-a024-fa5446b89751
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8117-a024-fa5446b89751","created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:23:49.883292","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:23:49.883292","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-23-49-883292-16cabc1eedcd8117a024fa5446b89751","public_url":null,"request_id":"83a30f44-88a5-4f36-9423-419a19911af9"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/16cabc1e-edcd-8127-9930-e737723566db
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-8127-9930-e737723566db","cover":null,"icon":null,"created_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:23:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:23:50.371934","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:23:50.371934","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8117-a024-fa5446b89751"},"url":"https://www.notion.so/16cabc1eedcd81279930e737723566db","public_url":null,"archived":false,"in_trash":false,"request_id":"696811f7-6ca6-4847-93ef-14154b0d7049"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8127-9930-e737723566db
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8127-9930-e737723566db","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8117-a024-fa5446b89751"},"created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
      Database - 2024-12-30 18:23:50.371934"},"request_id":"a9b8d169-1b57-4271-903f-f316ca1f0d63"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8117-a024-fa5446b89751
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8117-a024-fa5446b89751","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:23:49.883292"},"request_id":"fa0e7a80-3b47-4dcd-999a-de6154a74770"}'
    headers: {}
    status_code: 200
version: 1
