interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:09:39.184543"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-814b-be1b-d7e866cd1a39","created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:09:39.184543","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:09:39.184543","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-09-39-184543-16cabc1eedcd814bbe1bd7e866cd1a39","public_url":null,"request_id":"d4e1e770-3347-4a20-8c1f-5c3801f8dae6"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-814b-be1b-d7e866cd1a39
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-814b-be1b-d7e866cd1a39","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:09:39.184543"},"request_id":"2a7c81fc-a3b4-4f6e-8981-726482a47734"}'
    headers: {}
    status_code: 200
- request:
    body: '{"archived":false}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/pages/16cabc1e-edcd-814b-be1b-d7e866cd1a39
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-814b-be1b-d7e866cd1a39","created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:09:39.184543","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:09:39.184543","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-09-39-184543-16cabc1eedcd814bbe1bd7e866cd1a39","public_url":null,"request_id":"62a1c82f-6aed-4d56-8ef1-15952b674523"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-814b-be1b-d7e866cd1a39
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-814b-be1b-d7e866cd1a39","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:09:39.184543"},"request_id":"88379a14-8bf7-47cd-aa71-4782af332d53"}'
    headers: {}
    status_code: 200
version: 1
