interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-12-25 22:50:53.193352"}}]}, "children":
      [], "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"fba8d3da-b4a5-4227-b64c-458aa8dd220d","created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:50:53.193352","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:50:53.193352","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-50-53-193352-fba8d3dab4a54227b64c458aa8dd220d","public_url":null,"request_id":"ee9dbf37-4ddb-4fd4-be3c-cc56b3ff281c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "fba8d3da-b4a5-4227-b64c-458aa8dd220d"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-12-25 22:50:56.839105"}}],
      "properties": {"Name": {"title": {}}}, "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"f1dd2119-1cf3-463f-98a9-0f0523bf2cf8","cover":null,"icon":null,"created_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-12-25T21:50:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-12-25 22:50:56.839105","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-12-25 22:50:56.839105","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"fba8d3da-b4a5-4227-b64c-458aa8dd220d"},"url":"https://www.notion.so/f1dd21191cf3463f98a90f0523bf2cf8","public_url":null,"archived":false,"request_id":"401b0319-6bf8-41de-a73d-4b13d90610be"}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83d\udd25"}, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/f1dd2119-1cf3-463f-98a9-0f0523bf2cf8
  response:
    content: "{\"object\":\"database\",\"id\":\"f1dd2119-1cf3-463f-98a9-0f0523bf2cf8\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F525\"},\"created_time\":\"2023-12-25T21:50:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2023-12-25T21:50:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Database - 2023-12-25 22:50:56.839105\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
      Database - 2023-12-25 22:50:56.839105\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"fba8d3da-b4a5-4227-b64c-458aa8dd220d\"},\"url\":\"https://www.notion.so/f1dd21191cf3463f98a90f0523bf2cf8\",\"public_url\":null,\"archived\":false,\"request_id\":\"2c2a91b9-d79a-4b19-a76e-f0dbd5933329\"}"
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/f1dd2119-1cf3-463f-98a9-0f0523bf2cf8
  response:
    content: '{"object":"block","id":"f1dd2119-1cf3-463f-98a9-0f0523bf2cf8","parent":{"type":"page_id","page_id":"fba8d3da-b4a5-4227-b64c-458aa8dd220d"},"created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-12-25 22:50:56.839105"},"request_id":"ff618ecc-95ea-4a51-b8f7-4e9a5f867928"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/fba8d3da-b4a5-4227-b64c-458aa8dd220d
  response:
    content: '{"object":"block","id":"fba8d3da-b4a5-4227-b64c-458aa8dd220d","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-12-25 22:50:53.193352"},"request_id":"434d5a87-1176-4a6c-849e-9a47417e93fd"}'
    headers: {}
    status_code: 200
version: 1
