interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:12:07.226191"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-816f-b040-f9a306631e7d","created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:12:07.226191","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:12:07.226191","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-12-07-226191-393abc1eedcd816fb040f9a306631e7d","public_url":null,"archived":false,"request_id":"96112eaa-6d7e-4efd-899c-ba259624932d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-816f-b040-f9a306631e7d"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:12:07.631189"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"4c932ce5-186f-43ba-8649-6863f2fbac91","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:12:07.631189","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:12:07.631189","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-816f-b040-f9a306631e7d"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:12:07.935+00:00","last_edited_time":"2026-07-04T09:12:07.935+00:00","data_sources":[{"id":"bd405c19-6547-4999-9e97-a9b894b2f211","name":"Test
        Database - 2026-07-04 11:12:07.631189"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/4c932ce5186f43ba86496863f2fbac91","public_url":null,"archived":false,"request_id":"25d49fa0-9143-485f-a763-4b991d99b512"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"4c932ce5-186f-43ba-8649-6863f2fbac91\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:12:08.975601\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-8197-8d4f-000b409c7fbb\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:12:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:12:08.975601\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:12:08.975601\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"4c932ce5-186f-43ba-8649-6863f2fbac91\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-816f-b040-f9a306631e7d\"},\"url\":\"https://app.notion.com/p/4c932ce5186f43ba86496863f2fbac91\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"31ccba00-f12c-4f0b-aa9b-ac7d6402119b\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-8197-8d4f-000b409c7fbb
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-8197-8d4f-000b409c7fbb\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4c932ce5-186f-43ba-8649-6863f2fbac91
  response:
    body:
      string: '{"object":"block","id":"4c932ce5-186f-43ba-8649-6863f2fbac91","parent":{"type":"page_id","page_id":"393abc1e-edcd-816f-b040-f9a306631e7d"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:12:07.631189"},"archived":true,"request_id":"05b501de-7c8a-417c-ba2b-5ac5e0390e38"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-816f-b040-f9a306631e7d
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-816f-b040-f9a306631e7d","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:12:07.226191"},"archived":true,"request_id":"88b356e9-0127-43d7-b308-3bdeb7694ea6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
