interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-10-19 19:16:23.237719"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"76c03467-6742-4aba-8e00-96f99533f0bf","created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-10-19 19:16:23.237719","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-10-19 19:16:23.237719","href":null}]}},"url":"https://www.notion.so/Test-2023-10-19-19-16-23-237719-76c0346767424aba8e0096f99533f0bf","public_url":null,"request_id":"6837b942-07b3-4df7-b442-827a43cb799a"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "76c03467-6742-4aba-8e00-96f99533f0bf"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-10-19 19:16:23.672543"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"c29a14d2-c5e1-4fef-8c2a-5929cf0ade48","cover":null,"icon":null,"created_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-10-19T17:16:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-10-19 19:16:23.672543","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-10-19 19:16:23.672543","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"76c03467-6742-4aba-8e00-96f99533f0bf"},"url":"https://www.notion.so/c29a14d2c5e14fef8c2a5929cf0ade48","public_url":null,"archived":false,"request_id":"43cfba6a-ed75-4321-af6f-056c75b8c3a0"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/c29a14d2-c5e1-4fef-8c2a-5929cf0ade48
  response:
    content: '{"object":"database","id":"c29a14d2-c5e1-4fef-8c2a-5929cf0ade48","cover":null,"icon":null,"created_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-10-19T17:16:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-10-19 19:16:23.672543","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-10-19 19:16:23.672543","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"76c03467-6742-4aba-8e00-96f99533f0bf"},"url":"https://www.notion.so/c29a14d2c5e14fef8c2a5929cf0ade48","public_url":null,"archived":false,"request_id":"efc3f01b-cc00-46ef-9d30-110441a13296"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c29a14d2-c5e1-4fef-8c2a-5929cf0ade48
  response:
    content: '{"object":"block","id":"c29a14d2-c5e1-4fef-8c2a-5929cf0ade48","parent":{"type":"page_id","page_id":"76c03467-6742-4aba-8e00-96f99533f0bf"},"created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-10-19 19:16:23.672543"},"request_id":"28b1c853-eba4-4d23-af1d-4c4dd58f1d73"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/76c03467-6742-4aba-8e00-96f99533f0bf
  response:
    content: '{"object":"block","id":"76c03467-6742-4aba-8e00-96f99533f0bf","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-10-19 19:16:23.237719"},"request_id":"b035fa58-0075-4ecf-887c-7b03192c0530"}'
    headers: {}
    status_code: 200
version: 1
