interactions:
- request:
    body: '{"mode":"single_part","filename":"cursor_test_0.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"393abc1e-edcd-81bc-a74f-00b25a12b263","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"2026-07-04T09:11:00.000Z","expiry_time":"2026-07-04T10:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/393abc1e-edcd-81bc-a74f-00b25a12b263/send","in_trash":false,"status":"pending","filename":"cursor_test_0.txt","content_type":"text/plain","content_length":null,"archived":false,"request_id":"88298e43-4c0f-4c53-bb3e-0991b6749bba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads?status=pending
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"393abc1e-edcd-8190-8c39-00b217307406","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"2026-07-04T09:11:00.000Z","expiry_time":"2026-07-04T10:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/393abc1e-edcd-8190-8c39-00b217307406/send","in_trash":false,"status":"pending","filename":"cursor_test_1.txt","content_type":"text/plain","content_length":null,"archived":false}[...]
