interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-21 10:17:15.210694"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"29399f72-bada-810e-af1a-ed4411db36dc","created_time":"2025-10-21T02:17:00.000Z","last_edited_time":"2025-10-21T02:17:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-21 10:17:15.210694","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-21 10:17:15.210694","href":null}]}},"url":"https://www.notion.so/Test-2025-10-21-10-17-15-210694-29399f72bada810eaf1aed4411db36dc","public_url":null,"request_id":"dc3fbab1-771d-424e-a557-0787b576636c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"29399f72-bada-810e-af1a-ed4411db36dc"},"title":[{"type":"text","text":{"content":"Test
      Database - 2025-10-21 10:17:16.205692"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"7df63ce9-6d9c-4a50-ac4b-82ea9d721590","title":[{"type":"text","text":{"content":"Test
        Database - 2025-10-21 10:17:16.205692","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2025-10-21 10:17:16.205692","href":null}],"description":[],"parent":{"type":"page_id","page_id":"29399f72-bada-810e-af1a-ed4411db36dc"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2025-10-21T02:17:16.580+00:00","last_edited_time":"2025-10-21T02:17:16.580+00:00","data_sources":[{"id":"6948951b-48f0-4653-91c4-ab7698c37513","name":"Test
        Database - 2025-10-21 10:17:16.205692"}],"icon":null,"cover":null,"url":"https://www.notion.so/7df63ce96d9c4a50ac4b82ea9d721590","public_url":null,"request_id":"0175f5f5-2718-48fe-a71b-05d370b39fba"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"7df63ce9-6d9c-4a50-ac4b-82ea9d721590\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2025-10-21 10:17:17.201316\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"29399f72-bada-81a0-8f09-000b5ccf283a\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2025-10-21T02:17:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"5b8183bd-8984-4417-b2a6-7dc8e439e679\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"5b8183bd-8984-4417-b2a6-7dc8e439e679\"},\"last_edited_time\":\"2025-10-21T02:17:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2025-10-21 10:17:17.201316\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2025-10-21 10:17:17.201316\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"7df63ce9-6d9c-4a50-ac4b-82ea9d721590\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"29399f72-bada-810e-af1a-ed4411db36dc\"},\"url\":\"https://www.notion.so/7df63ce96d9c4a50ac4b82ea9d721590\",\"public_url\":null,\"archived\":false,\"in_trash\":false,\"request_id\":\"68ffedfe-e05f-474c-8bf7-a126de1643aa\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"title":[{"type":"text","text":{"content":"Updated DataSource"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/29399f72-bada-81a0-8f09-000b5ccf283a
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"29399f72-bada-81a0-8f09-000b5ccf283a\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/7df63ce9-6d9c-4a50-ac4b-82ea9d721590
  response:
    body:
      string: '{"object":"block","id":"7df63ce9-6d9c-4a50-ac4b-82ea9d721590","parent":{"type":"page_id","page_id":"29399f72-bada-810e-af1a-ed4411db36dc"},"created_time":"2025-10-21T02:17:00.000Z","last_edited_time":"2025-10-21T02:17:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2025-10-21 10:17:16.205692"},"request_id":"23550c62-e81c-4c73-a564-27730dee6d8a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/29399f72-bada-810e-af1a-ed4411db36dc
  response:
    body:
      string: '{"object":"block","id":"29399f72-bada-810e-af1a-ed4411db36dc","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-21T02:17:00.000Z","last_edited_time":"2025-10-21T02:17:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-21 10:17:15.210694"},"request_id":"f49a7265-f42b-4e0b-b6b0-19887c06fa30"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
