interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-06-29 15:04:41.183047"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"ab76c51e-0864-4a1a-b2c6-444bc96dc12b","created_time":"2023-06-29T13:04:00.000Z","last_edited_time":"2023-06-29T13:04:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-06-29 15:04:41.183047","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-06-29 15:04:41.183047","href":null}]}},"url":"https://www.notion.so/Test-2023-06-29-15-04-41-183047-ab76c51e08644a1ab2c6444bc96dc12b","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/ab76c51e-0864-4a1a-b2c6-444bc96dc12b
  response:
    content: '{"object":"page","id":"ab76c51e-0864-4a1a-b2c6-444bc96dc12b","created_time":"2023-06-29T13:04:00.000Z","last_edited_time":"2023-06-29T13:04:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-06-29 15:04:41.183047","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-06-29 15:04:41.183047","href":null}]}},"url":"https://www.notion.so/Test-2023-06-29-15-04-41-183047-ab76c51e08644a1ab2c6444bc96dc12b","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/ab76c51e-0864-4a1a-b2c6-444bc96dc12b
  response:
    content: '{"object":"block","id":"ab76c51e-0864-4a1a-b2c6-444bc96dc12b","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-06-29T13:04:00.000Z","last_edited_time":"2023-06-29T13:04:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-06-29 15:04:41.183047"}}'
    headers: {}
    status_code: 200
version: 1
