interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"file_upload\",\"id\":\"21f99f72-bada-81da-842e-00b261025739\",\"created_time\":\"2025-06-27T02:29:00.000Z\",\"created_by\":{\"id\":\"de22d752-9bb8-45d5-b8f1-6c2c47852b3b\",\"type\":\"bot\"},\"last_edited_time\":\"2025-06-27T02:29:00.000Z\",\"expiry_time\":\"2025-06-27T03:29:00.000Z\",\"upload_url\":\"https://api.notion.com/v1/file_uploads/21f99f72-bada-81da-842e-00b261025739/send\",\"archived\":false,\"status\":\"pending\",\"filename\":\"retrieve_test.txt\",\"content_type\":\"text/plain\",\"content_length\":null},{\"object\":\"file_upload\",\"id\":\"21f99f72-bada-8185-9a13-00b249649d7b\",\"created_time\":\"2025-06-27T02:29:00.000Z\",\"created_by\":{\"id\":\"de22d752-9bb8-45d5-b8f1-6c2c47852b3b\",\"type\":\"bot\"},\"last_edited_time\":\"2025-06-27T02:29:00.000Z\",\"expiry_time\":\"2025-06-27T03:29:00.000Z\",\"upload_url\":\"https://api.notion.com/v1/file_uploads/21f99f72-bada-8185-9a13-00b249649d7b/send\",\"archived\":false,\"status\":\"pending\",\"filename\":\"test_file.pdf\",\"content_type\":\"application/pdf\",\"content_length\":null},{\"object\":\"file_upload\",\"id\":\"21f99f72-bada-819e-82d4-00b2e081a655\",\"created_time\":\"2025-06-27T02:29:00.000Z\",\"created_by\":{\"id\":\"de22d752-9bb8-45d5-b8f1-6c2c47852b3b\",\"type\":\"bot\"},\"last_edited_time\":\"2025-06-27T02:29:00.000Z\",\"expiry_time\":\"2025-06-27T03:29:00.000Z\",\"upload_url\":\"https://api.notion.com/v1/file_uploads/21f99f72-bada-819e-82d4-00b2e081a655/send\",\"archived\":false,\"status\":\"pending\",\"filename\":\"large_file.pdf\",\"content_type\":\"application/pdf\",\"content_length\":null,\"number_of_parts\":{\"total\":3,\"sent\":0}},{\"object\":\"file_upload\",\"id\":\"21f99f72-bada-813d-858b-00b2360b1bab\",\"created_time\":\"2025-06-27T02:15:00.000Z\",\"created_by\":{\"id\":\"de22d752-9bb8-45d5-b8f1-6c2c47852b3b\",\"type\":\"bot\"},\"last_edited_time\":\"2025-06-27T02:15:00.000Z\",\"expiry_time\":\"2025-06-27T03:15:00.000Z\",\"upload_url\":\"https://api.notion.com/v1/file_uploads/21f99f72-bada-813d-858b-00b2360b1bab/send\",\"archived\":false,\"status\":\"pending\",\"filename\":\"test_file.txt\",\"content_type\":\"text/[...]
