interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:10:15.249581"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81d9-b35a-f68a37112ef7","created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:10:15.249581","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:10:15.249581","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-10-15-249581-393abc1eedcd81d9b35af68a37112ef7","public_url":null,"archived":false,"request_id":"44c59838-bde3-47dc-858b-027cb5557d01"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-81d9-b35a-f68a37112ef7"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:10:16.210073"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"37c1deb5-e22b-49c5-9cfd-5ae282e69c4a","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:10:16.210073","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:10:16.210073","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-81d9-b35a-f68a37112ef7"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:10:18.464+00:00","last_edited_time":"2026-07-04T09:10:18.464+00:00","data_sources":[{"id":"473cfdb1-5671-4aba-83e0-a8cb61877b3c","name":"Test
        Database - 2026-07-04 11:10:16.210073"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/37c1deb5e22b49c59cfd5ae282e69c4a","public_url":null,"archived":false,"request_id":"709ba658-8703-44ee-800c-ea9497f0edb0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"37c1deb5-e22b-49c5-9cfd-5ae282e69c4a\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:10:19.819330\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-812b-85b5-000b8f6eb5fd\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:10:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:10:19.819330\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:10:19.819330\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"37c1deb5-e22b-49c5-9cfd-5ae282e69c4a\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-81d9-b35a-f68a37112ef7\"},\"url\":\"https://app.notion.com/p/37c1deb5e22b49c59cfd5ae282e69c4a\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"81b44ffc-646e-42ff-8d43-83211db64d87\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"data_source_id":"393abc1e-edcd-812b-85b5-000b8f6eb5fd","name":"Test View","type":"table","database_id":"37c1deb5-e22b-49c5-9cfd-5ae282e69c4a"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-8162-9cea-000cc5ac5ec7","parent":{"type":"database_id","database_id":"37c1deb5-e22b-49c5-9cfd-5ae282e69c4a"},"data_source_id":"393abc1e-edcd-812b-85b5-000b8f6eb5fd","name":"Test
        View","type":"table","created_time":"2026-07-04T09:10:20.602+00:00","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:10:20.602+00:00","last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"url":"https://app.notion.com/p/37c1deb5e22b49c59cfd5ae282e69c4a?v=393abc1eedcd81629cea000cc5ac5ec7","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"dbc5edb7-f1e3-4686-bd51-6d05eed43306"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/views/393abc1e-edcd-8162-9cea-000cc5ac5ec7
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-8162-9cea-000cc5ac5ec7","parent":{"type":"database_id","database_id":"37c1deb5-e22b-49c5-9cfd-5ae282e69c4a"},"type":"table","request_id":"05a1dfc3-e1f3-4545-a324-813afe63dee6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-812b-85b5-000b8f6eb5fd
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-812b-85b5-000b8f6eb5fd\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/37c1deb5-e22b-49c5-9cfd-5ae282e69c4a
  response:
    body:
      string: '{"object":"block","id":"37c1deb5-e22b-49c5-9cfd-5ae282e69c4a","parent":{"type":"page_id","page_id":"393abc1e-edcd-81d9-b35a-f68a37112ef7"},"created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:10:16.210073"},"archived":true,"request_id":"e89b44ac-2435-444d-a33d-60d700716d43"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81d9-b35a-f68a37112ef7
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81d9-b35a-f68a37112ef7","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:10:15.249581"},"archived":true,"request_id":"9331dead-8fac-4ffb-90a6-e67a49fd6a5d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
