interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:12:40.207247"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-8199-80dc-fc210189e68b","created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:12:40.207247","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:12:40.207247","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-12-40-207247-393abc1eedcd819980dcfc210189e68b","public_url":null,"archived":false,"request_id":"9a1e02ce-704e-4975-9dd9-a8e66932f446"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-8199-80dc-fc210189e68b"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:12:40.606324"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"1bd10a92-3369-4546-a6f9-0a2fb7c43b3c","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:12:40.606324","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:12:40.606324","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-8199-80dc-fc210189e68b"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:12:40.952+00:00","last_edited_time":"2026-07-04T09:12:40.952+00:00","data_sources":[{"id":"26d743d2-da1d-4985-b54b-a21b49a42a31","name":"Test
        Database - 2026-07-04 11:12:40.606324"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/1bd10a9233694546a6f90a2fb7c43b3c","public_url":null,"archived":false,"request_id":"55bd57e1-8af1-40f2-a3bd-05f60386d213"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"1bd10a92-3369-4546-a6f9-0a2fb7c43b3c\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:12:43.947851\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81f9-8e93-000bc77b309f\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:12:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:12:43.947851\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:12:43.947851\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"1bd10a92-3369-4546-a6f9-0a2fb7c43b3c\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-8199-80dc-fc210189e68b\"},\"url\":\"https://app.notion.com/p/1bd10a9233694546a6f90a2fb7c43b3c\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"30607a08-1ac8-4ffd-9914-0fca5f55522d\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-81f9-8e93-000bc77b309f/templates
  response:
    body:
      string: '{"templates":[],"has_more":false,"next_cursor":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-81f9-8e93-000bc77b309f
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81f9-8e93-000bc77b309f\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/1bd10a92-3369-4546-a6f9-0a2fb7c43b3c
  response:
    body:
      string: '{"object":"block","id":"1bd10a92-3369-4546-a6f9-0a2fb7c43b3c","parent":{"type":"page_id","page_id":"393abc1e-edcd-8199-80dc-fc210189e68b"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:12:40.606324"},"archived":true,"request_id":"a670c3ec-f68d-4423-bbca-3eb65081594c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-8199-80dc-fc210189e68b
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-8199-80dc-fc210189e68b","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:12:40.207247"},"archived":true,"request_id":"e59e6d69-0536-483d-88a3-84be88b78ac6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
