interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-09-15 21:10:34.814759"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"1a3fe89a-4d77-4881-9bf6-0a51671dd139","created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-09-15 21:10:34.814759","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-09-15 21:10:34.814759","href":null}]}},"url":"https://www.notion.so/Test-2023-09-15-21-10-34-814759-1a3fe89a4d7748819bf60a51671dd139","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "1a3fe89a-4d77-4881-9bf6-0a51671dd139"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-09-15 21:10:35.242755"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"694302fe-9fe6-4ed6-820f-f56ebb724483","cover":null,"icon":null,"created_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-09-15T19:10:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-09-15 21:10:35.242755","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-09-15 21:10:35.242755","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"1a3fe89a-4d77-4881-9bf6-0a51671dd139"},"url":"https://www.notion.so/694302fe9fe64ed6820ff56ebb724483","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/pages/1a3fe89a-4d77-4881-9bf6-0a51671dd139
  response:
    content: '{"object":"page","id":"1a3fe89a-4d77-4881-9bf6-0a51671dd139","created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-09-15 21:10:34.814759","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-09-15 21:10:34.814759","href":null}]}},"url":"https://www.notion.so/Test-2023-09-15-21-10-34-814759-1a3fe89a4d7748819bf60a51671dd139","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/694302fe-9fe6-4ed6-820f-f56ebb724483
  response:
    content: '{"object":"database","id":"694302fe-9fe6-4ed6-820f-f56ebb724483","cover":null,"icon":null,"created_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-09-15T19:10:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-09-15 21:10:35.242755","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-09-15 21:10:35.242755","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"1a3fe89a-4d77-4881-9bf6-0a51671dd139"},"url":"https://www.notion.so/694302fe9fe64ed6820ff56ebb724483","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/694302fe-9fe6-4ed6-820f-f56ebb724483
  response:
    content: '{"object":"block","id":"694302fe-9fe6-4ed6-820f-f56ebb724483","parent":{"type":"page_id","page_id":"1a3fe89a-4d77-4881-9bf6-0a51671dd139"},"created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-09-15 21:10:35.242755"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/1a3fe89a-4d77-4881-9bf6-0a51671dd139
  response:
    content: '{"object":"block","id":"1a3fe89a-4d77-4881-9bf6-0a51671dd139","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-09-15 21:10:34.814759"}}'
    headers: {}
    status_code: 200
version: 1
