interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-09-15 21:09:56.354893"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"fff50aa0-08c3-4637-b57a-98a23f541a93","created_time":"2023-09-15T19:09:00.000Z","last_edited_time":"2023-09-15T19:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-09-15 21:09:56.354893","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-09-15 21:09:56.354893","href":null}]}},"url":"https://www.notion.so/Test-2023-09-15-21-09-56-354893-fff50aa008c34637b57a98a23f541a93","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "fff50aa0-08c3-4637-b57a-98a23f541a93"},
      "title": [{"type": "text", "text": {"content": "Test Database"}}], "properties":
      {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"3b0349b5-7867-4b52-8f87-2a84e490fe3c","cover":null,"icon":null,"created_time":"2023-09-15T19:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-09-15T19:09:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"fff50aa0-08c3-4637-b57a-98a23f541a93"},"url":"https://www.notion.so/3b0349b578674b528f872a84e490fe3c","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/fff50aa0-08c3-4637-b57a-98a23f541a93
  response:
    content: '{"object":"block","id":"fff50aa0-08c3-4637-b57a-98a23f541a93","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-09-15T19:09:00.000Z","last_edited_time":"2023-09-15T19:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":true,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-09-15 21:09:56.354893"}}'
    headers: {}
    status_code: 200
version: 1
