interactions:
- request:
    body: '{"mode":"single_part","filename":"test_file.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"29a99f72-bada-81ea-b0b9-00b2ab11ca67","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:52:00.000Z","expiry_time":"2025-10-28T08:52:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29a99f72-bada-81ea-b0b9-00b2ab11ca67/send","archived":false,"status":"pending","filename":"test_file.txt","content_type":"text/plain","content_length":null,"request_id":"9d6fd437-0f29-4c33-aa0b-285c101ea32b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
