interactions:
- request:
    body: '{"parent": {"page_id": "95ba0116-6776-4c19-9e45-54e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-11-04 15:00:23.538078"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"cd594ab2-60e6-4080-bc1a-10e2b4ff7791","created_time":"2023-11-04T14:00:00.000Z","last_edited_time":"2023-11-04T14:00:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-11-04 15:00:23.538078","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-11-04 15:00:23.538078","href":null}]}},"url":"https://www.notion.so/Test-2023-11-04-15-00-23-538078-cd594ab260e64080bc1a10e2b4ff7791","public_url":null,"request_id":"52f4fe8a-e18a-4308-9059-510d5494cbd6"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"paragraph": {"rich_text": [{"equation": {"expression":
      "E = mc^2"}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/cd594ab2-60e6-4080-bc1a-10e2b4ff7791/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"3fa611db-c220-4be9-bed8-39294e4e6058","parent":{"type":"page_id","page_id":"cd594ab2-60e6-4080-bc1a-10e2b4ff7791"},"created_time":"2023-11-04T14:00:00.000Z","last_edited_time":"2023-11-04T14:00:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"equation","equation":{"expression":"E
      = mc^2"},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"E
      = mc^2","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"5c6b693f-ac6b-4b2b-b2d0-d459867f3fec"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/3fa611db-c220-4be9-bed8-39294e4e6058
  response:
    content: '{"object":"block","id":"3fa611db-c220-4be9-bed8-39294e4e6058","parent":{"type":"page_id","page_id":"cd594ab2-60e6-4080-bc1a-10e2b4ff7791"},"created_time":"2023-11-04T14:00:00.000Z","last_edited_time":"2023-11-04T14:00:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"equation","equation":{"expression":"E
      = mc^2"},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"E
      = mc^2","href":null}],"color":"default"},"request_id":"8565fe0a-6cb1-4419-a573-5e1734e0a20b"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/cd594ab2-60e6-4080-bc1a-10e2b4ff7791
  response:
    content: '{"object":"block","id":"cd594ab2-60e6-4080-bc1a-10e2b4ff7791","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-11-04T14:00:00.000Z","last_edited_time":"2023-11-04T14:00:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-11-04 15:00:23.538078"},"request_id":"4cce807e-f329-40b7-89e4-86f0375434c6"}'
    headers: {}
    status_code: 200
version: 1
