interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:08:32.632804"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81cb-bb97-d6f7abcb41d6","created_time":"2026-07-04T09:08:00.000Z","last_edited_time":"2026-07-04T09:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:08:32.632804","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:08:32.632804","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-08-32-632804-393abc1eedcd81cbbb97d6f7abcb41d6","public_url":null,"archived":false,"request_id":"12622ceb-90ec-479a-bc71-585a270f9ebd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"children":[{"paragraph":{"rich_text":[{"text":{"content":"I''m a paragraph."}}]}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81cb-bb97-d6f7abcb41d6/children
  response:
    body:
      string: '{"object":"list","results":[{"object":"block","id":"393abc1e-edcd-8153-b10c-e0990b793d16","parent":{"type":"page_id","page_id":"393abc1e-edcd-81cb-bb97-d6f7abcb41d6"},"created_time":"2026-07-04T09:08:00.000Z","last_edited_time":"2026-07-04T09:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
        a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
        a paragraph.","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"71134cff-5b09-4b66-8e5f-a7c502e920dd"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"paragraph":{"rich_text":[{"text":{"content":"I''m an updated paragraph."},"annotations":{"bold":true,"color":"red_background"}}]}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-8153-b10c-e0990b793d16
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-8153-b10c-e0990b793d16","parent":{"type":"page_id","page_id":"393abc1e-edcd-81cb-bb97-d6f7abcb41d6"},"created_time":"2026-07-04T09:08:00.000Z","last_edited_time":"2026-07-04T09:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
        an updated paragraph.","link":null},"annotations":{"bold":true,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"red_background"},"plain_text":"I''m
        an updated paragraph.","href":null}],"icon":null,"color":"default"},"archived":false,"request_id":"2adbc9e1-ad64-4bc1-8d64-43902ca69c1d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81cb-bb97-d6f7abcb41d6
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81cb-bb97-d6f7abcb41d6","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:08:00.000Z","last_edited_time":"2026-07-04T09:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:08:32.632804"},"archived":true,"request_id":"a303ec58-cdf6-4759-ba06-528d72f27004"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
