interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-05 18:54:19.911112"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"28399f72-bada-816b-aa78-cb94c203e30c","created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-05 18:54:19.911112","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-05 18:54:19.911112","href":null}]}},"url":"https://www.notion.so/Test-2025-10-05-18-54-19-911112-28399f72bada816baa78cb94c203e30c","public_url":null,"request_id":"4086b1bb-cdb7-4652-b263-7d0663f12084"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"query":"28399f72-bada-816b-aa78-cb94c203e30c","sort":{"direction":"descending","timestamp":"last_edited_time"}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    body:
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"data_source\",\"id\":\"26999f72-bada-8163-a0fc-000b862140db\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2B50\"},\"created_time\":\"2025-09-09T03:16:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e3acda97-15e8-4883-a7c8-07141d9ef043\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e3acda97-15e8-4883-a7c8-07141d9ef043\"},\"last_edited_time\":\"2025-09-13T14:04:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Daba
        Source B (1)\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Daba
        Source B (1)\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"26999f72-bada-802f-86b4-ed02fe890b53\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"26899f72-bada-80dc-843d-eacaf51e89ad\"},\"url\":\"https://www.notion.so/26999f72bada802f86b4ed02fe890b53\",\"public_url\":null,\"archived\":false,\"in_trash\":false},{\"object\":\"data_source\",\"id\":\"26899f72-bada-8071-8df2-000bbf438512\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2B50\"},\"created_time\":\"2025-09-08T15:31:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e3acda97-15e8-4883-a7c8-07141d9ef043\"},\"last_edited_by\":{\"obj[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/28399f72-bada-816b-aa78-cb94c203e30c
  response:
    body:
      string: '{"object":"block","id":"28399f72-bada-816b-aa78-cb94c203e30c","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-05 18:54:19.911112"},"request_id":"1d7ad7f5-bff0-4569-aa8e-9721836d4ca0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
