interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:09:36.900477"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8168-b453-e22d2a32f573","created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:09:36.900477","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:09:36.900477","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-09-36-900477-16cabc1eedcd8168b453e22d2a32f573","public_url":null,"request_id":"047ae9da-11ac-41d8-bb2a-2c21b5e95e92"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"page_id":"16cabc1e-edcd-8168-b453-e22d2a32f573"},"rich_text":[{"text":{"content":"This
      is a test comment."}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"16cabc1e-edcd-81d6-8c9d-001d9811a890","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8168-b453-e22d2a32f573"},"discussion_id":"16cabc1e-edcd-812c-bb2e-001c0323a356","created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}],"request_id":"72bd0e0e-3ee8-414a-9bf5-3b38dddb2d0e"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=16cabc1e-edcd-8168-b453-e22d2a32f573
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"16cabc1e-edcd-81d6-8c9d-001d9811a890","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8168-b453-e22d2a32f573"},"discussion_id":"16cabc1e-edcd-812c-bb2e-001c0323a356","created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"4317462b-b270-490a-bec5-1d0a11c18268"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8168-b453-e22d2a32f573
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8168-b453-e22d2a32f573","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:09:00.000Z","last_edited_time":"2024-12-30T17:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:09:36.900477"},"request_id":"e5723dba-a7f2-4824-b2b9-0ded8ff9ed10"}'
    headers: {}
    status_code: 200
version: 1
