interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-05 18:54:53.346905"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"28399f72-bada-81b1-80aa-df828235d4c8","created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-05 18:54:53.346905","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-05 18:54:53.346905","href":null}]}},"url":"https://www.notion.so/Test-2025-10-05-18-54-53-346905-28399f72bada81b180aadf828235d4c8","public_url":null,"request_id":"e47b08c6-a118-40e2-983f-7c01a5c6600c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"28399f72-bada-81b1-80aa-df828235d4c8"},"title":[{"type":"text","text":{"content":"Test
      Database - 2025-10-05 18:54:53.731689"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"2c99dc80-76f0-42e3-8e56-d357c0eb1376","title":[{"type":"text","text":{"content":"Test
        Database - 2025-10-05 18:54:53.731689","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2025-10-05 18:54:53.731689","href":null}],"description":[],"parent":{"type":"page_id","page_id":"28399f72-bada-81b1-80aa-df828235d4c8"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2025-10-05T10:54:54.027+00:00","last_edited_time":"2025-10-05T10:54:54.027+00:00","data_sources":[{"id":"02dd2086-c0d8-4b78-b983-4289d15c7cbb","name":"Test
        Database - 2025-10-05 18:54:53.731689"}],"icon":null,"cover":null,"url":"https://www.notion.so/2c99dc8076f042e38e56d357c0eb1376","public_url":null,"request_id":"6312a415-ebae-4073-aceb-f3b407c02d38"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"database_id","database_id":"2c99dc80-76f0-42e3-8e56-d357c0eb1376"},"properties":{"Name":{"title":{}}},"title":[{"type":"text","text":{"content":"Test
      DataSource"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: '{"object":"data_source","id":"28399f72-bada-8134-b122-000b3ec8a297","cover":null,"icon":null,"created_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_time":"2025-10-05T10:54:00.000Z","title":[{"type":"text","text":{"content":"Test
        DataSource","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        DataSource","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"2c99dc80-76f0-42e3-8e56-d357c0eb1376"},"database_parent":{"type":"page_id","page_id":"28399f72-bada-81b1-80aa-df828235d4c8"},"url":"https://www.notion.so/2c99dc8076f042e38e56d357c0eb1376","public_url":null,"archived":false,"in_trash":false,"request_id":"759e10ac-9b14-4e10-9ef2-c574df269df3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/28399f72-bada-8134-b122-000b3ec8a297
  response:
    body:
      string: '{"object":"data_source","id":"28399f72-bada-8134-b122-000b3ec8a297","cover":null,"icon":null,"created_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_time":"2025-10-05T10:54:00.000Z","title":[{"type":"text","text":{"content":"Test
        DataSource","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        DataSource","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"2c99dc80-76f0-42e3-8e56-d357c0eb1376"},"database_parent":{"type":"page_id","page_id":"28399f72-bada-81b1-80aa-df828235d4c8"},"url":"https://www.notion.so/2c99dc8076f042e38e56d357c0eb1376","public_url":null,"archived":false,"in_trash":false,"request_id":"77020fe3-d802-430f-a696-7c71afbf7fa3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/2c99dc80-76f0-42e3-8e56-d357c0eb1376
  response:
    body:
      string: '{"object":"block","id":"2c99dc80-76f0-42e3-8e56-d357c0eb1376","parent":{"type":"page_id","page_id":"28399f72-bada-81b1-80aa-df828235d4c8"},"created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2025-10-05 18:54:53.731689"},"request_id":"32fbd3a3-8f28-4028-8a5c-6203ac67ab7f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/28399f72-bada-81b1-80aa-df828235d4c8
  response:
    body:
      string: '{"object":"block","id":"28399f72-bada-81b1-80aa-df828235d4c8","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-05 18:54:53.346905"},"request_id":"52c1a4a1-ac65-44f3-8d8f-83d661be8e20"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
