interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:12:31.365266"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-811d-b550-f68125ab42de","created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:12:31.365266","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:12:31.365266","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-12-31-365266-393abc1eedcd811db550f68125ab42de","public_url":null,"archived":false,"request_id":"3b965997-5c33-424e-83aa-70cbee3c809f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"children":[{"paragraph":{"rich_text":[{"equation":{"expression":"E =
      mc^2"}}]}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-811d-b550-f68125ab42de/children
  response:
    body:
      string: '{"object":"list","results":[{"object":"block","id":"393abc1e-edcd-8198-b464-c1ec4c56c328","parent":{"type":"page_id","page_id":"393abc1e-edcd-811d-b550-f68125ab42de"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"equation","equation":{"expression":"E
        = mc^2"},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"E
        = mc^2","href":null}],"icon":null,"color":"default"},"archived":false}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"5d9e8fab-bdb8-4766-a556-d9a6769790e5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-8198-b464-c1ec4c56c328
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-8198-b464-c1ec4c56c328","parent":{"type":"page_id","page_id":"393abc1e-edcd-811d-b550-f68125ab42de"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"equation","equation":{"expression":"E
        = mc^2"},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"E
        = mc^2","href":null}],"icon":null,"color":"default"},"archived":false,"request_id":"d7554bc8-1549-41f3-852e-dda6a8e7ec54"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-811d-b550-f68125ab42de
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-811d-b550-f68125ab42de","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:12:31.365266"},"archived":true,"request_id":"a8f7ee77-e7a9-419c-87c3-89e08aa3d4a2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
