interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-05 18:54:46.451979"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"28399f72-bada-8175-adfa-f17050de92f3","created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-05 18:54:46.451979","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-05 18:54:46.451979","href":null}]}},"url":"https://www.notion.so/Test-2025-10-05-18-54-46-451979-28399f72bada8175adfaf17050de92f3","public_url":null,"request_id":"9498f6b8-b77a-4a2c-9576-1289fc819bca"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"28399f72-bada-8175-adfa-f17050de92f3"},"title":[{"type":"text","text":{"content":"Test
      Database - 2025-10-05 18:54:46.865866"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"afc2fe96-fd4b-4f61-b222-6e258d4e7d33","title":[{"type":"text","text":{"content":"Test
        Database - 2025-10-05 18:54:46.865866","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2025-10-05 18:54:46.865866","href":null}],"description":[],"parent":{"type":"page_id","page_id":"28399f72-bada-8175-adfa-f17050de92f3"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2025-10-05T10:54:47.178+00:00","last_edited_time":"2025-10-05T10:54:47.178+00:00","data_sources":[{"id":"ac580af7-c166-49e0-a0a5-535f18182c92","name":"Test
        Database - 2025-10-05 18:54:46.865866"}],"icon":null,"cover":null,"url":"https://www.notion.so/afc2fe96fd4b4f61b2226e258d4e7d33","public_url":null,"request_id":"2b8dc321-f7c0-4720-b140-78f9e4374314"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F525\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/afc2fe96-fd4b-4f61-b222-6e258d4e7d33
  response:
    body:
      string: "{\"object\":\"database\",\"id\":\"afc2fe96-fd4b-4f61-b222-6e258d4e7d33\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Database - 2025-10-05 18:54:46.865866\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Database - 2025-10-05 18:54:46.865866\",\"href\":null}],\"description\":[],\"parent\":{\"type\":\"page_id\",\"page_id\":\"28399f72-bada-8175-adfa-f17050de92f3\"},\"is_inline\":false,\"in_trash\":false,\"is_locked\":false,\"created_time\":\"2025-10-05T10:54:47.178+00:00\",\"last_edited_time\":\"2025-10-05T10:54:47.178+00:00\",\"data_sources\":[{\"id\":\"ac580af7-c166-49e0-a0a5-535f18182c92\",\"name\":\"Test
        Database - 2025-10-05 18:54:46.865866\"}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F525\"},\"cover\":null,\"url\":\"https://www.notion.so/afc2fe96fd4b4f61b2226e258d4e7d33\",\"public_url\":null,\"request_id\":\"25a920c7-4d06-4336-bbbd-e65ddaee8164\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/afc2fe96-fd4b-4f61-b222-6e258d4e7d33
  response:
    body:
      string: '{"object":"block","id":"afc2fe96-fd4b-4f61-b222-6e258d4e7d33","parent":{"type":"page_id","page_id":"28399f72-bada-8175-adfa-f17050de92f3"},"created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2025-10-05 18:54:46.865866"},"request_id":"8f262bf4-03bb-4aa1-a73e-9da765c1a0a1"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/28399f72-bada-8175-adfa-f17050de92f3
  response:
    body:
      string: '{"object":"block","id":"28399f72-bada-8175-adfa-f17050de92f3","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-05 18:54:46.451979"},"request_id":"e342a3d2-5b10-4e7f-9740-e3e3dd80e5d6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
