interactions:
- request:
    body: '{"grant_type": "authorization_code", "code": "...", "redirect_uri": "http://..."}'
    headers:
      authorization:
      - ntn_... OR base64_encoded(client_id:client_secret)
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/oauth/token
  response:
    content: '{"access_token":"...","token_type":"...","bot_id":"...","workspace_name":"...","workspace_icon":"...","workspace_id":"...","owner":"...","duplicated_template_id":"...","request_id":"..."}'
    headers: {}
    status_code: 200
version: 1
