interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_... OR base64_encoded(client_id:client_secret)
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/oauth/introspect
  response:
    content: '{"error":"invalid_client","request_id":"055b49b7-5a59-4a50-a7aa-f7190a726275"}'
    headers: {}
    status_code: 401
[...]
- request:
    body: '{"token": "ntn_..."}'
    headers:
      authorization:
      - ntn_... OR base64_encoded(client_id:client_secret)
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/oauth/introspect
  response:
    content: '{"active":true,"scope":"read_content insert_content update_content read_user_with_email
      read_user_without_email","iat":1742248683519,"request_id":"b5a7fea8-1b92-44ad-ad99-243df7723d75"}'
    headers: {}
    status_code: 200
version: 1
