interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-10-19 19:15:58.032418"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"4b22b09e-3ea1-4f8e-9bd8-7114fa5bfba9","created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-10-19 19:15:58.032418","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-10-19 19:15:58.032418","href":null}]}},"url":"https://www.notion.so/Test-2023-10-19-19-15-58-032418-4b22b09e3ea14f8e9bd87114fa5bfba9","public_url":null,"request_id":"047721c6-a498-4353-94a7-f36c70120d1d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "4b22b09e-3ea1-4f8e-9bd8-7114fa5bfba9"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-10-19 19:15:58.465908"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0e35a186-7075-44d3-80b1-f0d4b69cf582","cover":null,"icon":null,"created_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-10-19T17:15:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-10-19 19:15:58.465908","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-10-19 19:15:58.465908","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"4b22b09e-3ea1-4f8e-9bd8-7114fa5bfba9"},"url":"https://www.notion.so/0e35a186707544d380b1f0d4b69cf582","public_url":null,"archived":false,"request_id":"857b9d9c-5e7a-4561-a3e2-97392f846bf2"}'
    headers: {}
    status_code: 200
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"past_week":
      {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/0e35a186-7075-44d3-80b1-f0d4b69cf582/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"9f3691d2-8694-40a2-ba7c-9e960a21f087"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0e35a186-7075-44d3-80b1-f0d4b69cf582
  response:
    content: '{"object":"block","id":"0e35a186-7075-44d3-80b1-f0d4b69cf582","parent":{"type":"page_id","page_id":"4b22b09e-3ea1-4f8e-9bd8-7114fa5bfba9"},"created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-10-19 19:15:58.465908"},"request_id":"1111fdd7-5beb-4bec-b2be-632803f47e8a"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/4b22b09e-3ea1-4f8e-9bd8-7114fa5bfba9
  response:
    content: '{"object":"block","id":"4b22b09e-3ea1-4f8e-9bd8-7114fa5bfba9","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-10-19 19:15:58.032418"},"request_id":"7f0693d8-9eca-4e3f-96a3-39ec6bbdfedb"}'
    headers: {}
    status_code: 200
version: 1
