interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"29c99f72-bada-81fb-9ef6-00b259ab5b69","created_time":"2025-10-30T07:17:00.000Z","created_by":{"id":"13b9509e-d081-40e9-ba54-a469aacab8c8","type":"bot"},"last_edited_time":"2025-10-30T07:17:00.000Z","expiry_time":"2025-10-30T08:17:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29c99f72-bada-81fb-9ef6-00b259ab5b69/send","archived":false,"status":"pending","filename":"cursor_test_1.txt","content_type":"text/plain","content_length":null},{"object":"file_upload","id":"29c99f72-bada-819e-a39a-00b29ac74362","created_time":"2025-10-30T07:17:00.000Z","created_by":{"id":"13b9509e-d081-40e9-ba54-a469aacab8c8","type":"bot"},"last_edited_time":"2025-10-30T07:17:00.000Z","expiry_time":"2025-10-30T08:17:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29c99f72-bada-819e-a39a-00b29ac74362/send","archived":false,"status":"pending","filename":"cursor_test_0.txt","content_type":"text/plain","content_length":null}],"next_cursor":null,"has_more":false,"type":"file_upload","file_upload":{},"request_id":"775224bb-0a75-4636-9d8a-fd50be54120b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
