interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:09:12.072632"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81e9-afca-e7cba9d39cff","created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:09:12.072632","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:09:12.072632","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-09-12-072632-393abc1eedcd81e9afcae7cba9d39cff","public_url":null,"archived":false,"request_id":"145aedf9-2f48-48b6-a338-420ee64b60f0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-81e9-afca-e7cba9d39cff"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:09:12.562599"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"3e631832-5efa-4702-8171-8b8a0e6651ba","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:09:12.562599","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:09:12.562599","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-81e9-afca-e7cba9d39cff"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:09:12.949+00:00","last_edited_time":"2026-07-04T09:09:12.949+00:00","data_sources":[{"id":"521ced70-4d4b-4236-b7c8-4b4eeec81b24","name":"Test
        Database - 2026-07-04 11:09:12.562599"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/3e6318325efa470281718b8a0e6651ba","public_url":null,"archived":false,"request_id":"03453802-4b43-4513-9dfd-c4ca60fb39da"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"3e631832-5efa-4702-8171-8b8a0e6651ba\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:09:14.284382\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-8179-9372-000bd163e729\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:09:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:09:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:09:14.284382\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:09:14.284382\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3e631832-5efa-4702-8171-8b8a0e6651ba\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-81e9-afca-e7cba9d39cff\"},\"url\":\"https://app.notion.com/p/3e6318325efa470281718b8a0e6651ba\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"e879a384-a017-4565-be00-aac55d9f918e\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-8179-9372-000bd163e729
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-8179-9372-000bd163e729\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:09:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3[...]
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3e631832-5efa-4702-8171-8b8a0e6651ba
  response:
    body:
      string: '{"object":"block","id":"3e631832-5efa-4702-8171-8b8a0e6651ba","parent":{"type":"page_id","page_id":"393abc1e-edcd-81e9-afca-e7cba9d39cff"},"created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:09:12.562599"},"archived":true,"request_id":"4b236f96-604d-4f7c-bc16-cbd7bea12459"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81e9-afca-e7cba9d39cff
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81e9-afca-e7cba9d39cff","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:09:12.072632"},"archived":true,"request_id":"ee6a2212-8db0-476e-b2c2-5d7ba92d612e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
