interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-21 10:16:50.247492"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"29399f72-bada-8161-822f-f5ebd849b69e","created_time":"2025-10-21T02:16:00.000Z","last_edited_time":"2025-10-21T02:16:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-21 10:16:50.247492","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-21 10:16:50.247492","href":null}]}},"url":"https://www.notion.so/Test-2025-10-21-10-16-50-247492-29399f72bada8161822ff5ebd849b69e","public_url":null,"request_id":"0bf867f3-3bf0-463c-90fa-2d31247a6ae5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"29399f72-bada-8161-822f-f5ebd849b69e"},"title":[{"type":"text","text":{"content":"Test
      Database - 2025-10-21 10:16:51.124677"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"40bb15bb-1f91-4de6-bc5f-3f3f689b8af6","title":[{"type":"text","text":{"content":"Test
        Database - 2025-10-21 10:16:51.124677","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2025-10-21 10:16:51.124677","href":null}],"description":[],"parent":{"type":"page_id","page_id":"29399f72-bada-8161-822f-f5ebd849b69e"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2025-10-21T02:16:51.522+00:00","last_edited_time":"2025-10-21T02:16:51.522+00:00","data_sources":[{"id":"4abc4182-7c6b-4acb-b233-1ecaeeab7b8d","name":"Test
        Database - 2025-10-21 10:16:51.124677"}],"icon":null,"cover":null,"url":"https://www.notion.so/40bb15bb1f914de6bc5f3f3f689b8af6","public_url":null,"request_id":"6c9d07ce-b88e-4eb1-bd29-73e5b0f1718b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"database_id","database_id":"40bb15bb-1f91-4de6-bc5f-3f3f689b8af6"},"properties":{"Name":{"title":{}}},"title":[{"type":"text","text":{"content":"Test
      DataSource"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: '{"object":"data_source","id":"29399f72-bada-8132-87e7-000ba568554a","cover":null,"icon":null,"created_time":"2025-10-21T02:16:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_time":"2025-10-21T02:16:00.000Z","title":[{"type":"text","text":{"content":"Test
        DataSource","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        DataSource","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"40bb15bb-1f91-4de6-bc5f-3f3f689b8af6"},"database_parent":{"type":"page_id","page_id":"29399f72-bada-8161-822f-f5ebd849b69e"},"url":"https://www.notion.so/40bb15bb1f914de6bc5f3f3f689b8af6","public_url":null,"archived":false,"in_trash":false,"request_id":"fd742a3d-839d-4786-a2e7-455635e4f1be"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/40bb15bb-1f91-4de6-bc5f-3f3f689b8af6
  response:
    body:
      string: '{"object":"block","id":"40bb15bb-1f91-4de6-bc5f-3f3f689b8af6","parent":{"type":"page_id","page_id":"29399f72-bada-8161-822f-f5ebd849b69e"},"created_time":"2025-10-21T02:16:00.000Z","last_edited_time":"2025-10-21T02:16:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2025-10-21 10:16:51.124677"},"request_id":"658d7cce-50ea-43eb-bf5c-958312ee105a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/29399f72-bada-8161-822f-f5ebd849b69e
  response:
    body:
      string: '{"object":"block","id":"29399f72-bada-8161-822f-f5ebd849b69e","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-21T02:16:00.000Z","last_edited_time":"2025-10-21T02:16:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-21 10:16:50.247492"},"request_id":"d06e6e9f-d2de-4cd2-b7c1-88b0a1850754"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
