interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-05 18:54:09.340015"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"28399f72-bada-81d0-af40-cefe028c2abc","created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-05 18:54:09.340015","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-05 18:54:09.340015","href":null}]}},"url":"https://www.notion.so/Test-2025-10-05-18-54-09-340015-28399f72bada81d0af40cefe028c2abc","public_url":null,"request_id":"968a93db-46c2-4503-8152-c92914553daf"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"children":[{"paragraph":{"rich_text":[{"text":{"content":"I''m a paragraph."}}]}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/28399f72-bada-81d0-af40-cefe028c2abc/children
  response:
    body:
      string: '{"object":"list","results":[{"object":"block","id":"28399f72-bada-814c-ba4f-e6b738e6fda7","parent":{"type":"page_id","page_id":"28399f72-bada-81d0-af40-cefe028c2abc"},"created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
        a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
        a paragraph.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"4ebeb0d1-c076-4397-aabc-72675fb222b6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/28399f72-bada-814c-ba4f-e6b738e6fda7
  response:
    body:
      string: '{"object":"block","id":"28399f72-bada-814c-ba4f-e6b738e6fda7","parent":{"type":"page_id","page_id":"28399f72-bada-81d0-af40-cefe028c2abc"},"created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
        a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
        a paragraph.","href":null}],"color":"default"},"request_id":"1bb07062-f69f-49ba-918d-b1906a50e979"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/28399f72-bada-81d0-af40-cefe028c2abc
  response:
    body:
      string: '{"object":"block","id":"28399f72-bada-81d0-af40-cefe028c2abc","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-05T10:54:00.000Z","last_edited_time":"2025-10-05T10:54:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-05 18:54:09.340015"},"request_id":"2fe065aa-530f-4e79-9dc0-49c97e3cf6de"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
