interactions:
- request:
    body: ''
    headers:
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/16cabc1e-edcd-819b-afa1-eac238462cdc
  response:
    body:
      string: '{"object":"data_source","id":"16cabc1e-edcd-819b-afa1-eac238462cdc","properties":{},"title":[{"text":{"content":"Updated Data Source Title"}}]}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/16cabc1e-edcd-819b-afa1-eac238462cdc
  response:
    body:
      string: '{"object":"data_source","id":"16cabc1e-edcd-819b-afa1-eac238462cdc","properties":{"Test Property":{"type":"rich_text","rich_text":{}}}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
