interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-05 18:55:15.786331"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"28399f72-bada-8196-aa49-ee945272a0c9","created_time":"2025-10-05T10:55:00.000Z","last_edited_time":"2025-10-05T10:55:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-05 18:55:15.786331","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-05 18:55:15.786331","href":null}]}},"url":"https://www.notion.so/Test-2025-10-05-18-55-15-786331-28399f72bada8196aa49ee945272a0c9","public_url":null,"request_id":"ceac37d4-ccc8-430f-b3f7-8eb6e6d4101d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"rich_text":[{"text":{"content":"This is a test comment."}}],"parent":{"page_id":"28399f72-bada-8196-aa49-ee945272a0c9"}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    body:
      string: '{"object":"comment","id":"28399f72-bada-8143-8866-001d92a8042f","parent":{"type":"page_id","page_id":"28399f72-bada-8196-aa49-ee945272a0c9"},"discussion_id":"28399f72-bada-81da-8a01-001c44d348e6","created_time":"2025-10-05T10:55:00.000Z","last_edited_time":"2025-10-05T10:55:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"New_API_Test"},"request_id":"d62d5e36-0da0-486d-a2fe-73810b8ed7af"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=28399f72-bada-8196-aa49-ee945272a0c9
  response:
    body:
      string: '{"object":"list","results":[{"object":"comment","id":"28399f72-bada-8143-8866-001d92a8042f","parent":{"type":"page_id","page_id":"28399f72-bada-8196-aa49-ee945272a0c9"},"discussion_id":"28399f72-bada-81da-8a01-001c44d348e6","created_time":"2025-10-05T10:55:00.000Z","last_edited_time":"2025-10-05T10:55:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"New_API_Test"}}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"5f68b8b6-a452-47d0-a83a-1e1ee25e6975"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/28399f72-bada-8196-aa49-ee945272a0c9
  response:
    body:
      string: '{"object":"block","id":"28399f72-bada-8196-aa49-ee945272a0c9","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-05T10:55:00.000Z","last_edited_time":"2025-10-05T10:55:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-05 18:55:15.786331"},"request_id":"c25c835c-ae14-4399-bae7-66c92711a972"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
