interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:11:36.628011"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-8142-936b-cca8ae692cc4","created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:11:36.628011","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:11:36.628011","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-11-36-628011-393abc1eedcd8142936bcca8ae692cc4","public_url":null,"archived":false,"request_id":"bc8d457c-ea62-4fa0-991e-df7e53182ca2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"type":"insert_content","insert_content":{"content":"## New Section\n\nHello
      from markdown."}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/pages/393abc1e-edcd-8142-936b-cca8ae692cc4/markdown
  response:
    body:
      string: '{"object":"page_markdown","id":"393abc1e-edcd-8142-936b-cca8ae692cc4","markdown":"##
        New Section\nHello from markdown.","truncated":false,"unknown_block_ids":[],"request_id":"976a7fff-c803-4eb5-bec4-4b7a423d91b5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-8142-936b-cca8ae692cc4
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-8142-936b-cca8ae692cc4","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:11:36.628011"},"archived":true,"request_id":"37acd399-a515-4fce-80f0-391e51c1f4c7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
