interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2026-04-02 18:31:42.312147"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"336abc1e-edcd-8156-b697-d05529591ddb","created_time":"2026-04-02T16:31:00.000Z","last_edited_time":"2026-04-02T16:31:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-04-02 18:31:42.312147","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-04-02 18:31:42.312147","href":null}]}},"url":"https://www.notion.so/Test-2026-04-02-18-31-42-312147-336abc1eedcd8156b697d05529591ddb","public_url":null,"archived":false,"request_id":"07381465-c61b-4353-a294-71930b9c0ad4"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"336abc1e-edcd-8156-b697-d05529591ddb"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-04-02 18:31:46.680555"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"3d92c005-b0f5-4916-9dc9-186ad55c256e","title":[{"type":"text","text":{"content":"Test
        Database - 2026-04-02 18:31:46.680555","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-04-02 18:31:46.680555","href":null}],"description":[],"parent":{"type":"page_id","page_id":"336abc1e-edcd-8156-b697-d05529591ddb"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-04-02T16:31:47.144+00:00","last_edited_time":"2026-04-02T16:31:47.144+00:00","data_sources":[{"id":"b0071eaf-0fff-459d-98f3-7cb8d6a0703d","name":"Test
        Database - 2026-04-02 18:31:46.680555"}],"icon":null,"cover":null,"url":"https://www.notion.so/3d92c005b0f549169dc9186ad55c256e","public_url":null,"archived":false,"request_id":"a7d4bcfb-4869-440a-9331-d9ed75b1d4c0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"3d92c005-b0f5-4916-9dc9-186ad55c256e\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-04-02 18:31:49.052383\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"336abc1e-edcd-8136-a0b7-000b26cae551\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-04-02T16:31:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-04-02T16:31:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-04-02 18:31:49.052383\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-04-02 18:31:49.052383\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3d92c005-b0f5-4916-9dc9-186ad55c256e\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"336abc1e-edcd-8156-b697-d05529591ddb\"},\"url\":\"https://www.notion.so/3d92c005b0f549169dc9186ad55c256e\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"a4b29d55-a8f8-4298-96d6-b0dee29a99d9\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"data_source_id":"336abc1e-edcd-8136-a0b7-000b26cae551","name":"Test View","type":"table","database_id":"3d92c005-b0f5-4916-9dc9-186ad55c256e"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views
  response:
    body:
      string: '{"object":"view","id":"336abc1e-edcd-8115-a92f-000c101835e5","parent":{"type":"database_id","database_id":"3d92c005-b0f5-4916-9dc9-186ad55c256e"},"data_source_id":"336abc1e-edcd-8136-a0b7-000b26cae551","name":"Test
        View","type":"table","created_time":"2026-04-02T16:31:49.678+00:00","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-04-02T16:31:49.678+00:00","last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"url":"https://www.notion.so/3d92c005b0f549169dc9186ad55c256e?v=336abc1eedcd8115a92f000c101835e5","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"897cf2dd-1187-4874-bbf2-8020a68d0d70"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views/336abc1e-edcd-8115-a92f-000c101835e5/queries
  response:
    body:
      string: '{"object":"view_query","id":"56650e5b-98d9-42d2-8fb3-ece79013e2fa","view_id":"336abc1e-edcd-8115-a92f-000c101835e5","expires_at":"2026-04-02T16:46:51.020+00:00","total_count":0,"results":[],"next_cursor":null,"has_more":false,"request_id":"160d48de-cbe8-4582-9ee4-c8b69d611a97"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/views/336abc1e-edcd-8115-a92f-000c101835e5
  response:
    body:
      string: '{"object":"view","id":"336abc1e-edcd-8115-a92f-000c101835e5","parent":{"type":"database_id","database_id":"3d92c005-b0f5-4916-9dc9-186ad55c256e"},"type":"table","request_id":"d0b639d3-6b0c-4e0d-b255-61e63abb8111"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/336abc1e-edcd-8136-a0b7-000b26cae551
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"336abc1e-edcd-8136-a0b7-000b26cae551\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-04-02T16:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3d92c005-b0f5-4916-9dc9-186ad55c256e
  response:
    body:
      string: '{"object":"block","id":"3d92c005-b0f5-4916-9dc9-186ad55c256e","parent":{"type":"page_id","page_id":"336abc1e-edcd-8156-b697-d05529591ddb"},"created_time":"2026-04-02T16:31:00.000Z","last_edited_time":"2026-04-02T16:31:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-04-02 18:31:46.680555"},"archived":true,"request_id":"2a3bf2a4-1d37-4ec9-9ff0-e3c76fd00553"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/336abc1e-edcd-8156-b697-d05529591ddb
  response:
    body:
      string: '{"object":"block","id":"336abc1e-edcd-8156-b697-d05529591ddb","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2026-04-02T16:31:00.000Z","last_edited_time":"2026-04-02T16:31:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-04-02 18:31:42.312147"},"archived":true,"request_id":"be8cd80b-3089-4ed5-bec8-b4a93176d0b9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
