interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:11:26.530684"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81e7-9e4f-f8fb86a95088","created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:11:26.530684","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:11:26.530684","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-11-26-530684-393abc1eedcd81e79e4ff8fb86a95088","public_url":null,"archived":false,"request_id":"ee460641-1cc5-4716-b3c5-9f8de699b24c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"page_id":"393abc1e-edcd-81e7-9e4f-f8fb86a95088"},"rich_text":[{"text":{"content":"This
      is a test comment."}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    body:
      string: '{"object":"comment","id":"393abc1e-edcd-819c-b013-001db63e470c","parent":{"type":"page_id","page_id":"393abc1e-edcd-81e7-9e4f-f8fb86a95088"},"discussion_id":"393abc1e-edcd-8169-88da-001c97987adc","created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"notion-sdk-py"},"request_id":"f4da32a4-5c09-4e8f-9098-cd80ca9488e6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/comments/393abc1e-edcd-819c-b013-001db63e470c
  response:
    body:
      string: '{"object":"comment","id":"393abc1e-edcd-819c-b013-001db63e470c","parent":{"type":"page_id","page_id":"393abc1e-edcd-81e7-9e4f-f8fb86a95088"},"discussion_id":"393abc1e-edcd-8169-88da-001c97987adc","created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
        is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
        is a test comment.","href":null}],"display_name":{"type":"integration","resolved_name":"notion-sdk-py"},"request_id":"bbc6cc84-2692-4357-868e-016d654c4b48"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81e7-9e4f-f8fb86a95088
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81e7-9e4f-f8fb86a95088","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:11:26.530684"},"archived":true,"request_id":"3fd1afa6-e479-4f87-b1e4-030576ac5cc7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
