interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:23:54.022858"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-815b-bb7e-e1a3010bdf89","created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:23:54.022858","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:23:54.022858","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-23-54-022858-16cabc1eedcd815bbb7ee1a3010bdf89","public_url":null,"request_id":"58260764-e29e-4b04-8ce5-064aa7baabbd"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"page_id":"16cabc1e-edcd-815b-bb7e-e1a3010bdf89"},"rich_text":[{"text":{"content":"This
      is a test comment."}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"16cabc1e-edcd-81c7-a099-001d7bf827a5","parent":{"type":"page_id","page_id":"16cabc1e-edcd-815b-bb7e-e1a3010bdf89"},"discussion_id":"16cabc1e-edcd-81a7-81cc-001c43928b26","created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}],"request_id":"3e242e40-755a-44df-b830-eb7f5f6b27a0"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=16cabc1e-edcd-815b-bb7e-e1a3010bdf89
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"16cabc1e-edcd-81c7-a099-001d7bf827a5","parent":{"type":"page_id","page_id":"16cabc1e-edcd-815b-bb7e-e1a3010bdf89"},"discussion_id":"16cabc1e-edcd-81a7-81cc-001c43928b26","created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"d94008dc-c7b3-454a-89f4-a4cc6fbcefbd"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-815b-bb7e-e1a3010bdf89
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-815b-bb7e-e1a3010bdf89","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:23:54.022858"},"request_id":"7aa1c17f-e1ec-42d1-9aee-be28a765e9d1"}'
    headers: {}
    status_code: 200
version: 1
