interactions:
- request:
    body: '{"mode":"single_part","filename":"test_file_small.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"29a99f72-bada-818d-bd27-00b2c8ec7ea3","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:52:00.000Z","expiry_time":"2025-10-28T08:52:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29a99f72-bada-818d-bd27-00b2c8ec7ea3/send","archived":false,"status":"pending","filename":"test_file_small.txt","content_type":"text/plain","content_length":null,"request_id":"db579ba6-8302-4291-b67e-5d02f31823ea"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "--eccb07a20006a11f7a749e1171d88994\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"test_file_small.txt\"\r\nContent-Type: text/plain\r\n\r\nThis is
      test file content\r\n--eccb07a20006a11f7a749e1171d88994--\r\n"
    headers:
      authorization:
      - ntn_...
      content-type:
      - multipart/form-data; boundary=eccb07a20006a11f7a749e1171d88994
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads/29a99f72-bada-818d-bd27-00b2c8ec7ea3/send
  response:
    body:
      string: '{"object":"file_upload","id":"29a99f72-bada-818d-bd27-00b2c8ec7ea3","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:52:00.000Z","expiry_time":"2025-10-28T08:52:00.000Z","archived":false,"status":"uploaded","filename":"test_file_small.txt","content_type":"text/plain","content_length":25,"request_id":"9103768e-ef64-4333-be65-ea7e74214c01"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads/29a99f72-bada-818d-bd27-00b2c8ec7ea3
  response:
    body:
      string: '{"object":"file_upload","id":"29a99f72-bada-818d-bd27-00b2c8ec7ea3","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:52:00.000Z","expiry_time":"2025-10-28T08:52:00.000Z","archived":false,"status":"uploaded","filename":"test_file_small.txt","content_type":"text/plain","content_length":25,"request_id":"7f6345e4-7830-4f3d-b512-7ebb0e3cb22b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
