interactions:
- request:
    body: '{"parent": {"page_id": "f691a0f9-da72-43bd-94ef-365793610746"}, "properties":
      {"title": [{"text": {"content": "Test 2022-11-16 16:44:52.183595"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0d95043c-b729-41e6-af6f-9fa4cd0e75ed","created_time":"2022-11-16T15:45:00.000Z","last_edited_time":"2022-11-16T15:45:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2022-11-16 16:44:52.183595","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2022-11-16 16:44:52.183595","href":null}]}},"url":"https://www.notion.so/Test-2022-11-16-16-44-52-183595-0d95043cb72941e6af6f9fa4cd0e75ed"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "0d95043c-b729-41e6-af6f-9fa4cd0e75ed"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2022-11-16 16:44:52.605549"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"6f38b20e-2bab-4230-a4fa-3c08299e08b5","cover":null,"icon":null,"created_time":"2022-11-16T15:45:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_time":"2022-11-16T15:45:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2022-11-16 16:44:52.605549","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2022-11-16 16:44:52.605549","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"0d95043c-b729-41e6-af6f-9fa4cd0e75ed"},"url":"https://www.notion.so/6f38b20e2bab4230a4fa3c08299e08b5","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0d95043c-b729-41e6-af6f-9fa4cd0e75ed
  response:
    content: '{"object":"block","id":"0d95043c-b729-41e6-af6f-9fa4cd0e75ed","parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"created_time":"2022-11-16T15:45:00.000Z","last_edited_time":"2022-11-16T15:45:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"has_children":true,"archived":true,"type":"child_page","child_page":{"title":"Test
      2022-11-16 16:44:52.183595"}}'
    headers: {}
    status_code: 200
version: 1
