interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-09-15 21:10:08.102916"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"857c306f-192d-4899-83cc-cd94878f0f24","created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-09-15 21:10:08.102916","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-09-15 21:10:08.102916","href":null}]}},"url":"https://www.notion.so/Test-2023-09-15-21-10-08-102916-857c306f192d489983cccd94878f0f24","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "857c306f-192d-4899-83cc-cd94878f0f24"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-09-15 21:10:08.620309"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"9189b0ee-b3a8-461e-92fe-bdcf1038d8b3","cover":null,"icon":null,"created_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-09-15T19:10:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-09-15 21:10:08.620309","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-09-15 21:10:08.620309","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"857c306f-192d-4899-83cc-cd94878f0f24"},"url":"https://www.notion.so/9189b0eeb3a8461e92febdcf1038d8b3","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"icon": {"type": "emoji", "emoji": "\ud83d\udd25"}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/databases/9189b0ee-b3a8-461e-92fe-bdcf1038d8b3
  response:
    content: "{\"object\":\"database\",\"id\":\"9189b0ee-b3a8-461e-92fe-bdcf1038d8b3\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F525\"},\"created_time\":\"2023-09-15T19:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2023-09-15T19:10:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Database - 2023-09-15 21:10:08.620309\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
      Database - 2023-09-15 21:10:08.620309\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"page_id\",\"page_id\":\"857c306f-192d-4899-83cc-cd94878f0f24\"},\"url\":\"https://www.notion.so/9189b0eeb3a8461e92febdcf1038d8b3\",\"public_url\":null,\"archived\":false}"
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/9189b0ee-b3a8-461e-92fe-bdcf1038d8b3
  response:
    content: '{"object":"block","id":"9189b0ee-b3a8-461e-92fe-bdcf1038d8b3","parent":{"type":"page_id","page_id":"857c306f-192d-4899-83cc-cd94878f0f24"},"created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-09-15 21:10:08.620309"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/857c306f-192d-4899-83cc-cd94878f0f24
  response:
    content: '{"object":"block","id":"857c306f-192d-4899-83cc-cd94878f0f24","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-09-15T19:10:00.000Z","last_edited_time":"2023-09-15T19:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-09-15 21:10:08.102916"}}'
    headers: {}
    status_code: 200
version: 1
