interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-10-19 19:15:42.948193"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"8cdca001-83f3-489a-925f-3111990cb922","created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-10-19 19:15:42.948193","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-10-19 19:15:42.948193","href":null}]}},"url":"https://www.notion.so/Test-2023-10-19-19-15-42-948193-8cdca00183f3489a925f3111990cb922","public_url":null,"request_id":"3bb8feee-65df-419e-8e63-79b15bae04d0"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children": [{"paragraph": {"rich_text": [{"text": {"content": "I''m a
      paragraph."}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/8cdca001-83f3-489a-925f-3111990cb922/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"30c03277-bf1c-407a-96f2-c3684912f556","parent":{"type":"page_id","page_id":"8cdca001-83f3-489a-925f-3111990cb922"},"created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"7cc95e93-aae0-4dc8-bba7-b96ab49747a2"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8cdca001-83f3-489a-925f-3111990cb922
  response:
    content: '{"object":"block","id":"8cdca001-83f3-489a-925f-3111990cb922","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":true,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-10-19 19:15:42.948193"},"request_id":"41284b00-e0d4-4237-9182-d1de14ba56ef"}'
    headers: {}
    status_code: 200
version: 1
