interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/invalid
  response:
    content: '{"object":"error","status":400,"code":"invalid_request_url","message":"Invalid
      request URL."}'
    headers: {}
    status_code: 400
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users
  response:
    content: '{"object":"error","status":401,"code":"unauthorized","message":"API
      token is invalid.","request_id":"f12c8893-f690-44c3-88d3-6ab25b1804c8"}'
    headers: {}
    status_code: 401
version: 1
