interactions:
- request:
    body: '{"mode":"single_part","filename":"retrieve_test.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"28399f72-bada-8173-bcc5-00b242881503","created_time":"2025-10-05T10:55:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-05T10:55:00.000Z","expiry_time":"2025-10-05T11:55:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/28399f72-bada-8173-bcc5-00b242881503/send","archived":false,"status":"pending","filename":"retrieve_test.txt","content_type":"text/plain","content_length":null,"request_id":"db1d882f-47c8-4abe-b9ef-1f261d00e564"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads/28399f72-bada-8173-bcc5-00b242881503
  response:
    body:
      string: '{"object":"file_upload","id":"28399f72-bada-8173-bcc5-00b242881503","created_time":"2025-10-05T10:55:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-05T10:55:00.000Z","expiry_time":"2025-10-05T11:55:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/28399f72-bada-8173-bcc5-00b242881503/send","archived":false,"status":"pending","filename":"retrieve_test.txt","content_type":"text/plain","content_length":null,"request_id":"0a328f3f-ba24-4f3b-996d-38425d0ef150"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
