interactions:
- request:
    body: '{"token": "ntn_..."}'
    headers:
      authorization:
      - ntn_... OR base64_encoded(client_id:client_secret)
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/oauth/introspect
  response:
    content: '{"active":true,"scope":"read_content insert_content update_content read_user_with_email
      read_user_without_email","iat":1742248683519,"request_id":"ddd8cc28-162c-46cb-9268-fb890d4bb044"}'
    headers: {}
    status_code: 200
version: 1
