interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:10:51.604566"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-812f-98ea-fe869e7611fe","created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:10:51.604566","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:10:51.604566","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-10-51-604566-393abc1eedcd812f98eafe869e7611fe","public_url":null,"archived":false,"request_id":"79639280-4e56-41a5-994e-943128e0a7e7"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-812f-98ea-fe869e7611fe"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:10:52.037547"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"3af88c9a-2135-4493-931a-92fda0ba43f0","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:10:52.037547","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:10:52.037547","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-812f-98ea-fe869e7611fe"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:10:52.376+00:00","last_edited_time":"2026-07-04T09:10:52.376+00:00","data_sources":[{"id":"720163dc-ee6a-4cd7-90f3-4858790002fa","name":"Test
        Database - 2026-07-04 11:10:52.037547"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/3af88c9a21354493931a92fda0ba43f0","public_url":null,"archived":false,"request_id":"f10c232a-3817-48cc-b9db-edc5e8f61fb0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"3af88c9a-2135-4493-931a-92fda0ba43f0\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:10:53.154187\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-8106-9cd3-000b6f3ccf32\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:10:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:10:53.154187\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:10:53.154187\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"3af88c9a-2135-4493-931a-92fda0ba43f0\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-812f-98ea-fe869e7611fe\"},\"url\":\"https://app.notion.com/p/3af88c9a21354493931a92fda0ba43f0\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"4c4ed9a7-c419-4825-ae24-10cc3eb97e88\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"data_source_id":"393abc1e-edcd-8106-9cd3-000b6f3ccf32","name":"Test View","type":"table","database_id":"3af88c9a-2135-4493-931a-92fda0ba43f0"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-8144-b381-000c8e49c7ec","parent":{"type":"database_id","database_id":"3af88c9a-2135-4493-931a-92fda0ba43f0"},"data_source_id":"393abc1e-edcd-8106-9cd3-000b6f3ccf32","name":"Test
        View","type":"table","created_time":"2026-07-04T09:10:53.847+00:00","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:10:53.847+00:00","last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"url":"https://app.notion.com/p/3af88c9a21354493931a92fda0ba43f0?v=393abc1eedcd8144b381000c8e49c7ec","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"528447fc-2249-40a5-91f6-90ccf236facb"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views/393abc1e-edcd-8144-b381-000c8e49c7ec/queries
  response:
    body:
      string: '{"object":"view_query","id":"5d2aae73-ab68-481c-a1a7-573de414a1b9","view_id":"393abc1e-edcd-8144-b381-000c8e49c7ec","expires_at":"2026-07-04T09:25:54.720+00:00","total_count":0,"results":[],"next_cursor":null,"has_more":false,"request_id":"45a7adb2-857e-4490-ad3d-f55c74ab4a1b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/views/393abc1e-edcd-8144-b381-000c8e49c7ec
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-8144-b381-000c8e49c7ec","parent":{"type":"database_id","database_id":"3af88c9a-2135-4493-931a-92fda0ba43f0"},"type":"table","request_id":"ebd94cfc-045b-48c1-8abf-a961427d2c29"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-8106-9cd3-000b6f3ccf32
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-8106-9cd3-000b6f3ccf32\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/3af88c9a-2135-4493-931a-92fda0ba43f0
  response:
    body:
      string: '{"object":"block","id":"3af88c9a-2135-4493-931a-92fda0ba43f0","parent":{"type":"page_id","page_id":"393abc1e-edcd-812f-98ea-fe869e7611fe"},"created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:10:52.037547"},"archived":true,"request_id":"7d6a88d9-e0a0-43b5-9e58-0037baf35949"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-812f-98ea-fe869e7611fe
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-812f-98ea-fe869e7611fe","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:10:51.604566"},"archived":true,"request_id":"bf86eec4-9293-455c-ac1e-d155c2199d21"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
