interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/invalid
  response:
    body:
      string: '{"object":"error","status":400,"code":"invalid_request_url","message":"Invalid
        request URL."}'
    headers: {}
    status:
      code: 400
      message: Bad Request
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users
  response:
    body:
      string: '{"object":"error","status":401,"code":"unauthorized","message":"API
        token is invalid.","request_id":"b85cdcf1-7ec8-4eac-8ce8-05dc3da2eae9"}'
    headers: {}
    status:
      code: 401
      message: Unauthorized
version: 1
