interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-12-25 22:51:16.873339"}}]}, "children":
      [], "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"c84a9443-c40d-4e8c-8afc-aaf6ca8058ce","created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:51:16.873339","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:51:16.873339","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-51-16-873339-c84a9443c40d4e8c8afcaaf6ca8058ce","public_url":null,"request_id":"220e7131-45a7-4b7e-9c72-6125a53b3ee3"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "c84a9443-c40d-4e8c-8afc-aaf6ca8058ce"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-12-25 22:51:17.287619"}}],
      "properties": {"Name": {"title": {}}}, "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"7aef4020-239d-4614-90bf-f258819763a1","cover":null,"icon":null,"created_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-12-25T21:51:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-12-25 22:51:17.287619","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-12-25 22:51:17.287619","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"c84a9443-c40d-4e8c-8afc-aaf6ca8058ce"},"url":"https://www.notion.so/7aef4020239d461490bff258819763a1","public_url":null,"archived":false,"request_id":"c7c2f090-d532-4499-a198-f796026dcd6a"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/7aef4020-239d-4614-90bf-f258819763a1
  response:
    content: '{"object":"database","id":"7aef4020-239d-4614-90bf-f258819763a1","cover":null,"icon":null,"created_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-12-25T21:51:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-12-25 22:51:17.287619","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-12-25 22:51:17.287619","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"c84a9443-c40d-4e8c-8afc-aaf6ca8058ce"},"url":"https://www.notion.so/7aef4020239d461490bff258819763a1","public_url":null,"archived":false,"request_id":"e604c5cd-d264-4f5e-81ab-0f5a59bf8a0c"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/7aef4020-239d-4614-90bf-f258819763a1
  response:
    content: '{"object":"block","id":"7aef4020-239d-4614-90bf-f258819763a1","parent":{"type":"page_id","page_id":"c84a9443-c40d-4e8c-8afc-aaf6ca8058ce"},"created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-12-25 22:51:17.287619"},"request_id":"5291a463-70ae-496d-8d16-de5cd7829a81"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c84a9443-c40d-4e8c-8afc-aaf6ca8058ce
  response:
    content: '{"object":"block","id":"c84a9443-c40d-4e8c-8afc-aaf6ca8058ce","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-12-25 22:51:16.873339"},"request_id":"c838789d-5396-4884-8edd-e0c23141a311"}'
    headers: {}
    status_code: 200
version: 1
