interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-06-29 15:06:39.437871"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"0f2a0062-9fb1-45f8-85ff-3513048e3a7f","created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-06-29 15:06:39.437871","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-06-29 15:06:39.437871","href":null}]}},"url":"https://www.notion.so/Test-2023-06-29-15-06-39-437871-0f2a00629fb145f885ff3513048e3a7f","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "0f2a0062-9fb1-45f8-85ff-3513048e3a7f"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-06-29 15:06:43.393647"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"bff4f2cf-bd99-4377-ab17-63b8f7111b93","cover":null,"icon":null,"created_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-06-29T13:06:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-06-29 15:06:43.393647","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-06-29 15:06:43.393647","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"0f2a0062-9fb1-45f8-85ff-3513048e3a7f"},"url":"https://www.notion.so/bff4f2cfbd994377ab1763b8f7111b93","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/bff4f2cf-bd99-4377-ab17-63b8f7111b93
  response:
    content: '{"object":"database","id":"bff4f2cf-bd99-4377-ab17-63b8f7111b93","cover":null,"icon":null,"created_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-06-29T13:06:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-06-29 15:06:43.393647","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-06-29 15:06:43.393647","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"0f2a0062-9fb1-45f8-85ff-3513048e3a7f"},"url":"https://www.notion.so/bff4f2cfbd994377ab1763b8f7111b93","public_url":null,"archived":false}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/bff4f2cf-bd99-4377-ab17-63b8f7111b93
  response:
    content: '{"object":"block","id":"bff4f2cf-bd99-4377-ab17-63b8f7111b93","parent":{"type":"page_id","page_id":"0f2a0062-9fb1-45f8-85ff-3513048e3a7f"},"created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-06-29 15:06:43.393647"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0f2a0062-9fb1-45f8-85ff-3513048e3a7f
  response:
    content: '{"object":"block","id":"0f2a0062-9fb1-45f8-85ff-3513048e3a7f","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-06-29T13:06:00.000Z","last_edited_time":"2023-06-29T13:06:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-06-29 15:06:39.437871"}}'
    headers: {}
    status_code: 200
version: 1
