interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test Page (test_iterate_paginated_api iteration
      0)"}}]}, "children": []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"7724308b-56a4-4f8b-9f6e-741f6829840a","created_time":"2023-12-28T11:08:00.000Z","last_edited_time":"2023-12-28T11:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Page (test_iterate_paginated_api iteration 0)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Page (test_iterate_paginated_api iteration 0)","href":null}]}},"url":"https://www.notion.so/Test-Page-test_iterate_paginated_api-iteration-0-7724308b56a44f8b9f6e741f6829840a","public_url":null,"request_id":"0e693234-1267-4ef5-b59b-e60943855cdb"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"query": "test_iterate_paginated_api", "page_size": 2}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"40d5fd41-26d3-4ad7-96fb-68528cf84f79","created_time":"2023-12-28T11:08:00.000Z","last_edited_time":"2023-12-28T11:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","t[...]
- request:
    body: '{"query": "test_iterate_paginated_api", "start_cursor": "bc07bed2-bd25-43dc-b311-5315db48fa67",
      "page_size": 2}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"bc07bed2-bd25-43dc-b311-5315db48fa67","created_time":"2023-12-28T11:08:00.000Z","last_edited_time":"2023-12-28T11:08:00.000Z","created_by":{"object":"user","id[...]
- request:
    body: '{"query": "test_iterate_paginated_api", "start_cursor": "7724308b-56a4-4f8b-9f6e-741f6829840a",
      "page_size": 2}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[{"object":"page","id":"7724308b-56a4-4f8b-9f6e-741f6829840a","created_time":"2023-12-28T11:08:00.000Z","last_edited_time":"2023-12-28T11:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      Page (test_iterate_paginated_api iteration 0)","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Page (test_iterate_paginated_api iteration 0)","href":null}]}},"url":"https://www.notion.so/Test-Page-test_iterate_paginated_api-iteration-0-7724308b56a44f8b9f6e741f6829840a","public_url":null}],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"f5af24a2-448e-44d1-af3f-bbb91a0fd08e"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/7724308b-56a4-4f8b-9f6e-741f6829840a
  response:
    content: '{"object":"block","id":"7724308b-56a4-4f8b-9f6e-741f6829840a","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-28T11:08:00.000Z","last_edited_time":"2023-12-28T11:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      Page (test_iterate_paginated_api iteration 0)"},"request_id":"978530be-0a84-4e48-badb-b0d5584b11c5"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: '{"query": "test_iterate_paginated_api", "page_size": 2}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"29aa9f7c-f36e-40d1-ba99-cf853c3c1619"}'
    headers: {}
    status_code: 200
version: 1
