interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:21:29.524316"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8130-87d8-d12cecc2579e","created_time":"2024-12-30T17:21:00.000Z","last_edited_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:21:29.524316","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:21:29.524316","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-21-29-524316-16cabc1eedcd813087d8d12cecc2579e","public_url":null,"request_id":"771b2d68-988a-40cd-8c16-8fd3a96adac1"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8130-87d8-d12cecc2579e"},"title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:21:30.072949"}}],"properties":{"Name":{"title":{}}}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-8157-b05e-e76668756101","cover":null,"icon":null,"created_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:21:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:21:30.072949","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:21:30.072949","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8130-87d8-d12cecc2579e"},"url":"https://www.notion.so/16cabc1eedcd8157b05ee76668756101","public_url":null,"archived":false,"in_trash":false,"request_id":"03b2c822-5251-4c25-b715-1981969fbe53"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/16cabc1e-edcd-8157-b05e-e76668756101
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-8157-b05e-e76668756101","cover":null,"icon":null,"created_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:21:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:21:30.072949","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:21:30.072949","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-8130-87d8-d12cecc2579e"},"url":"https://www.notion.so/16cabc1eedcd8157b05ee76668756101","public_url":null,"archived":false,"in_trash":false,"request_id":"8f83aab3-a0af-436b-9261-26273e6160bf"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8157-b05e-e76668756101
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8157-b05e-e76668756101","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8130-87d8-d12cecc2579e"},"created_time":"2024-12-30T17:21:00.000Z","last_edited_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
      Database - 2024-12-30 18:21:30.072949"},"request_id":"1d45191a-b46f-4b02-bb3e-2313b47d2508"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8130-87d8-d12cecc2579e
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8130-87d8-d12cecc2579e","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:21:00.000Z","last_edited_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:21:29.524316"},"request_id":"b3123a16-856b-408b-9c27-3ba9674ae711"}'
    headers: {}
    status_code: 200
version: 1
