interactions:
- request:
    body: '{"mode":"single_part","filename":"test_file_small.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"29a99f72-bada-81c3-8a3a-00b279435b0a","created_time":"2025-10-28T10:44:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T10:44:00.000Z","expiry_time":"2025-10-28T11:44:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29a99f72-bada-81c3-8a3a-00b279435b0a/send","archived":false,"status":"pending","filename":"test_file_small.txt","content_type":"text/plain","content_length":null,"request_id":"b5e29f07-7782-49bc-bc61-cc4883088d03"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "--9cdb78f7eae56cb1e2ee2c99a8cef497\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"test_file_small.txt\"\r\nContent-Type: text/plain\r\n\r\nThis is
      test file content\r\n--9cdb78f7eae56cb1e2ee2c99a8cef497--\r\n"
    headers:
      authorization:
      - ntn_...
      content-type:
      - multipart/form-data; boundary=9cdb78f7eae56cb1e2ee2c99a8cef497
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads/29a99f72-bada-81c3-8a3a-00b279435b0a/send
  response:
    body:
      string: '{"object":"file_upload","id":"29a99f72-bada-81c3-8a3a-00b279435b0a","created_time":"2025-10-28T10:44:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T10:44:00.000Z","expiry_time":"2025-10-28T11:44:00.000Z","archived":false,"status":"uploaded","filename":"test_file_small.txt","content_type":"text/plain","content_length":25,"request_id":"803630c9-e802-4bd6-a31b-62544b691868"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
