interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:08:51.719594"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8129-9923-fbf5e1c191ca","created_time":"2024-12-30T17:08:00.000Z","last_edited_time":"2024-12-30T17:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:08:51.719594","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:08:51.719594","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-08-51-719594-16cabc1eedcd81299923fbf5e1c191ca","public_url":null,"request_id":"ea874ec7-aaef-4e54-98bc-afb4e6d1b593"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children":[{"paragraph":{"rich_text":[{"text":{"content":"I''m a paragraph."}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8129-9923-fbf5e1c191ca/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"16cabc1e-edcd-8144-b963-caf93aa720ee","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8129-9923-fbf5e1c191ca"},"created_time":"2024-12-30T17:08:00.000Z","last_edited_time":"2024-12-30T17:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"118b5ac7-632c-4fb1-8c5e-d042cd3a0ad9"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8144-b963-caf93aa720ee
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8144-b963-caf93aa720ee","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8129-9923-fbf5e1c191ca"},"created_time":"2024-12-30T17:08:00.000Z","last_edited_time":"2024-12-30T17:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"},"request_id":"00825e4f-d461-4810-8d4b-474fc2582a31"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8129-9923-fbf5e1c191ca
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8129-9923-fbf5e1c191ca","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:08:00.000Z","last_edited_time":"2024-12-30T17:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:08:51.719594"},"request_id":"1684815b-4853-4c16-943e-3de41eab6fb1"}'
    headers: {}
    status_code: 200
version: 1
