interactions:
- request:
    body: '{"parent":{"page_id":"26899f72bada80dc843deacaf51e89ad"},"properties":{"title":[{"text":{"content":"Test
      2025-10-05 18:55:04.178654"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"28399f72-bada-816a-af00-ff13e649f3ea","created_time":"2025-10-05T10:55:00.000Z","last_edited_time":"2025-10-05T10:55:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"archived":false,"in_trash":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2025-10-05 18:55:04.178654","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2025-10-05 18:55:04.178654","href":null}]}},"url":"https://www.notion.so/Test-2025-10-05-18-55-04-178654-28399f72bada816aaf00ff13e649f3ea","public_url":null,"request_id":"fa0e81ab-d69b-4a0d-b1db-215cd2969ef2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"28399f72-bada-816a-af00-ff13e649f3ea"},"title":[{"type":"text","text":{"content":"Test
      Database - 2025-10-05 18:55:05.831464"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"8f5be9be-4191-474e-9c75-4c0fe96a1ddf","title":[{"type":"text","text":{"content":"Test
        Database - 2025-10-05 18:55:05.831464","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2025-10-05 18:55:05.831464","href":null}],"description":[],"parent":{"type":"page_id","page_id":"28399f72-bada-816a-af00-ff13e649f3ea"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2025-10-05T10:55:06.116+00:00","last_edited_time":"2025-10-05T10:55:06.116+00:00","data_sources":[{"id":"8f078b52-08b7-4b69-80b5-bc1079f9b704","name":"Test
        Database - 2025-10-05 18:55:05.831464"}],"icon":null,"cover":null,"url":"https://www.notion.so/8f5be9be4191474e9c754c0fe96a1ddf","public_url":null,"request_id":"0aed7a35-358d-498a-a30d-1fff7f2fdb8c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"8f5be9be-4191-474e-9c75-4c0fe96a1ddf\"},\"properties\":{\"Name\":{\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      DataSource Update\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"28399f72-bada-8130-a9f3-000b1d438a8d\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F680\"},\"created_time\":\"2025-10-05T10:55:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"5b8183bd-8984-4417-b2a6-7dc8e439e679\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"5b8183bd-8984-4417-b2a6-7dc8e439e679\"},\"last_edited_time\":\"2025-10-05T10:55:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        DataSource Update\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        DataSource Update\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"8f5be9be-4191-474e-9c75-4c0fe96a1ddf\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"28399f72-bada-816a-af00-ff13e649f3ea\"},\"url\":\"https://www.notion.so/8f5be9be4191474e9c754c0fe96a1ddf\",\"public_url\":null,\"archived\":false,\"in_trash\":false,\"request_id\":\"b783050d-5c96-43e8-bcaf-5711a38c0074\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"title":[{"type":"text","text":{"content":"Updated DataSource"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/28399f72-bada-8130-a9f3-000b1d438a8d
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"28399f72-bada-8130-a9f3-000b1d438a8d\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8f5be9be-4191-474e-9c75-4c0fe96a1ddf
  response:
    body:
      string: '{"object":"block","id":"8f5be9be-4191-474e-9c75-4c0fe96a1ddf","parent":{"type":"page_id","page_id":"28399f72-bada-816a-af00-ff13e649f3ea"},"created_time":"2025-10-05T10:55:00.000Z","last_edited_time":"2025-10-05T10:55:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2025-10-05 18:55:05.831464"},"request_id":"dc545daf-e09e-425f-83f9-e8602409c345"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/28399f72-bada-816a-af00-ff13e649f3ea
  response:
    body:
      string: '{"object":"block","id":"28399f72-bada-816a-af00-ff13e649f3ea","parent":{"type":"page_id","page_id":"26899f72-bada-80dc-843d-eacaf51e89ad"},"created_time":"2025-10-05T10:55:00.000Z","last_edited_time":"2025-10-05T10:55:00.000Z","created_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"last_edited_by":{"object":"user","id":"5b8183bd-8984-4417-b2a6-7dc8e439e679"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2025-10-05 18:55:04.178654"},"request_id":"23d03a4a-b038-4ac6-89ae-0e2a11d41bf6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
