interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users
  response:
    body:
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"user\",\"id\":\"e3acda97-15e8-4883-a7c8-07141d9ef043\",\"name\":\"Tsing\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/3f4cafc4-9cc1-4580-812e-9b2b94f4fa2b/Snipaste_2022-08-16_14-24-09.png\",\"type\":\"person\",\"person\":{\"email\":\"lsy2019021614@hrbeu.edu.cn\"}},{\"object\":\"user\",\"id\":\"1af4dbb0-c733-4a5c-89ff-7bb19edb745e\",\"name\":\"Save
        to Notion - Twitter Bot\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/4c1a955a-e526-491c-af0c-65a978b23533/Save_to_Notion_Twitter_Logo.png\",\"type\":\"bot\",\"bot\":{}},{\"object\":\"user\",\"id\":\"eef62084-53e6-484a-99e8-57d15763952c\",\"name\":\"Telegram
        to Notion\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/ac4817ef-d166-44cb-acbc-429eeb83a879/Icon_with_space.png\",\"type\":\"bot\",\"bot\":{}},{\"object\":\"user\",\"id\":\"c8534feb-4993-4301-bfec-970c6fdb94e4\",\"name\":\"Notero\",\"avatar_url\":\"https://s3-us-west-2.amazonaws.com/public.notion-static.com/0cf81d04-a906-4342-9ab3-9ca1d233d41c/NZ.png\",\"type\":\[...]
