interactions:
- request:
    body: '{"mode":"single_part","filename":"cursor_test_0.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"29c99f72-bada-813b-adc3-00b2837681f9","created_time":"2025-10-30T12:38:00.000Z","created_by":{"id":"13b9509e-d081-40e9-ba54-a469aacab8c8","type":"bot"},"last_edited_time":"2025-10-30T12:38:00.000Z","expiry_time":"2025-10-30T13:38:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29c99f72-bada-813b-adc3-00b2837681f9/send","archived":false,"status":"pending","filename":"cursor_test_0.txt","content_type":"text/plain","content_length":null,"request_id":"487e206a-4198-40b2-8293-d05c908c8cad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"29c99f72-bada-813a-a2ab-00b2a164ba9e","created_time":"2025-10-30T12:38:00.000Z","created_by":{"id":"13b9509e-d081-40e9-ba54-a469aacab8c8","type":"bot"},"last_edited_time":"2025-10-30T12:38:00.000Z","expiry_time":"2025-10-30T13:38:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29c99f72-bada-813a-a2ab-00b2a164ba9e/send","archived":false,"status":"pending","filename":"cursor_test_1.txt","content_type":"text/plain","content_length":null},{"object":"file_[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads?start_cursor=29c99f72-bada-813a-a2ab-00b2a164ba9e
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"29c99f72-bada-813a-a2ab-00b2a164ba9e","created_time":"2025-10-30T12:38:00.000Z","created_by":{"id":"13b9509e-d081-40e9-ba54-a469aacab8c8","type":"bot"},"last_edited_time":"20[...]
