interactions:
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1eedcd80f3813be205934558c6"},"title":[{"type":"text","text":{"content":"Test
      DB"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"6aff91ae-c0ba-4906-82e2-27dc02cd6d98","title":[{"type":"text","text":{"content":"Test
        DB","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        DB","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:13:00.290+00:00","last_edited_time":"2026-07-04T09:13:00.290+00:00","data_sources":[{"id":"2397ff5c-122b-4a90-95d6-f1a956915d0d","name":"Test
        DB"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/6aff91aec0ba490682e227dc02cd6d98","public_url":null,"archived":false,"request_id":"5a274b86-00b6-42a8-a291-789e4e03ef6e"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"database_id","database_id":"6aff91ae-c0ba-4906-82e2-27dc02cd6d98"},"properties":{"Name":{"type":"title","title":{}}},"title":[{"type":"text","text":{"content":"Test
      Data Source"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: '{"object":"data_source","id":"393abc1e-edcd-8178-a193-000baf4739c9","cover":null,"icon":null,"created_time":"2026-07-04T09:13:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:13:00.000Z","title":[{"type":"text","text":{"content":"Test
        Data Source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Data Source","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"6aff91ae-c0ba-4906-82e2-27dc02cd6d98"},"database_parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"url":"https://app.notion.com/p/6aff91aec0ba490682e227dc02cd6d98","public_url":null,"in_trash":false,"archived":false,"request_id":"52a689b1-e621-40b9-9bce-b1473ca5cc9d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-8178-a193-000baf4739c9/templates
  response:
    body:
      string: '{"templates":[],"has_more":false,"next_cursor":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-8178-a193-000baf4739c9
  response:
    body:
      string: '{"object":"data_source","id":"393abc1e-edcd-8178-a193-000baf4739c9","cover":null,"icon":null,"created_time":"2026-07-04T09:13:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:13:00.000Z","title":[{"type":"text","text":{"content":"Test
        Data Source","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Data Source","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","description":null,"type":"title","title":{}}},"parent":{"type":"database_id","database_id":"6aff91ae-c0ba-4906-82e2-27dc02cd6d98"},"database_parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"url":"https://app.notion.com/p/6aff91aec0ba490682e227dc02cd6d98","public_url":null,"in_trash":true,"archived":true,"request_id":"2159a2a1-28cd-4456-b145-0e6257d5952c"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6aff91ae-c0ba-4906-82e2-27dc02cd6d98
  response:
    body:
      string: '{"object":"block","id":"6aff91ae-c0ba-4906-82e2-27dc02cd6d98","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:13:00.000Z","last_edited_time":"2026-07-04T09:13:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        DB"},"archived":true,"request_id":"c19cb756-279b-4ae0-a73c-220910ede5dc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
