interactions:
- request:
    body: '{"paragraph": {"rich_text": [{"text": {"content": "I''m an updated paragraph."},
      "annotations": {"bold": true, "color": "red_background"}}]}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/7fe698d3-6818-450f-b5c6-81289e494f80
  response:
    content: '{"object":"block","id":"7fe698d3-6818-450f-b5c6-81289e494f80","parent":{"type":"page_id","page_id":"84464ae1-bef7-4c71-992b-8eaaeefb13e3"},"created_time":"2022-11-13T13:08:00.000Z","last_edited_time":"2022-11-13T13:08:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      an updated paragraph.","link":null},"annotations":{"bold":true,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"red_background"},"plain_text":"I''m
      an updated paragraph.","href":null}],"color":"default"}}'
    headers: {}
    status_code: 200
version: 1
