interactions:
- request:
    body: '{"mode":"single_part","filename":"test_file_small.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"393abc1e-edcd-81c2-b028-00b21f81936b","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"2026-07-04T09:11:00.000Z","expiry_time":"2026-07-04T10:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/393abc1e-edcd-81c2-b028-00b21f81936b/send","in_trash":false,"status":"pending","filename":"test_file_small.txt","content_type":"text/plain","content_length":null,"archived":false,"request_id":"d75de0ec-1056-4be8-810d-5262aa7b7075"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "--3aa5007ceb87a8f9ec889f0087d667e8\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"test_file_small.txt\"\r\nContent-Type: text/plain\r\n\r\nThis is
      test file content\r\n--3aa5007ceb87a8f9ec889f0087d667e8--\r\n"
    headers:
      authorization:
      - ntn_...
      content-type:
      - multipart/form-data; boundary=3aa5007ceb87a8f9ec889f0087d667e8
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads/393abc1e-edcd-81c2-b028-00b21f81936b/send
  response:
    body:
      string: '{"object":"file_upload","id":"393abc1e-edcd-81c2-b028-00b21f81936b","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"2026-07-04T09:11:00.000Z","expiry_time":"2026-07-04T10:11:00.000Z","in_trash":false,"status":"uploaded","filename":"test_file_small.txt","content_type":"text/plain","content_length":25,"archived":false,"request_id":"a9baf5cd-a8ac-4875-8556-883589b1826f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads/393abc1e-edcd-81c2-b028-00b21f81936b
  response:
    body:
      string: '{"object":"file_upload","id":"393abc1e-edcd-81c2-b028-00b21f81936b","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"2026-07-04T09:11:00.000Z","expiry_time":"2026-07-04T10:11:00.000Z","in_trash":false,"status":"uploaded","filename":"test_file_small.txt","content_type":"text/plain","content_length":25,"archived":false,"request_id":"addcdc9e-ef66-4c94-be29-7f2124ecf1d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
