interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78","name":"notion-sdk-py","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"notion-sdk-py"},"request_id":"dd2d0023-75bb-4503-b71c-0850ddcc1579"}'
    headers: {}
    status_code: 200
version: 1
