interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-10-19 19:15:59.748552"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"29e48949-7160-4535-8cef-8b83abecacda","created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-10-19 19:15:59.748552","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-10-19 19:15:59.748552","href":null}]}},"url":"https://www.notion.so/Test-2023-10-19-19-15-59-748552-29e48949716045358cef8b83abecacda","public_url":null,"request_id":"d88474c6-eb79-4b25-9413-808c7da92442"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "29e48949-7160-4535-8cef-8b83abecacda"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-10-19 19:16:00.084428"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"0514effe-b7a8-4c0b-8abe-cef62305075e","cover":null,"icon":null,"created_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-10-19T17:16:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-10-19 19:16:00.084428","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-10-19 19:16:00.084428","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"29e48949-7160-4535-8cef-8b83abecacda"},"url":"https://www.notion.so/0514effeb7a84c0b8abecef62305075e","public_url":null,"archived":false,"request_id":"1cc64904-bded-4a07-9620-d900cb06ed7a"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/0514effe-b7a8-4c0b-8abe-cef62305075e
  response:
    content: '{"object":"database","id":"0514effe-b7a8-4c0b-8abe-cef62305075e","cover":null,"icon":null,"created_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-10-19T17:16:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-10-19 19:16:00.084428","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-10-19 19:16:00.084428","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"29e48949-7160-4535-8cef-8b83abecacda"},"url":"https://www.notion.so/0514effeb7a84c0b8abecef62305075e","public_url":null,"archived":false,"request_id":"0cf2adfd-37f4-439d-ae00-f9200955353e"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/0514effe-b7a8-4c0b-8abe-cef62305075e
  response:
    content: '{"object":"block","id":"0514effe-b7a8-4c0b-8abe-cef62305075e","parent":{"type":"page_id","page_id":"29e48949-7160-4535-8cef-8b83abecacda"},"created_time":"2023-10-19T17:16:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-10-19 19:16:00.084428"},"request_id":"7dce5835-768d-49d5-b93a-2672ff0b10b5"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/29e48949-7160-4535-8cef-8b83abecacda
  response:
    content: '{"object":"block","id":"29e48949-7160-4535-8cef-8b83abecacda","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:16:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-10-19 19:15:59.748552"},"request_id":"bb42a2ad-749f-404a-8474-2752c26009a7"}'
    headers: {}
    status_code: 200
version: 1
