interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/file_uploads?start_cursor=21c99f72-bada-816b-b0de-00b2a9747381
  response:
    body:
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"file_upload\",\"id\":\"21c99f72-bada-816b-b0de-00b2a9747381\",\"created_time\":\"2025-06-24T08:45:00.000Z\",\"created_by\":{\"id\":\"de22d752-9bb8-45d5-b8f1-6c2c47852b3b\",\"type\":\"bot\"},\"last_edited_time\":\"2025-06-24T10:05:00.000Z\",\"expiry_time\":null,\"archived\":false,\"status\":\"expired\",\"filename\":\"test_file.pdf\",\"content_type\":\"application/pdf\",\"content_length\":13264,\"file_import_result\":{\"type\":\"success\",\"success\":{},\"imported_time\":\"2025-06-24T08:45:38.000+00:00\"}},{\"object\":\"file_upload\",\"id\":\"21c99f72-bada-81cc-96af-00b26cd7392c\",\"created_time\":\"2025-06-24T08:45:00.000Z\",\"created_by\":{\"id\":\"de22d752-9bb8-45d5-b8f1-6c2c47852b3b\",\"type\":\"bot\"},\"last_edited_time\":\"2025-06-24T10:05:00.000Z\",\"expiry_time\":null,\"archived\":false,\"status\":\"expired\",\"filename\":\"large_file.pdf\",\"content_type\":\"application/pdf\",\"content_length\":null,\"number_of_parts\":{\"total\":3,\"sent\":0}},{\"object\":\"file_upload\",\"id\":\"21c99f72-bada-81a7-9168-00b2e444c672\",\"created_time\":\"2025-06-24T08:43:00.000Z\",\"created_by\":{\"id\":\"de22d752-9bb8-45d5-b8f1-6c2c47852b3b\",\"type\":\"bot\"},\"last_edited_time\":\"2025-06-24T10:05:00.000Z\",\"expiry_time\":null,\"archived\":false,\"status\":\"expired\",\"filename\":\"test_file.pdf\",\"content_type\":\"application/pdf\",\"content_length\":13264,\"file_import_result\":{\"type\":\"success\",\"success\":{},\"imported_time\":\"2025-0[...]
