interactions:
- request:
    body: '{"mode":"single_part","filename":"retrieve_test.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"21f99f72-bada-81da-842e-00b261025739","created_time":"2025-06-27T02:29:00.000Z","created_by":{"id":"de22d752-9bb8-45d5-b8f1-6c2c47852b3b","type":"bot"},"last_edited_time":"2025-06-27T02:29:00.000Z","expiry_time":"2025-06-27T03:29:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/21f99f72-bada-81da-842e-00b261025739/send","archived":false,"status":"pending","filename":"retrieve_test.txt","content_type":"text/plain","content_length":null,"request_id":"9659657a-84b7-4b7f-914d-59528519f7d5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads/21f99f72-bada-81da-842e-00b261025739
  response:
    body:
      string: '{"object":"file_upload","id":"21f99f72-bada-81da-842e-00b261025739","created_time":"2025-06-27T02:29:00.000Z","created_by":{"id":"de22d752-9bb8-45d5-b8f1-6c2c47852b3b","type":"bot"},"last_edited_time":"2025-06-27T02:29:00.000Z","expiry_time":"2025-06-27T03:29:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/21f99f72-bada-81da-842e-00b261025739/send","archived":false,"status":"pending","filename":"retrieve_test.txt","content_type":"text/plain","content_length":null,"request_id":"07ad5ec0-406b-48d8-9568-d21673f67b82"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
