interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"29a99f72-bada-818d-bd27-00b2c8ec7ea3","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:52:00.000Z","expiry_time":"2025-10-28T08:52:00.000Z","archived":false,"status":"uploaded","filename":"test_file_small.txt","content_type":"text/plain","content_length":25},{"object":"file_upload","id":"29a99f72-bada-812a-8523-00b2360858e4","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:52:00.000Z","expiry_time":"2025-10-28T08:52:00.000Z","archived":false,"status":"uploaded","filename":"test_file.pdf","content_type":"application/pdf","content_length":13264,"file_import_result":{"type":"success","success":{},"imported_time":"2025-10-28T07:52:43.000+00:00"}},{"object":"file_upload","id":"29a99f72-bada-8111-bbb5-00b2fb2eba17","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:52:00.000Z","expiry_time":"2025-10-28T08:52:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29a99f72-bada-8111-bbb5-00b2fb2eba17/send","archived":false,"status":"pending","filename":"large_file.pdf","content_type":"application/pdf","content_length":null,"number_of_parts":{"total":3,"sent":0}},{"object":"file_upload","id":"29a99f72-bada-81ea-b0b9-00b2ab11ca67","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"2025-10-28T07:52:00.000Z","expiry_time":"2025-10-28T08:52:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29a99f72-bada-81ea-b0b9-00b2ab11ca67/send","archived":false,"status":"pending","filename":"test_file.txt","content_type":"text/plain","content_length":null},{"object":"file_u[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads?start_cursor=29a99f72-bada-818d-bd27-00b2c8ec7ea3
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"29a99f72-bada-818d-bd27-00b2c8ec7ea3","created_time":"2025-10-28T07:52:00.000Z","created_by":{"id":"5b8183bd-8984-4417-b2a6-7dc8e439e679","type":"bot"},"last_edited_time":"20[...]
