interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:11:53.980573"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-81ff-aee7-e31f80bc9f37","created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:11:53.980573","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:11:53.980573","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-11-53-980573-16cabc1eedcd81ffaee7e31f80bc9f37","public_url":null,"request_id":"f8eb39de-a71a-43de-8971-f503c86aa727"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children":[{"paragraph":{"rich_text":[{"equation":{"expression":"E =
      mc^2"}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-81ff-aee7-e31f80bc9f37/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"16cabc1e-edcd-81af-bc82-fd162c524a09","parent":{"type":"page_id","page_id":"16cabc1e-edcd-81ff-aee7-e31f80bc9f37"},"created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"equation","equation":{"expression":"E
      = mc^2"},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"E
      = mc^2","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"2ea0bac9-1b0a-4e9e-a0b8-7717837c6563"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-81af-bc82-fd162c524a09
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-81af-bc82-fd162c524a09","parent":{"type":"page_id","page_id":"16cabc1e-edcd-81ff-aee7-e31f80bc9f37"},"created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"equation","equation":{"expression":"E
      = mc^2"},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"E
      = mc^2","href":null}],"color":"default"},"request_id":"cba586a2-aeab-408c-b948-fd51c65e41e3"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-81ff-aee7-e31f80bc9f37
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-81ff-aee7-e31f80bc9f37","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:11:00.000Z","last_edited_time":"2024-12-30T17:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:11:53.980573"},"request_id":"405d2495-34a9-479c-8473-fde0f405471a"}'
    headers: {}
    status_code: 200
version: 1
