interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-09-15 21:09:54.737893"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"26f9b4ab-dea2-4038-bca6-7ff71ebdff47","created_time":"2023-09-15T19:09:00.000Z","last_edited_time":"2023-09-15T19:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-09-15 21:09:54.737893","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-09-15 21:09:54.737893","href":null}]}},"url":"https://www.notion.so/Test-2023-09-15-21-09-54-737893-26f9b4abdea24038bca67ff71ebdff47","public_url":null}'
    headers: {}
    status_code: 200
- request:
    body: '{"query": "26f9b4ab-dea2-4038-bca6-7ff71ebdff47", "sort": {"direction":
      "descending", "timestamp": "last_edited_time"}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"c8843e4e-67a2-4aba-a4aa-d51afcbe0e25\",\"created_time\":\"2021-05-19T09:49:00.000Z\",\"last_edited_time\":\"2021-05-19T09:49:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"a4f789cc-7bc8-4cf0-82b9-a8ba7d985ecf\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"a4f789cc-7bc8-4cf0-82b9-a8ba7d985ecf\"},\"cover\":{\"type\":\"external\",\"external\":{\"url\":\"https://assets.bonappetit.com/photos/5ae0db56026131045b4160b6/16:9/w_1280%2Cc_limit/foodcast.gif\"}},\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"8b230247-e484-4e20-901a-ad92ae5e3b0a\"},\"archived\":false,\"properties\":{\"Score
      /5\":{\"id\":\")Y7%22\",\"type\":\"select\",\"select\":null},\"Type\":{\"id\":\"%2F7eo\",\"type\":\"select\",\"select\":{\"id\":\"82f3bace-be25-410d-87fe-561c9c22492f\",\"name\":\"Podcast\",\"color\":\"default\"}},\"Publisher\":{\"id\":\"%3E%24Pb\",\"type\":\"select\",\"select\":{\"id\":\"e70d713c-4be4-4b40-a44d-fb413c8b9d7e\",\"name\":\"Bon
      Appetit\",\"color\":\"yellow\"}},\"Summary\":{\"id\":\"%3F%5C25\",\"type\":\"rich_text\",\"rich_text\":[]},\"Publishing/Release
      Date\":{\"id\":\"%3Fex%2B\",\"type\":\"date\",\"date\":null},\"Link\":{\"id\":\"VVMi\",\"type\":\"url\",\"url\":null},\"Status\":{\"id\":\"%60zz5\",\"type\":\"select\",\"select\":{\"id\":\"8c4a056e-6709-4dd1-ba58-d34d9480855a\",\"name\":\"Ready
      to Start\",\"color\":\"yellow\"}},\"Author\":{\"id\":\"qNw_\",\"type\":\"multi_select\",\"multi_select\":[]},\"Name\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Bon
      App\xE9tit Foodcast\",\"link\":{\"url\":\"https://www.notion.so/7ac3c25e5ef44874aef1835aeb45c1ac\"}},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Bon
      App\xE9tit Foodcast\",\"href\":\"https://www.notion.so/7ac3c25e5ef44874aef1835aeb45c1ac\"}]}},\"url\":\"https://www.notion.so/Bon-App-tit-Foodcast-c8843e4e67a24abaa4aad51afcbe0e25\",\"public_url\":null}],\"next_cursor\":null,\"has_more\":false,\"type\":\"page_or_database\",\"page_or_database\":{}}"
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/26f9b4ab-dea2-4038-bca6-7ff71ebdff47
  response:
    content: '{"object":"block","id":"26f9b4ab-dea2-4038-bca6-7ff71ebdff47","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-09-15T19:09:00.000Z","last_edited_time":"2023-09-15T19:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-09-15 21:09:54.737893"}}'
    headers: {}
    status_code: 200
version: 1
