interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:09:01.539475"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81e0-b825-eeecfa51f499","created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:09:01.539475","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:09:01.539475","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-09-01-539475-393abc1eedcd81e0b825eeecfa51f499","public_url":null,"archived":false,"request_id":"8a961e3e-1c13-4dfa-86b3-cd8b6064d548"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-81e0-b825-eeecfa51f499"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:09:01.944475"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"c171bce2-a974-44c4-a5e2-69043df6d459","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:09:01.944475","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:09:01.944475","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-81e0-b825-eeecfa51f499"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:09:02.278+00:00","last_edited_time":"2026-07-04T09:09:02.278+00:00","data_sources":[{"id":"6ebc1ef2-33fa-4610-ae5f-8e4efa3a4561","name":"Test
        Database - 2026-07-04 11:09:01.944475"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/c171bce2a97444c4a5e269043df6d459","public_url":null,"archived":false,"request_id":"5c489069-13ac-48ed-8ca2-849b64234315"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F525\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/databases/c171bce2-a974-44c4-a5e2-69043df6d459
  response:
    body:
      string: "{\"object\":\"database\",\"id\":\"c171bce2-a974-44c4-a5e2-69043df6d459\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Database - 2026-07-04 11:09:01.944475\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Database - 2026-07-04 11:09:01.944475\",\"href\":null}],\"description\":[],\"parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-81e0-b825-eeecfa51f499\"},\"is_inline\":false,\"in_trash\":false,\"is_locked\":false,\"created_time\":\"2026-07-04T09:09:02.278+00:00\",\"last_edited_time\":\"2026-07-04T09:09:02.278+00:00\",\"data_sources\":[{\"id\":\"6ebc1ef2-33fa-4610-ae5f-8e4efa3a4561\",\"name\":\"Test
        Database - 2026-07-04 11:09:01.944475\"}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F525\"},\"cover\":null,\"url\":\"https://app.notion.com/p/c171bce2a97444c4a5e269043df6d459\",\"public_url\":null,\"archived\":false,\"request_id\":\"9744fa2c-b3ed-4fa9-bb83-b20cdc5fd1a9\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/c171bce2-a974-44c4-a5e2-69043df6d459
  response:
    body:
      string: '{"object":"block","id":"c171bce2-a974-44c4-a5e2-69043df6d459","parent":{"type":"page_id","page_id":"393abc1e-edcd-81e0-b825-eeecfa51f499"},"created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:09:01.944475"},"archived":true,"request_id":"f97ebb06-f7c9-44ad-a45e-8a2e62c6f2f3"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81e0-b825-eeecfa51f499
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81e0-b825-eeecfa51f499","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:09:00.000Z","last_edited_time":"2026-07-04T09:09:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:09:01.539475"},"archived":true,"request_id":"cb0eb733-2b9e-4123-8362-2d2089354aad"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
