interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:12:48.446858"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-815c-b496-f7dc3236c9a9","created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:12:48.446858","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:12:48.446858","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-12-48-446858-393abc1eedcd815cb496f7dc3236c9a9","public_url":null,"archived":false,"request_id":"9efecbf1-03ee-42c1-829a-118abdc57340"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-815c-b496-f7dc3236c9a9"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:12:48.853893"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"96c04323-3b34-403b-9f9b-4b24b281fb97","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:12:48.853893","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:12:48.853893","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-815c-b496-f7dc3236c9a9"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:12:49.125+00:00","last_edited_time":"2026-07-04T09:12:49.125+00:00","data_sources":[{"id":"ce588020-373d-493c-94f6-f02899ff9d2c","name":"Test
        Database - 2026-07-04 11:12:48.853893"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/96c043233b34403b9f9b4b24b281fb97","public_url":null,"archived":false,"request_id":"3bf514f2-cd4c-4522-a765-ccb0544dc5a5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"96c04323-3b34-403b-9f9b-4b24b281fb97\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:12:50.041155\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-8117-ada1-000ba9eaa118\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:12:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:12:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:12:50.041155\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:12:50.041155\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"96c04323-3b34-403b-9f9b-4b24b281fb97\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-815c-b496-f7dc3236c9a9\"},\"url\":\"https://app.notion.com/p/96c043233b34403b9f9b4b24b281fb97\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"cb6bf556-22fe-4f65-a05e-bef01dcbefb4\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-8117-ada1-000ba9eaa118/templates
  response:
    body:
      string: '{"templates":[],"has_more":false,"next_cursor":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-8117-ada1-000ba9eaa118
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-8117-ada1-000ba9eaa118\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/96c04323-3b34-403b-9f9b-4b24b281fb97
  response:
    body:
      string: '{"object":"block","id":"96c04323-3b34-403b-9f9b-4b24b281fb97","parent":{"type":"page_id","page_id":"393abc1e-edcd-815c-b496-f7dc3236c9a9"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:12:48.853893"},"archived":true,"request_id":"9a315628-2e0a-49d0-8e12-27bf6661214b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-815c-b496-f7dc3236c9a9
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-815c-b496-f7dc3236c9a9","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:12:00.000Z","last_edited_time":"2026-07-04T09:12:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:12:48.446858"},"archived":true,"request_id":"53ef275f-b0f3-422b-a155-7c8e6eda9357"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
