interactions:
- request:
    body: '{"parent": {"page_id": "f691a0f9-da72-43bd-94ef-365793610746"}, "properties":
      {"title": [{"text": {"content": "Test 2022-11-16 16:44:53.964155"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"6bd92dab-aca9-41b1-95c7-5b58cd1be7fe","created_time":"2022-11-16T15:45:00.000Z","last_edited_time":"2022-11-16T15:45:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2022-11-16 16:44:53.964155","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2022-11-16 16:44:53.964155","href":null}]}},"url":"https://www.notion.so/Test-2022-11-16-16-44-53-964155-6bd92dabaca941b195c75b58cd1be7fe"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "6bd92dab-aca9-41b1-95c7-5b58cd1be7fe"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2022-11-16 16:44:54.416587"}}],
      "properties": {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"48bbf681-2ad7-4ec1-ad07-c2b0dd8703e6","cover":null,"icon":null,"created_time":"2022-11-16T15:45:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_time":"2022-11-16T15:45:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2022-11-16 16:44:54.416587","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2022-11-16 16:44:54.416587","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"6bd92dab-aca9-41b1-95c7-5b58cd1be7fe"},"url":"https://www.notion.so/48bbf6812ad74ec1ad07c2b0dd8703e6","archived":false}'
    headers: {}
    status_code: 200
- request:
    body: '{"filter": {"timestamp": "created_time", "created_time": {"past_week":
      {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases/48bbf681-2ad7-4ec1-ad07-c2b0dd8703e6/query
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page","page":{}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/48bbf681-2ad7-4ec1-ad07-c2b0dd8703e6
  response:
    content: '{"object":"block","id":"48bbf681-2ad7-4ec1-ad07-c2b0dd8703e6","parent":{"type":"page_id","page_id":"6bd92dab-aca9-41b1-95c7-5b58cd1be7fe"},"created_time":"2022-11-16T15:45:00.000Z","last_edited_time":"2022-11-16T15:45:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2022-11-16 16:44:54.416587"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6bd92dab-aca9-41b1-95c7-5b58cd1be7fe
  response:
    content: '{"object":"block","id":"6bd92dab-aca9-41b1-95c7-5b58cd1be7fe","parent":{"type":"page_id","page_id":"f691a0f9-da72-43bd-94ef-365793610746"},"created_time":"2022-11-16T15:45:00.000Z","last_edited_time":"2022-11-16T15:45:00.000Z","created_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"last_edited_by":{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2022-11-16 16:44:53.964155"}}'
    headers: {}
    status_code: 200
version: 1
