interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:10:45.161731"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-81c0-958e-f5af7090d870","created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:10:45.161731","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:10:45.161731","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-10-45-161731-393abc1eedcd81c0958ef5af7090d870","public_url":null,"archived":false,"request_id":"3a4075f2-52df-496f-a6a1-0182b069ac4a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-81c0-958e-f5af7090d870"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:10:45.545424"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"5ca173c1-f3df-42cf-9a49-bbc8db4efb47","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:10:45.545424","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:10:45.545424","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-81c0-958e-f5af7090d870"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:10:45.865+00:00","last_edited_time":"2026-07-04T09:10:45.865+00:00","data_sources":[{"id":"ad275865-1e3e-4ce5-9c0b-8aef1e149c88","name":"Test
        Database - 2026-07-04 11:10:45.545424"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/5ca173c1f3df42cf9a49bbc8db4efb47","public_url":null,"archived":false,"request_id":"29876504-9798-4e6d-bbd0-d63ea51fb7ec"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"5ca173c1-f3df-42cf-9a49-bbc8db4efb47\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:10:46.597872\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81d9-8063-000b1efc888f\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:10:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:10:46.597872\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:10:46.597872\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"5ca173c1-f3df-42cf-9a49-bbc8db4efb47\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-81c0-958e-f5af7090d870\"},\"url\":\"https://app.notion.com/p/5ca173c1f3df42cf9a49bbc8db4efb47\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"c20f2586-c1b4-48da-8788-cf0540e2a807\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"data_source_id":"393abc1e-edcd-81d9-8063-000b1efc888f","name":"View to
      Delete","type":"table","database_id":"5ca173c1-f3df-42cf-9a49-bbc8db4efb47"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-8117-a2b6-000ca6dee76f","parent":{"type":"database_id","database_id":"5ca173c1-f3df-42cf-9a49-bbc8db4efb47"},"data_source_id":"393abc1e-edcd-81d9-8063-000b1efc888f","name":"View
        to Delete","type":"table","created_time":"2026-07-04T09:10:47.366+00:00","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:10:47.366+00:00","last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"url":"https://app.notion.com/p/5ca173c1f3df42cf9a49bbc8db4efb47?v=393abc1eedcd8117a2b6000ca6dee76f","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"f03c7e50-a1af-48f2-bdb4-a2c3e5ac5c89"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/views/393abc1e-edcd-8117-a2b6-000ca6dee76f
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-8117-a2b6-000ca6dee76f","parent":{"type":"database_id","database_id":"5ca173c1-f3df-42cf-9a49-bbc8db4efb47"},"type":"table","request_id":"91b152cb-f5a9-44a8-ae87-77e023b1b45f"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-81d9-8063-000b1efc888f
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81d9-8063-000b1efc888f\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/5ca173c1-f3df-42cf-9a49-bbc8db4efb47
  response:
    body:
      string: '{"object":"block","id":"5ca173c1-f3df-42cf-9a49-bbc8db4efb47","parent":{"type":"page_id","page_id":"393abc1e-edcd-81c0-958e-f5af7090d870"},"created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:10:45.545424"},"archived":true,"request_id":"ad35e262-513c-4b61-a1f3-064b70e86d22"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-81c0-958e-f5af7090d870
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-81c0-958e-f5af7090d870","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:10:45.161731"},"archived":true,"request_id":"62ea6560-0efe-4e2a-8413-ee11adff3dd0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
