interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:11:12.064715"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-819b-9a3a-dfcdaed39c9a","created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:11:12.064715","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:11:12.064715","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-11-12-064715-393abc1eedcd819b9a3adfcdaed39c9a","public_url":null,"archived":false,"request_id":"91931009-e51e-405c-aea3-cbb66357bfb5"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-819b-9a3a-dfcdaed39c9a"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:11:12.465219"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"81d94fb0-3fbd-4b01-b138-a895f906569f","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:11:12.465219","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:11:12.465219","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-819b-9a3a-dfcdaed39c9a"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:11:12.837+00:00","last_edited_time":"2026-07-04T09:11:12.837+00:00","data_sources":[{"id":"68ae4177-ad93-4696-858c-58bcfd3bc06d","name":"Test
        Database - 2026-07-04 11:11:12.465219"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/81d94fb03fbd4b01b138a895f906569f","public_url":null,"archived":false,"request_id":"0711dc99-e23f-4cf9-b774-fd1157622076"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"81d94fb0-3fbd-4b01-b138-a895f906569f\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:11:14.101959\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81f2-8e7a-000bd2f28317\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:11:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:11:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:11:14.101959\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:11:14.101959\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"81d94fb0-3fbd-4b01-b138-a895f906569f\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-819b-9a3a-dfcdaed39c9a\"},\"url\":\"https://app.notion.com/p/81d94fb03fbd4b01b138a895f906569f\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"697f3488-ab14-48c5-bc00-a67ce18b91db\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"data_source_id":"393abc1e-edcd-81f2-8e7a-000bd2f28317","name":"Test View","type":"table","database_id":"81d94fb0-3fbd-4b01-b138-a895f906569f"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-81d3-a632-000c157340c2","parent":{"type":"database_id","database_id":"81d94fb0-3fbd-4b01-b138-a895f906569f"},"data_source_id":"393abc1e-edcd-81f2-8e7a-000bd2f28317","name":"Test
        View","type":"table","created_time":"2026-07-04T09:11:14.912+00:00","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:11:14.912+00:00","last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"url":"https://app.notion.com/p/81d94fb03fbd4b01b138a895f906569f?v=393abc1eedcd81d3a632000c157340c2","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"294e1c1a-0948-40b8-a672-5e2b91383496"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views/393abc1e-edcd-81d3-a632-000c157340c2/queries
  response:
    body:
      string: '{"object":"view_query","id":"c756ca4e-4ed0-4244-a8ab-9f588c138ef1","view_id":"393abc1e-edcd-81d3-a632-000c157340c2","expires_at":"2026-07-04T09:26:16.012+00:00","total_count":0,"results":[],"next_cursor":null,"has_more":false,"request_id":"5b341a2b-55e2-4a9a-88c7-21f1efe80b02"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/views/393abc1e-edcd-81d3-a632-000c157340c2/queries/c756ca4e-4ed0-4244-a8ab-9f588c138ef1
  response:
    body:
      string: '{"object":"view_query","id":"c756ca4e-4ed0-4244-a8ab-9f588c138ef1","deleted":true,"request_id":"81a4b120-e33f-4264-afd3-f084de54644a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/views/393abc1e-edcd-81d3-a632-000c157340c2
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-81d3-a632-000c157340c2","parent":{"type":"database_id","database_id":"81d94fb0-3fbd-4b01-b138-a895f906569f"},"type":"table","request_id":"97ade8a2-c7e0-4c92-bc8f-6568b923f974"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-81f2-8e7a-000bd2f28317
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-81f2-8e7a-000bd2f28317\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/81d94fb0-3fbd-4b01-b138-a895f906569f
  response:
    body:
      string: '{"object":"block","id":"81d94fb0-3fbd-4b01-b138-a895f906569f","parent":{"type":"page_id","page_id":"393abc1e-edcd-819b-9a3a-dfcdaed39c9a"},"created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:11:12.465219"},"archived":true,"request_id":"1ed38245-131f-401e-bdfb-3b9b3a841c57"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-819b-9a3a-dfcdaed39c9a
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-819b-9a3a-dfcdaed39c9a","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:11:00.000Z","last_edited_time":"2026-07-04T09:11:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:11:12.064715"},"archived":true,"request_id":"236112b9-8e6c-4aff-98f2-6011e47e9d28"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
