interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-10-19 19:15:56.601100"}}]}, "children":
      []}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"62daa3d0-2ce1-49e3-b95e-9f6740193e55","created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-10-19 19:15:56.601100","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-10-19 19:15:56.601100","href":null}]}},"url":"https://www.notion.so/Test-2023-10-19-19-15-56-601100-62daa3d02ce149e3b95e9f6740193e55","public_url":null,"request_id":"222d070d-4274-4410-bdc8-9f7bff263b6c"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "62daa3d0-2ce1-49e3-b95e-9f6740193e55"},
      "title": [{"type": "text", "text": {"content": "Test Database"}}], "properties":
      {"Name": {"title": {}}}}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"4dc5d220-4811-4165-bc47-e0b3b18d5596","cover":null,"icon":null,"created_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-10-19T17:15:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"62daa3d0-2ce1-49e3-b95e-9f6740193e55"},"url":"https://www.notion.so/4dc5d22048114165bc47e0b3b18d5596","public_url":null,"archived":false,"request_id":"a2b8c084-f91f-4ea3-aa61-58c2d23a9198"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/62daa3d0-2ce1-49e3-b95e-9f6740193e55
  response:
    content: '{"object":"block","id":"62daa3d0-2ce1-49e3-b95e-9f6740193e55","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-10-19T17:15:00.000Z","last_edited_time":"2023-10-19T17:15:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":true,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-10-19 19:15:56.601100"},"request_id":"a523639b-5b50-4d21-a5ef-3354f18f5873"}'
    headers: {}
    status_code: 200
version: 1
