interactions:
- request:
    body: '{"parent":{"page_id":"393abc1eedcd80f3813be205934558c6"},"properties":{"title":[{"text":{"content":"Test
      2026-07-04 11:10:24.835057"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"393abc1e-edcd-8173-ab34-ca887e3916ac","created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-07-04 11:10:24.835057","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-07-04 11:10:24.835057","href":null}]}},"url":"https://app.notion.com/p/Test-2026-07-04-11-10-24-835057-393abc1eedcd8173ab34ca887e3916ac","public_url":null,"archived":false,"request_id":"7774b08c-c342-420f-8a9a-1ad6ac51c654"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"393abc1e-edcd-8173-ab34-ca887e3916ac"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-07-04 11:10:25.241952"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"83b89775-3732-4f70-9fdd-8ed625002ab6","title":[{"type":"text","text":{"content":"Test
        Database - 2026-07-04 11:10:25.241952","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-07-04 11:10:25.241952","href":null}],"description":[],"parent":{"type":"page_id","page_id":"393abc1e-edcd-8173-ab34-ca887e3916ac"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-07-04T09:10:25.578+00:00","last_edited_time":"2026-07-04T09:10:25.578+00:00","data_sources":[{"id":"92003531-4d8d-4cc6-ba23-9ae4aaa62520","name":"Test
        Database - 2026-07-04 11:10:25.241952"}],"icon":null,"cover":null,"url":"https://app.notion.com/p/83b8977537324f709fdd8ed625002ab6","public_url":null,"archived":false,"request_id":"8c8e0021-7005-4ce9-9a2e-4204480d0111"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "{\"parent\":{\"type\":\"database_id\",\"database_id\":\"83b89775-3732-4f70-9fdd-8ed625002ab6\"},\"properties\":{\"Name\":{\"type\":\"title\",\"title\":{}}},\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Data Source - 2026-07-04 11:10:26.448107\"}}],\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"}}"
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/data_sources
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-816b-be30-000b57b83847\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:10:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_time\":\"2026-07-04T09:10:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
        Data Source - 2026-07-04 11:10:26.448107\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
        Data Source - 2026-07-04 11:10:26.448107\",\"href\":null}],\"description\":[],\"is_inline\":false,\"properties\":{\"Name\":{\"id\":\"title\",\"name\":\"Name\",\"description\":null,\"type\":\"title\",\"title\":{}}},\"parent\":{\"type\":\"database_id\",\"database_id\":\"83b89775-3732-4f70-9fdd-8ed625002ab6\"},\"database_parent\":{\"type\":\"page_id\",\"page_id\":\"393abc1e-edcd-8173-ab34-ca887e3916ac\"},\"url\":\"https://app.notion.com/p/83b8977537324f709fdd8ed625002ab6\",\"public_url\":null,\"in_trash\":false,\"archived\":false,\"request_id\":\"da21bbe0-1dc9-4a6c-bae9-8e172e0cff34\"}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"data_source_id":"393abc1e-edcd-816b-be30-000b57b83847","name":"Test View","type":"table","database_id":"83b89775-3732-4f70-9fdd-8ed625002ab6"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/views
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-811e-b7ad-000c95b2122f","parent":{"type":"database_id","database_id":"83b89775-3732-4f70-9fdd-8ed625002ab6"},"data_source_id":"393abc1e-edcd-816b-be30-000b57b83847","name":"Test
        View","type":"table","created_time":"2026-07-04T09:10:27.187+00:00","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:10:27.187+00:00","last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"url":"https://app.notion.com/p/83b8977537324f709fdd8ed625002ab6?v=393abc1eedcd811eb7ad000c95b2122f","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"445da61c-c960-43c0-9725-1bc41216dd8d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/views/393abc1e-edcd-811e-b7ad-000c95b2122f
  response:
    body:
      string: '{"object":"view","id":"393abc1e-edcd-811e-b7ad-000c95b2122f","parent":{"type":"database_id","database_id":"83b89775-3732-4f70-9fdd-8ed625002ab6"},"data_source_id":"393abc1e-edcd-816b-be30-000b57b83847","name":"Test
        View","type":"table","created_time":"2026-07-04T09:10:27.187+00:00","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2026-07-04T09:10:27.187+00:00","last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"url":"https://app.notion.com/p/83b8977537324f709fdd8ed625002ab6?v=393abc1eedcd811eb7ad000c95b2122f","filter":null,"sorts":null,"quick_filters":null,"configuration":{"type":"table"},"request_id":"a2cbef5b-e375-4540-a0db-fc264d44c122"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"archived":true}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: PATCH
    uri: https://api.notion.com/v1/data_sources/393abc1e-edcd-816b-be30-000b57b83847
  response:
    body:
      string: "{\"object\":\"data_source\",\"id\":\"393abc1e-edcd-816b-be30-000b57b83847\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\u2699\uFE0F\"},\"created_time\":\"2026-07-04T09:[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/83b89775-3732-4f70-9fdd-8ed625002ab6
  response:
    body:
      string: '{"object":"block","id":"83b89775-3732-4f70-9fdd-8ed625002ab6","parent":{"type":"page_id","page_id":"393abc1e-edcd-8173-ab34-ca887e3916ac"},"created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-07-04 11:10:25.241952"},"archived":true,"request_id":"672449a1-df51-470a-a5bb-55c59cd01188"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/393abc1e-edcd-8173-ab34-ca887e3916ac
  response:
    body:
      string: '{"object":"block","id":"393abc1e-edcd-8173-ab34-ca887e3916ac","parent":{"type":"page_id","page_id":"393abc1e-edcd-80f3-813b-e205934558c6"},"created_time":"2026-07-04T09:10:00.000Z","last_edited_time":"2026-07-04T09:10:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-07-04 11:10:24.835057"},"archived":true,"request_id":"227c87b0-4cb7-4d17-8f63-1c657dfe25a6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
