interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:21:45.397148"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8109-b3ab-e943a964defd","created_time":"2024-12-30T17:21:00.000Z","last_edited_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:21:45.397148","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:21:45.397148","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-21-45-397148-16cabc1eedcd8109b3abe943a964defd","public_url":null,"request_id":"68adbea4-d217-48af-a57d-498284ea1bee"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"page_id":"16cabc1e-edcd-8109-b3ab-e943a964defd"},"rich_text":[{"text":{"content":"This
      is a test comment."}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"16cabc1e-edcd-8112-9e53-001df5bcc68a","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8109-b3ab-e943a964defd"},"discussion_id":"16cabc1e-edcd-81a2-b080-001ca9f17ab9","created_time":"2024-12-30T17:21:00.000Z","last_edited_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}],"request_id":"0ac9e00e-9937-4625-8432-c08a86147590"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=16cabc1e-edcd-8109-b3ab-e943a964defd
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"16cabc1e-edcd-8112-9e53-001df5bcc68a","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8109-b3ab-e943a964defd"},"discussion_id":"16cabc1e-edcd-81a2-b080-001ca9f17ab9","created_time":"2024-12-30T17:21:00.000Z","last_edited_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"5997a632-5012-4e96-b1e0-48997172379b"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8109-b3ab-e943a964defd
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8109-b3ab-e943a964defd","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:21:00.000Z","last_edited_time":"2024-12-30T17:21:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:21:45.397148"},"request_id":"83095cb6-8e35-4dc5-bde5-bb8b6df65594"}'
    headers: {}
    status_code: 200
version: 1
