interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/me
  response:
    content: '{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6","name":"Testing","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"Notion
      Testing Account''s Notion"}}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/users/823cf07b-34df-4ae6-9fbc-dbc600a815c6
  response:
    content: '{"object":"user","id":"823cf07b-34df-4ae6-9fbc-dbc600a815c6","name":"Testing","avatar_url":null,"type":"bot","bot":{"owner":{"type":"workspace","workspace":true},"workspace_name":"Notion
      Testing Account''s Notion"}}'
    headers: {}
    status_code: 200
version: 1
