interactions:
- request:
    body: '{"mode":"single_part","filename":"cursor_test_0.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"29c99f72-bada-8120-9729-00b2bfd68811","created_time":"2025-10-30T12:38:00.000Z","created_by":{"id":"13b9509e-d081-40e9-ba54-a469aacab8c8","type":"bot"},"last_edited_time":"2025-10-30T12:38:00.000Z","expiry_time":"2025-10-30T13:38:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29c99f72-bada-8120-9729-00b2bfd68811/send","archived":false,"status":"pending","filename":"cursor_test_0.txt","content_type":"text/plain","content_length":null,"request_id":"579d24de-a4c0-4831-9866-c9b94298857d"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads?page_size=5
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"29c99f72-bada-8111-959f-00b2e2eb917d","created_time":"2025-10-30T12:38:00.000Z","created_by":{"id":"13b9509e-d081-40e9-ba54-a469aacab8c8","type":"bot"},"last_edited_time":"2025-10-30T12:38:00.000Z","expiry_time":"2025-10-30T13:38:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/29c99f72-bada-8111-959f-00b2e2eb917d/send","archived":false,"status":"pending","filename":"cursor_test_1.txt","content_type":"text/plain","content_length":null},{"object":"file_[...]
