interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:08:47.200577"}}]},"children":[]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8117-90ed-e715d6b93349","created_time":"2024-12-30T17:08:00.000Z","last_edited_time":"2024-12-30T17:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:08:47.200577","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:08:47.200577","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-08-47-200577-16cabc1eedcd811790ede715d6b93349","public_url":null,"request_id":"17544eea-db93-4838-a2e1-5c3358fee303"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children":[{"paragraph":{"rich_text":[{"text":{"content":"I''m a paragraph."}}]}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8117-90ed-e715d6b93349/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"16cabc1e-edcd-8122-8c66-c2e9040311f6","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8117-90ed-e715d6b93349"},"created_time":"2024-12-30T17:08:00.000Z","last_edited_time":"2024-12-30T17:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"I''m
      a paragraph.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"I''m
      a paragraph.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f0e50d6e-b5b9-4d17-9199-c7d278442ddd"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8117-90ed-e715d6b93349
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8117-90ed-e715d6b93349","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:08:00.000Z","last_edited_time":"2024-12-30T17:08:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":true,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:08:47.200577"},"request_id":"3b44296e-1e20-418d-a3da-c0b5cc862ac3"}'
    headers: {}
    status_code: 200
version: 1
