interactions:
- request:
    body: '{"mode":"single_part","filename":"cursor_test_0.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"393abc1e-edcd-8188-b2db-00b217ace9eb","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"2026-07-04T09:11:00.000Z","expiry_time":"2026-07-04T10:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/393abc1e-edcd-8188-b2db-00b217ace9eb/send","in_trash":false,"status":"pending","filename":"cursor_test_0.txt","content_type":"text/plain","content_length":null,"archived":false,"request_id":"1bb27073-5bd8-4cb1-a124-cbf48dd3ef54"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"393abc1e-edcd-81b2-bc65-00b2e1c259e6","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"2026-07-04T09:11:00.000Z","expiry_time":"2026-07-04T10:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/393abc1e-edcd-81b2-bc65-00b2e1c259e6/send","in_trash":false,"status":"pending","filename":"cursor_test_1.txt","content_type":"text/plain","content_length":null,"archived":false}[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/file_uploads?start_cursor=393abc1e-edcd-81b2-bc65-00b2e1c259e6
  response:
    body:
      string: '{"object":"list","results":[{"object":"file_upload","id":"393abc1e-edcd-81b2-bc65-00b2e1c259e6","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"20[...]
