interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:24:03.374679"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-8192-a856-eb5cd59e9f21","created_time":"2024-12-30T17:24:00.000Z","last_edited_time":"2024-12-30T17:24:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:24:03.374679","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:24:03.374679","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-24-03-374679-16cabc1eedcd8192a856eb5cd59e9f21","public_url":null,"request_id":"d479d4df-33b7-4bb2-ac92-77d52fd71004"}'
    headers: {}
    status_code: 200
- request:
    body: '{"children":[{"paragraph":{"rich_text":[{"equation":{"expression":"E =
      mc^2"}}]}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: PATCH
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8192-a856-eb5cd59e9f21/children
  response:
    content: '{"object":"list","results":[{"object":"block","id":"16cabc1e-edcd-8116-adb6-d3d167fb3399","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8192-a856-eb5cd59e9f21"},"created_time":"2024-12-30T17:24:00.000Z","last_edited_time":"2024-12-30T17:24:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"equation","equation":{"expression":"E
      = mc^2"},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"E
      = mc^2","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"f36d4d70-bd33-4afc-b3f8-0878adba86b0"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8116-adb6-d3d167fb3399
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8116-adb6-d3d167fb3399","parent":{"type":"page_id","page_id":"16cabc1e-edcd-8192-a856-eb5cd59e9f21"},"created_time":"2024-12-30T17:24:00.000Z","last_edited_time":"2024-12-30T17:24:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":false,"in_trash":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"equation","equation":{"expression":"E
      = mc^2"},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"E
      = mc^2","href":null}],"color":"default"},"request_id":"1be570d0-2ae7-4234-8052-24215d0bfcc2"}'
    headers: {}
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8192-a856-eb5cd59e9f21
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8192-a856-eb5cd59e9f21","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:24:00.000Z","last_edited_time":"2024-12-30T17:24:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:24:03.374679"},"request_id":"b4a1df01-b919-44bc-9b16-790aaf1e99a3"}'
    headers: {}
    status_code: 200
version: 1
