interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-12-25 22:50:59.487713"}}]}, "children":
      [], "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"2206aeb9-e6a3-408d-a10a-228a54be3896","created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:50:59.487713","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:50:59.487713","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-50-59-487713-2206aeb9e6a3408da10a228a54be3896","public_url":null,"request_id":"454b2ed4-946b-492b-9207-c03ff5d41afa"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"page_id": "2206aeb9-e6a3-408d-a10a-228a54be3896"}, "rich_text":
      [{"text": {"content": "This is a test comment."}}]}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/comments
  response:
    content: '{"object":"comment","id":"eb92321e-b915-41bc-83c7-4866e8797b00","parent":{"type":"page_id","page_id":"2206aeb9-e6a3-408d-a10a-228a54be3896"},"discussion_id":"3fa8b0d1-9288-4721-bea3-49720e68013f","created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}],"request_id":"f2c5fe60-73d0-47cd-b147-9586d423047d"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/comments?block_id=2206aeb9-e6a3-408d-a10a-228a54be3896
  response:
    content: '{"object":"list","results":[{"object":"comment","id":"eb92321e-b915-41bc-83c7-4866e8797b00","parent":{"type":"page_id","page_id":"2206aeb9-e6a3-408d-a10a-228a54be3896"},"discussion_id":"3fa8b0d1-9288-4721-bea3-49720e68013f","created_time":"2023-12-25T21:51:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"rich_text":[{"type":"text","text":{"content":"This
      is a test comment.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"This
      is a test comment.","href":null}]}],"next_cursor":null,"has_more":false,"type":"comment","comment":{},"request_id":"ee631ec0-e49a-4f91-8ed6-85ba92338818"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/2206aeb9-e6a3-408d-a10a-228a54be3896
  response:
    content: '{"object":"block","id":"2206aeb9-e6a3-408d-a10a-228a54be3896","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:51:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-12-25 22:50:59.487713"},"request_id":"0da00cf2-8d9b-42c4-8bea-87d3b77d1f34"}'
    headers: {}
    status_code: 200
version: 1
