interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2026-04-02 18:30:49.940165"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    body:
      string: '{"object":"page","id":"336abc1e-edcd-810c-aae1-dc049b316d4b","created_time":"2026-04-02T16:30:00.000Z","last_edited_time":"2026-04-02T16:30:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"in_trash":false,"is_archived":false,"is_locked":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
        2026-04-02 18:30:49.940165","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        2026-04-02 18:30:49.940165","href":null}]}},"url":"https://www.notion.so/Test-2026-04-02-18-30-49-940165-336abc1eedcd810caae1dc049b316d4b","public_url":null,"archived":false,"request_id":"76e9851d-9adb-408e-9bcf-e562e9399765"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"parent":{"type":"page_id","page_id":"336abc1e-edcd-810c-aae1-dc049b316d4b"},"title":[{"type":"text","text":{"content":"Test
      Database - 2026-04-02 18:30:50.474695"}}]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    body:
      string: '{"object":"database","id":"6d26e40d-4467-430f-86dd-550d2c49658e","title":[{"type":"text","text":{"content":"Test
        Database - 2026-04-02 18:30:50.474695","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
        Database - 2026-04-02 18:30:50.474695","href":null}],"description":[],"parent":{"type":"page_id","page_id":"336abc1e-edcd-810c-aae1-dc049b316d4b"},"is_inline":false,"in_trash":false,"is_locked":false,"created_time":"2026-04-02T16:30:50.677+00:00","last_edited_time":"2026-04-02T16:30:50.677+00:00","data_sources":[{"id":"256c7f10-7f5f-422b-b52f-9b37cc69a115","name":"Test
        Database - 2026-04-02 18:30:50.474695"}],"icon":null,"cover":null,"url":"https://www.notion.so/6d26e40d4467430f86dd550d2c49658e","public_url":null,"archived":false,"request_id":"549e1d56-5454-4cf3-963a-3780c91d44d6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/views?database_id=6d26e40d-4467-430f-86dd-550d2c49658e
  response:
    body:
      string: '{"object":"list","results":[{"object":"view","id":"010f9f2e-59dc-4f82-982c-ab4d1d69f53c"}],"next_cursor":null,"has_more":false,"type":"view","view":{},"request_id":"0899a2b3-c866-47b2-b52e-8484a9e8d816"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/6d26e40d-4467-430f-86dd-550d2c49658e
  response:
    body:
      string: '{"object":"block","id":"6d26e40d-4467-430f-86dd-550d2c49658e","parent":{"type":"page_id","page_id":"336abc1e-edcd-810c-aae1-dc049b316d4b"},"created_time":"2026-04-02T16:30:00.000Z","last_edited_time":"2026-04-02T16:30:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_database","child_database":{"title":"Test
        Database - 2026-04-02 18:30:50.474695"},"archived":true,"request_id":"d391b961-a866-468f-b259-1ba57df370cc"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/336abc1e-edcd-810c-aae1-dc049b316d4b
  response:
    body:
      string: '{"object":"block","id":"336abc1e-edcd-810c-aae1-dc049b316d4b","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2026-04-02T16:30:00.000Z","last_edited_time":"2026-04-02T16:30:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"in_trash":true,"type":"child_page","child_page":{"title":"Test
        2026-04-02 18:30:49.940165"},"archived":true,"request_id":"edb0b28c-950a-491a-9dc9-360aff4bff82"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
