interactions:
- request:
    body: '{}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"95ba0116-6776-4c19-9e45-54e77415f03b\",\"created_time\":\"2023-06-29T12:47:00.000Z\",\"last_edited_time\":\"2023-06-29T13:07:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"a4f789cc-7bc8-4cf0-82b9-a8ba7d985ecf\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"workspace\",\"workspace\":true},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[]}},\"url\":\"https://www.notion.so/95ba011667764c199e4554e77415f03b\",\"public_url\":null},{\"object\":\"page\",\"id\":\"19951111-4864-41ee-bc8b-b37270c093fc\",\"created_time\":\"2023-06-29T13:04:00.000Z\",\"last_edited_time\":\"2023-06-29T13:04:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"page_id\",\"page_id\":\"95ba0116-6776-4c19-9e45-54e77415f03b\"},\"archived\":false,\"properties\":{\"title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Test
      Page\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Test
      Page\",\"href\":null}]}},\"url\":\"https://www.notion.so/Test-Page-19951111486441eebc8bb37270c093fc\",\"public_url\":null},{\"object\":\"page\",\"id\":\"3e2b8fcf-add4-4134-a8c3-44639fd521d6\",\"created_time\":\"2023-06-29T13:04:00.000Z\",\"last_edited_time\":\"2023-06-29T13:04:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"7775f3a3-893f-43fa-b625-460c61094c78\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"pa[...]
- request:
    body: '{"query": "This should have no results"}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/search
  response:
    content: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{}}'
    headers: {}
    status_code: 200
version: 1
