interactions:
- request:
    body: '{"parent":{"page_id":"95ba011667764c199e4554e77415f03b"},"properties":{"title":[{"text":{"content":"Test
      2024-12-30 18:23:43.701008"}}]},"children":[]}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"16cabc1e-edcd-810e-9417-cef234a6173a","created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2024-12-30 18:23:43.701008","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2024-12-30 18:23:43.701008","href":null}]}},"url":"https://www.notion.so/Test-2024-12-30-18-23-43-701008-16cabc1eedcd810e9417cef234a6173a","public_url":null,"request_id":"f21904f9-fce3-4950-b65a-b729be72de99"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent":{"type":"page_id","page_id":"16cabc1e-edcd-810e-9417-cef234a6173a"},"title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:23:46.766904"}}],"properties":{"Name":{"title":{}}}}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-8192-8dd5-ce6b898d8711","cover":null,"icon":null,"created_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:23:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:23:46.766904","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:23:46.766904","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-810e-9417-cef234a6173a"},"url":"https://www.notion.so/16cabc1eedcd81928dd5ce6b898d8711","public_url":null,"archived":false,"in_trash":false,"request_id":"b3bee047-ba28-47b3-94e9-457ce9bc1f7a"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/databases/16cabc1e-edcd-8192-8dd5-ce6b898d8711
  response:
    content: '{"object":"database","id":"16cabc1e-edcd-8192-8dd5-ce6b898d8711","cover":null,"icon":null,"created_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2024-12-30T17:23:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2024-12-30 18:23:46.766904","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2024-12-30 18:23:46.766904","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"16cabc1e-edcd-810e-9417-cef234a6173a"},"url":"https://www.notion.so/16cabc1eedcd81928dd5ce6b898d8711","public_url":null,"archived":false,"in_trash":false,"request_id":"384d6a42-c75a-4b9c-b307-249e6a78e3ea"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-8192-8dd5-ce6b898d8711
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-8192-8dd5-ce6b898d8711","parent":{"type":"page_id","page_id":"16cabc1e-edcd-810e-9417-cef234a6173a"},"created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_database","child_database":{"title":"Test
      Database - 2024-12-30 18:23:46.766904"},"request_id":"d5bd5b3c-1100-4c3f-9007-03b55199e1da"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/16cabc1e-edcd-810e-9417-cef234a6173a
  response:
    content: '{"object":"block","id":"16cabc1e-edcd-810e-9417-cef234a6173a","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2024-12-30T17:23:00.000Z","last_edited_time":"2024-12-30T17:23:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"in_trash":true,"type":"child_page","child_page":{"title":"Test
      2024-12-30 18:23:43.701008"},"request_id":"df8591db-983a-4650-a072-76b2328c4d65"}'
    headers: {}
    status_code: 200
version: 1
