interactions:
- request:
    body: '{"mode":"single_part","filename":"test_file_small.txt","content_type":"text/plain"}'
    headers:
      authorization:
      - ntn_...
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads
  response:
    body:
      string: '{"object":"file_upload","id":"393abc1e-edcd-818b-967c-00b2228a952f","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"2026-07-04T09:11:00.000Z","expiry_time":"2026-07-04T10:11:00.000Z","upload_url":"https://api.notion.com/v1/file_uploads/393abc1e-edcd-818b-967c-00b2228a952f/send","in_trash":false,"status":"pending","filename":"test_file_small.txt","content_type":"text/plain","content_length":null,"archived":false,"request_id":"a6131cf2-2a06-49c3-8594-0fc08066783a"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: "--54234291219a0827c1064d714b92e660\r\nContent-Disposition: form-data; name=\"file\";
      filename=\"test_file_small.txt\"\r\nContent-Type: text/plain\r\n\r\nThis is
      test file content\r\n--54234291219a0827c1064d714b92e660--\r\n"
    headers:
      authorization:
      - ntn_...
      content-type:
      - multipart/form-data; boundary=54234291219a0827c1064d714b92e660
      notion-version:
      - '2025-09-03'
    method: POST
    uri: https://api.notion.com/v1/file_uploads/393abc1e-edcd-818b-967c-00b2228a952f/send
  response:
    body:
      string: '{"object":"file_upload","id":"393abc1e-edcd-818b-967c-00b2228a952f","created_time":"2026-07-04T09:11:00.000Z","created_by":{"id":"7775f3a3-893f-43fa-b625-460c61094c78","type":"bot"},"last_edited_time":"2026-07-04T09:11:00.000Z","expiry_time":"2026-07-04T10:11:00.000Z","in_trash":false,"status":"uploaded","filename":"test_file_small.txt","content_type":"text/plain","content_length":25,"archived":false,"request_id":"3f49551f-2402-46c3-a11c-f4dfbd9cdd10"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
