interactions:
- request:
    body: '{"parent": {"page_id": "95ba011667764c199e4554e77415f03b"}, "properties":
      {"title": [{"text": {"content": "Test 2023-12-25 22:50:51.140165"}}]}, "children":
      [], "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"page","id":"235a3528-0ed1-415f-b01f-365abea2e6ed","created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"cover":null,"icon":null,"parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"archived":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Test
      2023-12-25 22:50:51.140165","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      2023-12-25 22:50:51.140165","href":null}]}},"url":"https://www.notion.so/Test-2023-12-25-22-50-51-140165-235a35280ed1415fb01f365abea2e6ed","public_url":null,"request_id":"8cf2619b-71a1-4cd9-9e89-190c4c00905d"}'
    headers: {}
    status_code: 200
- request:
    body: '{"parent": {"type": "page_id", "page_id": "235a3528-0ed1-415f-b01f-365abea2e6ed"},
      "title": [{"type": "text", "text": {"content": "Test Database - 2023-12-25 22:50:51.497332"}}],
      "properties": {"Name": {"title": {}}}, "icon": null, "cover": null}'
    headers:
      authorization:
      - secret_...
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: '{"object":"database","id":"8f287a45-b6c1-40a5-8058-35d8d3218fd7","cover":null,"icon":null,"created_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-12-25T21:50:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-12-25 22:50:51.497332","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-12-25 22:50:51.497332","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"235a3528-0ed1-415f-b01f-365abea2e6ed"},"url":"https://www.notion.so/8f287a45b6c140a5805835d8d3218fd7","public_url":null,"archived":false,"request_id":"33068263-deef-4606-aa94-06504e4c5159"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: GET
    uri: https://api.notion.com/v1/databases/8f287a45-b6c1-40a5-8058-35d8d3218fd7
  response:
    content: '{"object":"database","id":"8f287a45-b6c1-40a5-8058-35d8d3218fd7","cover":null,"icon":null,"created_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_time":"2023-12-25T21:50:00.000Z","title":[{"type":"text","text":{"content":"Test
      Database - 2023-12-25 22:50:51.497332","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Test
      Database - 2023-12-25 22:50:51.497332","href":null}],"description":[],"is_inline":false,"properties":{"Name":{"id":"title","name":"Name","type":"title","title":{}}},"parent":{"type":"page_id","page_id":"235a3528-0ed1-415f-b01f-365abea2e6ed"},"url":"https://www.notion.so/8f287a45b6c140a5805835d8d3218fd7","public_url":null,"archived":false,"request_id":"b08db9e8-b392-4126-a348-d5254a7ca84b"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/8f287a45-b6c1-40a5-8058-35d8d3218fd7
  response:
    content: '{"object":"block","id":"8f287a45-b6c1-40a5-8058-35d8d3218fd7","parent":{"type":"page_id","page_id":"235a3528-0ed1-415f-b01f-365abea2e6ed"},"created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_database","child_database":{"title":"Test
      Database - 2023-12-25 22:50:51.497332"},"request_id":"448fc490-4b94-42d2-b741-9591a0e235e8"}'
    headers: {}
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret_...
      notion-version:
      - '2022-06-28'
    method: DELETE
    uri: https://api.notion.com/v1/blocks/235a3528-0ed1-415f-b01f-365abea2e6ed
  response:
    content: '{"object":"block","id":"235a3528-0ed1-415f-b01f-365abea2e6ed","parent":{"type":"page_id","page_id":"95ba0116-6776-4c19-9e45-54e77415f03b"},"created_time":"2023-12-25T21:50:00.000Z","last_edited_time":"2023-12-25T21:50:00.000Z","created_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"last_edited_by":{"object":"user","id":"7775f3a3-893f-43fa-b625-460c61094c78"},"has_children":false,"archived":true,"type":"child_page","child_page":{"title":"Test
      2023-12-25 22:50:51.140165"},"request_id":"b4733209-417e-460b-91b2-b5b3c9260a0b"}'
    headers: {}
    status_code: 200
version: 1
