interactions:
- request:
    body: ''
    headers:
      authorization:
      - ntn_...
      notion-version:
      - '2025-09-03'
    method: GET
    uri: https://api.notion.com/v1/pages/00000000-0000-0000-0000-000000000000
  response:
    body:
      string: '{"object":"error","status":404,"code":"object_not_found","message":"Could
        not find page with ID: 00000000-0000-0000-0000-000000000000. Make sure the
        relevant pages and databases are shared with your integration.","request_id":"6d12f3b5-58ac-4c24-a6eb-b66ebbb3c0f2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
