NOTION_API_KEY=<your-notion-api-key>
GITHUB_TOKEN=<your-github-personal-access-token>
GITHUB_REPO_OWNER=<github-owner-username>
GITHUB_REPO_NAME=<github-repo-name>

# Only set to "true" to enable Status updates.
UPDATE_STATUS_IN_NOTION_DB=false
# Required only when UPDATE_STATUS_IN_NOTION_DB=true
STATUS_PROPERTY_NAME=Status
