interactions:
- request:
    body: '{"parent": {"page_id": null}, "properties": {"title": [{"text": {"content":
      "Test Page - 2022-11-13 11:58:44.392249"}}]}, "children": []}'
    headers:
      authorization:
      - Bearer secret_UWDjvhuUx693qHExqJxQ9nu1KabHlyBJ78u3vUM8YDF
      content-type:
      - application/json
      notion-version:
      - '2022-06-28'
    method: POST
    uri: https://api.notion.com/v1/pages
  response:
    content: '{"object":"error","status":400,"code":"validation_error","message":"body
      failed validation. Fix one:\nbody.parent.database_id should be defined, instead
      was `undefined`.\nbody.parent.page_id should be a string, instead was `null`."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e8-z5NovNomN0RHq3OTys2jZFweP4U"
    status_code: 400
version: 1
